@media only screen and (max-width: 1230px) {
	.block_listing .block_1:nth-child(2), 
	.block_listing .block_1:nth-child(5) {
	    margin: 0 8.5%;
	}
	.column {
		padding: 0px 2% !important;
	}
	.column.column-4{
		padding-right: 0 !important;
	}
}
@media only screen and (max-width: 1139px) {
	.testi_slider h3{
		margin-left: 157px;
	}
	.owl-dots{
		margin: 45px 0 0 40px;
	}
	.ft_column .column.column-2{
		width: 33.9%;
	}
	.hd_naviagtion ul li {
    	margin: 0 0 0 21px;
	}
	.hd_naviagtion ul li a{
		font-size: 15px;
	}	
	.block_listing .block_1:nth-child(2), 
	.block_listing .block_1:nth-child(5) {
	    margin: 0 3.5%;
	}
	.hd_naviagtion {
    	margin: 1px 15px 0 0;
	}
	.owl-carousel .owl-item .testi_quote img {
    	width: 31px;
	}
	.testi_img {
    	margin-right: 13px;
	}
	.testi_quote{
	    margin-right: 8px;
	}
	.ft_column li a, .ft_column p a, .ft_column p strong{
		font-size: 14px;
	}
}
@media only screen and (max-width: 1024px) {
	.menu-icon {
	    top: -21px;
	    display: inline-block;
	    height: 30px;
	    margin: 0;
	    position: relative;
	    width: 30px;
	}
	.hd_naviagtion{
		display: none;
	}
	.hd_right-btns {
    	margin: 10px 34px 0 0;
	}
}
@media only screen and (max-width: 1023px) {
	.ft_logo {
	    margin: 10px 0 15px;
	    width: 100%;
	    text-align: center;
	}
	.column.column-4, .ft_column .column.column-4 p{
		float: left;
	}
	.ft_column{
		width: 100%;
	}
}
@media only screen and (max-width: 999px) {
	.video_div {
	    position: relative;
	    max-width: 500px;
	    margin: 0 auto;
	}
	.testi_slider .owl-carousel .owl-item .item {
    	min-width: 535px;
	}
	.video_demo {
	    width: 100%;
	    text-align: center;
	    margin-top: 30px;
	}
	.testi_slider{
		width: 100%;
		padding-right:0;
		float: none;
		max-width: 527px;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 954px) {
	video {
	width: auto;
	height: 500px;
	max-width: 100%;
}
	.ft_column li a, .ft_column p a, .ft_column p strong {
    	font-size: 13px;
	}
	.block_listing .block_1:nth-child(2), .block_listing .block_1:nth-child(5){
		margin: 0;
	}
}
@media only screen and (max-width: 768px) {

	.testi_slider h3 {
	    text-align: center;
	    margin-left:0;
	}
	.testi_slider .owl-dots{
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.banner.for_mobile {
	display: block;
}
	video {
		display: none;
	}
	
	.testi_content p{
		font-size: 15px;
	}
	.ft_column .column.column-4 {
    	float: left;
	    width: 100%;
	    text-align: center;
	}
	.ft_column .column.column-4 p{
		float: none;
	}
	.banner_data h2{
		font-size: 14px;
		line-height: 19px;
	}
	.inner_vide_testi {
    	padding: 0 20px;
	}
	.blocks{
		padding: 0 20px;
	}
	.column {
	    padding: 0px 0 !important;
	    width: 100% !important;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.ft_column .column::after {
		height: 1px;
	    right: 0;
	    width: 100%;
	    max-width: 200px;
	    top: auto;
	    bottom: 0;
	    margin: 0 auto;
	    left: 0;
	}
	footer {
    	padding: 50px 20px 26px;
	}
	.block_listing .block_1, 
	.block_listing .block_1:nth-child(2), 
	.block_listing .block_1:nth-child(5){
		width: 100%;
		margin: 0 0 30px 0;
	}
	.block_listing .block_1 h2{
		line-height: 21px;
		font-size: 19px;
	}
	.banner_data h1{
		font-size: 24px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 639px) {

	.block_listing .block_1 h2 {
	    line-height: 21px;
	    font-size: 18px;
	}
}
@media only screen and (max-width: 599px) {
	.fix_head .hd_right-btns {
	    margin: 9px 34px 5px 0;
	}
	.hd_logo{
		top: 6px;
		position: relative;
	}
	.hd_right-btns {
	    margin: 6px 34px 5px 0;
	}
	.fix_head .hd_logo{
		top: 9px;
	}
	.ft_column li a, .ft_column p a{
		font-size: 14px;
	}
	.testi_img {
		width: 100%;
	}
	.testi_content {
    	width: 100%;
	}
	.testi_slider .owl-carousel .owl-item .item{
		width: 100%;
	}
	.owl-carousel .owl-item .testi_img img{
	    width: 103px;
	    float: left;
	    margin: 0 auto;
	}
	header{
	    padding: 30px 20px 20px 20px;
	}
	#nav-icon1{
		top: 68px;
	}
	.hd_right-btns a.login_btn{
		margin-left: 0;
		width: 85px;
	}
	.hd_right-btns a.create_acc{
		width: 173px;
	}
	header.fix_head{
		padding:12px 20px 14px 20px;
	}
	.hd_logo img {
	    vertical-align: top;
	    width: 145px;
	}
}
@media only screen and (max-width: 568px) {
	.banner_data h1 {
	    font-size: 20px;
	    line-height: 26px;
	}
	.testi_content p br {
		display: none;
	}
	.testi_slider .owl-carousel .owl-item .item {
	    min-width: 0;
	}
	.testi_content p{
		margin: 7px 0 0;
	}
}
@media only screen and (max-width: 530px) {
	.hd_logo {
	    float: left;
	    width: 100%;
	    text-align: center;
	}
	.hd_right-btns {
	    margin: 22px 0 0;
	    width: 100%;
	    text-align: center;
	}
}
@media only screen and (max-width: 500px) {
	.fix_head .hd_right-btns {
    	margin: 23px 0 5px 0;
	}
}
@media only screen and (max-width: 480px) {
	.banner_data {
	    top: 189px;
	}
	.banner_data h1{
		margin-bottom: 21px;
	}
}
@media only screen and (max-width: 455px) {
	.banner_data .banner_btns a{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 320px) {
	.blocks > span{
		line-height: 20px;
		font-size: 13px;
		padding: 8px 16px 9px;
	}
}

