/*******Normalize css**************/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
body a:active,
body a:hover,
body a:focus {
  outline: 0;
  text-decoration: none;
}
.clr { clear: both; }
button { overflow: visible; }
button,
select { text-transform: none; }
select:focus { outline: 0; }
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: none;
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
}
button[disabled],
html input[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
a {
  display: inline-block;
   transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
input {
  line-height: normal;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
input:hover,
input:focus,
textarea:hover, 
input[type="text"]:hover, 
textarea:active, 
input[type="text"]:active, 
textarea:focus, 
input[type="text"]:focus,
button:focus,
button:active,
button:hover {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none!important;
}
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="button"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
button {
  -webkit-appearance: none !important;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
select {
  box-shadow: none;
  border-radius: 0;
  border: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
}
input::-moz-placeholder {
	opacity: 1;
  color: #5c5c5c;
}
input::-webkit-placeholder {
  opacity: 1;
  color: #5c5c5c;
}
textarea::-moz-placeholder {
  opacity: 1;
  color: #5c5c5c;
}
input:-ms-input-placeholder {	
  opacity: 1;
  color: #5c5c5c;
}
::-webkit-input-placeholder {
  opacity: 1;
  color: #5c5c5c;
}
:-ms-input-placeholder { 
  opacity: 1; 
  color: #5c5c5c;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  border-radius: 0;
}
input[type="radio"] {
  -webkit-appearance: radio;
  border-radius: 0;
}
input {
  -webkit-border-radius:0; 
  border-radius:0;
  box-shadow: none;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] { -webkit-appearance: none; }
input[type="text"]:focus, 
textarea:focus { outline: 0; }
input[type="text"]:hover, 
textarea:hover { outline: 0; }
select::-ms-expand {
    display: none;
}
/* Mozilla based browsers */
::-moz-selection {
  background-color: #1952bb;
  color: #fff;
}
/* Works in Safari */
::selection {
  background-color: #1952bb;
  color: #fff;
}
a:hover, 
a:focus ,
a{ 
  outline: none;
  text-decoration: none; 
}

/********Main css**************/

@font-face {
  font-family: 'EncodeSans-Bold';
  src: url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),  
	  url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Bold.woff') format('woff'), 
	  url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Bold.ttf')  format('truetype'), 
	  url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Bold.svg#EncodeSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans-Regular';
  src: url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Regular.eot?#iefix') format('embedded-opentype'),  
	  url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Regular.woff') format('woff'), 
	  url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Regular.ttf')  format('truetype'), 
	  url('../../../bundles/drivingschoolfront/fonts/EncodeSans-Regular.svg#EncodeSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hidden{
	opacity: 0;
}
.visible{
	opacity: 1;
}
body {
	margin: 0 0 0 0;
	font-weight: normal;
	padding: 0 0 0 0;
	font-family: 'EncodeSans-Regular';
}
header  {
	float: left;
	width: 100%;
	z-index: 9;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	/* background: #cccccc; */
	position: fixed;
	/* top: 44px; */
	padding: 44px 20px 20px 20px;
}
header.fix_head {
	background: #ffffff;
	top: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	padding:10px 20px 15px 20px;
	box-shadow: 0 0px 4px #6f6f6f;
	z-index: 999;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}
.hd_logo {
	float: left;
}
.fix_head .hd_logo {
    position: relative;
    top: 4px;
}
.hd_logo img {
	vertical-align: top;
    max-width: 105px;
}
.hd_naviagtion {
	float: right;
	margin: 1px 29px 0 0;
}
.hd_naviagtion ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.hd_naviagtion ul  li {
	float: left;
	margin: 0 0 0 36px;
	list-style-type: none;
}
.hd_naviagtion ul li a {
	text-decoration: none;
	font-family: 'EncodeSans-Regular';
	font-size: 16px;
	line-height: 54px;
	color: #ffffff;
}
.hd_naviagtion ul li a:hover{
	color: #43D3EE;
}
header.fix_head .hd_naviagtion ul li a {
	color: #2e2e2e;
}
header.fix_head .hd_naviagtion ul li a:hover{
	color: #0090FF;
}
.hd_right-btns {
	float: right;
	margin: 10px 0 0 0;
}
.hd_right-btns a {
	font-family: 'EncodeSans-Bold';
	font-size: 15px;
	display: inline-block;
	line-height: 18px;
	margin: 0 0 0 11px;
	color: #ffffff;
	vertical-align: top;
	font-size: 14px;
}
.hd_right-btns a.login_btn {
	width: 92px;
	height: 40px;
	border-radius: 4px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	border: 2px solid #ffffff;
	padding-left: 7px;
}
.hd_right-btns a.login_btn:hover {
	text-shadow: 1px 2px 0px #007ee0;
	background: #0090ff;
	border-color: #0090ff;
}
.hd_right-btns a.login_btn i {
	font-size: 11px;
	margin: 0 0 0 3px;
}
header.fix_head .hd_right-btns a.login_btn, header.fix_head .hd_right-btns a.create_acc {
	color: #2e2e2e;
	border-color: #e1e1e1;
}
header.fix_head .hd_right-btns a.login_btn:hover, header.fix_head .hd_right-btns a.create_acc:hover{
	color: #fff;
	border-color: #0090ff;
}
.hd_right-btns a.create_acc:hover{
	background: #0090ff;
	border-color: #0090ff;
}
/*
header.fix_head .hd_right-btns a.create_acc:hover{
	color: #0090ff;
	border-color: #0090ff;
}
*/
.hd_right-btns a.create_acc {
	width: 186px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: transparent;
	border-radius: 4px;
	line-height: 37px;
	border: 2px solid #fff;
}
.main_banner {
	float: left;
	width: 100%;
	background-color: #0056B7;
}
.main_banner .banner  {
	height: 620px;
	width: 100%;
	background-image: url("../../../bundles/drivingschoolfront/images/banner_img_1.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
.banner_data {
	padding: 0 20px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 181px;
	z-index: 99;
}
.banner_data h2 {
	font-family: 'EncodeSans-Regular';
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;
	margin: 0 0 13px 0;
}
.banner_data h1 {
	font-family: 'EncodeSans-Bold';
	font-size: 32px;
	line-height: 36px;
	font-weight: normal;
	color: #ffffff;
	margin: 0 0 38px 0;
}
.banner_data .banner_btns {
	float: left;
	text-align: center;
	width: 100%;
}
.banner_data .banner_btns a {
	display: inline-block;
	padding: 0 15px 0 17px;
	height: 40px;
	border-radius: 4px;
	font-family: 'EncodeSans-Bold';
	font-size: 15px;
	color: #ffffff;
	vertical-align: middle;
	border: 2px solid #ffffff;
	line-height: 36px;
	margin: 0 3px;
}
.banner_data .banner_btns a:hover{
	text-shadow: 1px 2px 0px #007ee0;
	background: #0090ff;
	border: 2px solid #0090ff;
}
.six_blocks {
	float: left;
	width: 100%;
	background: #f6f6f6;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 20px 50px;
	position: relative;
	margin-top: -123px;
}
.blocks {
	float: left;
	width: 100%;
	position: relative;
	z-index: 9;
	text-align: center;
	background: #fff;
	padding: 0 60px;
	border-radius: 25px;
    margin-top: -60px;
}
.blocks > span {
	font-family: 'EncodeSans-Bold';
	font-size: 18px;
	background: #0090ff;
	line-height: 20px;
	color: #ffffff;
	padding:7px 24px 10px 24px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	top: -20px;
	border-radius: 20px;
	text-shadow: 1px 2px 0px #007ee0;
	box-shadow: 0 2px 3px #ededed;
}
.block_listing {
	float: left;
	width: 100%;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 0 0 13px 0;
}
.block_listing .block_1 {
	display: inline-block;
	width: auto;
	padding: 0 10px;
	margin-bottom: 27px;
}
.block_listing .block_1 img {
	vertical-align: top;
}
.block_listing .block_1 h2 {
	font-size: 22px;
	margin: 18px 0 11px 0;
	padding: 0 0 0 0;
	font-weight: normal;
	line-height: 28px;
	font-family: 'EncodeSans-Bold';
	color: #1161bc;
}
.block_listing .block_1 p {
	font-size: 16px;
	color: #2e2e2e;
	font-family: 'EncodeSans-Regular';
	line-height: 18px;
	margin: 0 0 10px 0;
}
.block_listing .block_1:nth-child(2), 
.block_listing .block_1:nth-child(5) {
	margin: 0 12.5%;
}
.video_testi {
	float: left;
	width: 100%;
	padding:55px 20px 56px 20px;
	background: #ffffff;
}
.inner_vide_testi {
	padding: 0 60px;
}
.testi_slider h3, 
.video_demo h3 {
	font-size: 22px;
	color: #2e2e2e;
	font-family: 'EncodeSans-Bold';
	line-height: 26px;
	font-weight: normal;
	text-align: center;
	margin: 0 0 27px 0;
}
.testi_slider h3{
    text-align: left;
    margin-left: 203px;
    margin-bottom: 22px;
}
.testi_slider {
	float: left;
	width: 63.5%;
	padding-right: 15px;
}
.video_demo {
	float: right;
	width: 36.5%;
	text-align: center;
}
.video_div {
	position: relative;
}
.video_arrow {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.testi_quote {
	padding-top: 4px;
	vertical-align: top;
	float: left;
	margin-right: 24px;
}
.testi_img {
	float: left;
	padding-top: 5px;
	vertical-align: top;
	margin-right: 28px;
}
.testi_content {
	float: left;
	vertical-align: top;
	top: -3px;
}
.owl-carousel .owl-item .testi_quote img {
	width: auto;
}
.testi_img img,
.owl-carousel .owl-item .testi_img img {
    height: 103px;
    width: 103px;
    padding: 4px;
    border: 2px dotted #d7d7d7;
    border-radius: 50%;
}
.testi_content p {
	font-family: 'EncodeSans-Regular';
	font-size: 16px;
	color: #000;
	margin: 0;
	line-height: 24px;
}
.testi_content span.author {
	display: block;
	font-family: 'EncodeSans-Regular';
	font-size: 15px;
	line-height: 18px;
	color: #000;
	margin: 26px 0 0 0;
}
.testi_content span.author b {
	color: #1161bc;
	font-family: 'EncodeSans-Bold';
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
}
footer {
	background: #202020;
	float: left;
	width: 100%;
	padding:60px 20px 48px;
}
.ft_logo {
	float: left;
	margin: 10px 0 0;
}
.ft_logo img {
	vertical-align: top;
    max-width: 198px;
}
.copyright {
	background: #151515;
	padding: 38px 0 42px;
	float: left;
	width: 100%;
}
.copy_text {
	float: left;
	width: 100%;
	text-align: center;
}
.copy_text p {
	font-family: 'EncodeSans-Regular';
	font-size: 14px;
	line-height: 18px;
	color: #dadada;
	letter-spacing: -0.01em;
	margin: 0 0 0 0;
}
.ft_column {
    float: right;
    width: 77%;
}
.column {
    float: left;
	padding: 0px 4%;
	width: 26%;
	position: relative;
}
.ft_column li{
	list-style: none;
}
.ft_column ul{
	padding: 0;
}
.ft_column .column-4 p a{
	line-height: 21px;
}
.ft_column li a, .ft_column p a{
	color: #dadada;
	font-size: 15px;
	line-height: 28px;
	font-family: 'EncodeSans-Regular';
}
.ft_column p a:hover, .ft_column li a:hover{
	color: #0090ff;
}
.ft_column p strong{
	font-weight: normal;
	display: block;
	margin-bottom: 2px;
	font-family: 'EncodeSans-Bold';
}
.ft_column p{
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	font-family: 'EncodeSans-Regular';
}
.ft_column p span{
	color: #dadada;
}
.ft_column .column.column-1 {
    width: 17.4%;
	padding-left: 2%;
}
.ft_column .column::after {
	content: "";
	position: absolute;
	height: 97px;
	background-color: #323232;
	right: 0;
	width: 1px;
	top: 26px;
	bottom: 0;
}
.ft_column .column.column-2 {
    width: 36.9%;
	padding-left: 5.4%;
}
.ft_column .column.column-3 {
    width: 23.2%;
    padding-left: 5.5%;
    padding-top: 6px;
}
.ft_column .column.column-3 p:nth-of-type(2){
	margin-top: 21px;
}
.column.column-4 {
    padding-right: 0;
    width: 22%;
    padding-top: 5px;
    float: right;
}
.ft_column .column.column-4 p{
	float: right;
}
.column.column-4::after {
    content: none;
}
.owl-dot span {
    height: 10px;
    width: 10px;
    background-color:#E8E8E8;
    display: block;
    border-radius: 50%;
}
.owl-dot.active span, .owl-dot span:hover {
	background-color: #1161BC;
}
.owl-dot {
	margin-right: 8px;
    display: inline-block;
}
.owl-dots {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    margin:45px 0 0 63px;
}
.video_testi .container {
    max-width: 1163px;
}
a.link-to-bottom {
    position: absolute;
	right: 0;
	left: 0;
	bottom: -15px;
	height: 33px;
	width: 78px;
	margin: 0 auto;
	color: #000;
	font-size: 16px;
	border-radius: 33px;
	line-height: 31px;
    background-image: url("../../../bundles/drivingschoolfront/images/down-angle-image.png");
}
a.link-to-bottom:hover{
	color: #1161bc;
}
a.link-to-bottom i{
    bottom: -4px;
    position: relative;
    font-size: 14px;
    right: -2px;
}
.video_div > img{
	width: 98%;
}
.video_div > img.video_arrow{
	width: auto;
}



menu { display: none; }

.menu-icon {
  display: none;
  height: 30px;
  margin: 0;
  position: relative;
  width: 30px;
}

#nav-icon1, 
#nav-icon2, 
#nav-icon3, 
#nav-icon4 {
  background-color: transparent;
  cursor: pointer;
  float: left;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 86px;
  right: 10px;
  transform: rotate(0deg);
  transition: all .3s ease-in-out 0s;
  width: 30px;
  z-index: 9999;
}
.fix_head #nav-icon1 {
    top: 52px;
}
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background:#0090ff;
  border-radius: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) { top: 0; }
#nav-icon1 span:nth-child(2) { top: 8px; }
#nav-icon1 span:nth-child(3) { top: 16px; }
.mm-opened #nav-icon1 span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mm-opened #nav-icon1 span:nth-child(2) {
  left: -60px;
  opacity: 0;
}
.mm-opened #nav-icon1 span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.mm-menu { 
	background: #0090ff !important; 
	z-index: 999 !important 
}
.mm-panels>.mm-panel { 
	border-left: 0; 
}
.mm-panels > .mm-panel > .mm-listview { 
	margin: 20px -40px; 
}
.mm-listview > li > a, 
.mm-listview > li > span {
	padding: 13px 10px 13px 40px; 
	font-size: 16px;
	color: #fff; 
	color: #fff !important;
	font-weight: 500;
	font-family: 'EncodeSans-Regular';
	font-weight: normal;
}
.mm-listview > li > a:hover{
	color: #000 !important;
}
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {
    background: #1161bc !important;
}
.mm-menu .mm-navbar a, 
.mm-menu .mm-navbar > * { 
	color: #fff; 
}
.mm-menu .mm-listview > li .mm-arrow::after, 
.mm-menu .mm-listview > li .mm-next::after,
.mm-menu .mm-btn::after, 
.mm-menu .mm-btn::before { 
	border-color: #fff; 
}
.mm-listview .mm-next { 
	right: 19px; 
}
.mm-menu .mm-navbar .mm-title { 
	text-transform: uppercase; 
	color: #fff;
}
.mm-panel.mm-hasnavbar .mm-navbar{
	display: none !important;
}
.menu-icon:hover span{
	background: #fff !important;
}
.fix_head .menu-icon:hover span{
	background: #000 !important;
}
.mm-slideout{
	top: 0;
	position: fixed;
}
html.mm-right.mm-opening .mm-slideout{
	z-index: 9;
}
video {
	width: 100%;
	height: 100%;
}
.banner.for_mobile {
	display: none;
}