{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop student-card-section">
        <ol class="breadcrumb st_card">
            <li>
                <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
            </li>
            <li>
                <a href="{{ path('driving_school_school_students_list') }}"><i class="fa fa-users"></i>&nbsp;Student</a>
            </li>
            <li>
                <span>Student Card</span>
            </li>
        </ol>
    </div>
</div>
<div class="student-card-content studentcard-tour">
    <div class="stud_card_main">
        <div class="stude_wrapp">
            <div class="stud_img_pro">  
                <input id="student_logoimg_upload" name="studentimg" type="file">
                <input id="studentid" type="hidden" value="{{ student.id }}" name="studentid">
                <!-- <a class="click-change-img" href="javascript:void(0);"> -->
                <a>
                    {% if imagepath == null %}
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/nouser.jpg'))}}">
                    {% else %}
                        <img src="{{ imagepath }}">
                    {% endif %}
                </a>
                <div class="stud_detail_img">
                    <h5>{{ student.firstName }} {{ student.lastName }}</h5>
                    <span>Pupil Since
                        {% if student.createdAt|date('M d,Y') != 'Nov 30,-0001' %}
                            {{ student.createdAt|date('M d,Y') }}
                        {% endif %}</span>
                    <label>New Student</label>
                </div>
            </div>

            <div class="profilehide card-profile-view-t">
                <div class="student_profile_header">
                    <div class="stude_details lst">
                        <a href="javascript:void(0);" title="Activate Account" id="accountactivation" class="card-activate-t"><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);" class="edit_profile card-profile-t" title="Edit Profile" id="studentprofileupdate"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="#sendmessage" class="fancybox card-message-t" title="Send Message"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                	<h4>Profile</h4>
                </div>
                <div class="stude_details fst">
                	<b>Phone </b>
                	<span>{{ student.phone }}</span>
                </div>
                <div class="stude_details">
                	<b>Email </b>
                	<span>{{ student.email }}</span>
                </div>
            	<div class="stude_details">
                    <b>Authorization</b>
                	<span>{% if(student.authorization == '') %} - {% else %} {{ student.authorization }} {% endif %}</span>
                </div>
                <div class="stude_details">
                	<b>Health Declaration </b>
                	<span>{% if(student.healthInformation == '') %} - {% else %} {{ student.healthInformation }} {% endif %}</span>
                </div>
            </div>
            <div class="profilehide table2 too-good-section card-credit-history-t">
                <div class="student_profile_header">
                    <div class="stude_details check-list-item">
                        <a href="#packageorcreadit" class="fancybox card-packageorcreadit-t" title="Add package or creadit"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);" id="displayallcreadit" title="View More Creadit" class="card-creditlist-t"><i class="fa fa-list" aria-hidden="true"></i></a>
                    </div>
                    <h4>Too Good</h4>
                </div>
                <!-- <div class="stude_details fst"> -->
                {% for financialpackage in financialpackages %}
                    {% if financialpackage.course_type == 1 %}
                    <div class="stude_details check-item">
                        <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ financialpackage.icon_path))}}" height="30" width="30" />
                        <b>{{ financialpackage.trainingname }}</b>
                        {% if financialpackage.calcqty > 0 %}
                            <span>{{ financialpackage.calcqty }} Pieces</span>
                        {% else %}
                            <span style="color:#a94442;font-weight: 600;">{{ financialpackage.calcqty }} Pieces</span>
                        {% endif %}
                        <a href="javascript:void(0);" class="stucreadithistory" data-id="{{ financialpackage.trainingid }}">History</a>
                    </div>
                    {% else %}
                    <div class="stude_details check-item">
                        <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ financialpackage.icon_path))}}" height="30" width="30" />
                        <b>{{ financialpackage.trainingname }}</b>
                            {% if financialpackage.calcminute > 0 %} 
                                <span>{{ (financialpackage.calcminute * 60)|date('H:i', false) }} Hours</span>
                            {% else %}
                                {% set mnts = financialpackage.calcminute|abs  %}
                                <span style="color:#a94442;font-weight: 600;">{{ "-" ~ (mnts * 60)|date('H:i', false) }} Hours</span>
                            {% endif %}
                        <a href="javascript:void(0);" class="stucreadithistory " data-id="{{ financialpackage.trainingid }}">History</a>
                        {% if financialpackage.calcminute > 0 %} 
                            <div class="progress" style="height: 10px;">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ financialpackage.calcprogressminute }}%"></div>
                            </div>
                        {% else %}
                            <div class="progress" style="height: 10px;">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
                <a href="#creadithistory" class="hiddenhistoryclick fancybox" data-id="{{ financialpackage.trainingid }}" style="display: none;"></a>
            </div>
            
            <div id="sendmessage" style="display: none">
                <form name="sendmesage" method="post" action="{{ path('driving_school_school_student_sendmessage') }}">
                    <input type="hidden" name="id" value="{{ student.id }}">
                    <div class="card_popup">
                        <label>To</label>
                        <input type="email" name="to_email" value="{{ student.email }}" placeholder="To Email">
                    </div>
                    <div class="card_popup">
                        <label>From</label>
                        <input type="email" name="from_email" value="{{ username }} - {{ useremail }}" class="disabled" disabled="">
                    </div>
                    <div class="card_popup">
                        <label>Topic</label>
                        <input type="text" name="topic" value="" placeholder="Subject">
                    </div>
                    <div class="card_popup comment_card_content">
                        <label>Content</label>
                        <textarea name="editor1" id="editor1" rows="10" cols="80">
                        </textarea>
                    </div>
                    <div>
                        <input type="submit" name="sendmessage" value="Send">
                    </div>
                </form>
            </div>
            <div id="packageorcreadit" class="pop2" style="display: none">
                <div id="tabs">
                    <ul class="owl-carousel owl-theme">
                    {% for name, priceandpackage in priceandpackages %}
                        <!-- <div class="tab-part" data-id="{{ priceandpackage.priceid }}"> -->
                            <li class="item"><a href="#courses_{{ priceandpackage.priceid }}">
                                    <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ priceandpackage.icon_path))}}" height="50" width="50" />
                                    <span>{{ name }}</span>
                                </a>
                            </li>
                        <!-- </div> -->
                    {% endfor %}
                    </ul>
                    {% for name, priceandpackage in priceandpackages %}
                        <div id="courses_{{ priceandpackage.priceid }}">
                            <form method="post" name="courses" id="creaditsubmit">
                                <input type="hidden" name="studentid" value="{{ student.id }}" class="studentid">
                                <input type="hidden" name="priceandpackageid" value="{{ priceandpackage.priceid }}" class="priceandpackageid">
                                <div id="quantityhide">
                                    <input type="text" name="qty" value="1" placeholder="Quantity" onkeypress="return isNumberKey(event)" class="qty"> 
                                    <input type="text" name="minute" value="" placeholder="Minute" class="percentage minute" onkeypress="return isNumberKey(event)"><span class="pso">Min </span>
                                </div>
                                <select name="courses" class="courses" required="">
                                    <option value="">Select Package</option>
                                        {% set html = "" %}
                                        {% set datacontains = false %}
                                        {% for key, package in priceandpackage %}
                                            {% if key|trim != 'icon_path' %}
                                                {% if package.trainingtype|trim == 0 %}
                                                    {% if package.trainingname is not empty  %}
                                                        {% set html = html~ '<option value="' ~ package.trainingid ~ '" id=0>' ~ package.trainingname ~ '</option>' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if html is not empty %}
                                            {% set datacontains = true %}
                                            <optgroup label="Driving Lesson">
                                                {{ html | raw}}
                                            </optgroup>
                                        {% endif %}
                                        {% set html = "" %}
                                        {% for key, package in priceandpackage %}
                                            {% if key|trim != 'icon_path' %}
                                                {% if package.trainingtype == 1  %}
                                                    {% if package.trainingname is not empty  %}
                                                        {% set html = html~ '<option value="' ~ package.trainingid ~ '" id=1>' ~ package.trainingname ~ '</option>' %}
                                                    {% endif %}
                                                {% endif %}
                                             {% endif %}
                                        {% endfor %}
                                        {% if html is not empty %}
                                            {% set datacontains = true %}
                                            <optgroup label="Examination And Tests">
                                                {{ html | raw}}   
                                            </optgroup>
                                        {% endif %}
                                        {% set html = "" %}
                                        {% for key, package in priceandpackage %}
                                            {% if key|trim != 'icon_path' %}
                                                {% if package.trainingtype == 2  %}
                                                    {% if package.trainingname is not empty  %}
                                                        {% set html = html~ '<option value="' ~ package.trainingid ~ '" id=2>' ~ package.trainingname ~ '</option>' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if html is not empty %}
                                            {% set datacontains = true %}
                                            <optgroup label="Other">
                                                {{ html | raw}}
                                            </optgroup>
                                        {% endif %}
                                        {% set html = "" %}
                                        {% for key, package in priceandpackage %}
                                            {% if key|trim != 'icon_path' %}
                                                {% if package.trainingtype == 3  %}
                                                    {% if package.trainingname is not empty  %}
                                                        {% set html = html~ '<option value="' ~ package.trainingid ~ '" id=3>' ~ package.trainingname ~ '</option>' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if html is not empty %}
                                            {% set datacontains = true %}
                                            <optgroup label="Packages">
                                                {{ html | raw}}
                                            </optgroup>
                                        {% endif %}
                                        {% if datacontains == false %}
                                            <option value="">There is no data</option>
                                        {% endif %}

                                </select>
                                <input type="hidden" name="price" value="" class="price">
                                <input type="hidden" name="amount" value="" class="amount">
                                <input type="hidden" name="vat" value="" class="vat">
                                <input type="hidden" name="includedvat" value="" class="includedvat">
                                <input type="submit" name="submitcourse" value="Save" id="submitcourse">
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="packagetabs" style="display:none;">
            <ul>
                <li><a href="#lesson_overview" class="card-lesson-overview-t">Lesson Overview</a></li>
                <li><a href="#exams" class="card-exams-t">exams</a></li>
                <li><a href="#financial" class="card-financial-t">Financial</a></li>
                <li><a href="#notes" class="card-notes-t">Notes</a></li>
            </ul>
            <div id="lesson_overview">{{ render(controller('DrivingSchoolSchoolBundle:Student:studentlessons', { 'id': student.id})) }}</div>
            <div id="exams">{{ render(controller('DrivingSchoolSchoolBundle:Student:studentexams', { 'id': student.id})) }}</div>
            <div id="financial" class="finance_form">{{ render(controller('DrivingSchoolSchoolBundle:Student:studentfinancial', { 'id': student.id})) }}</div>
            <div id="notes">{{ render(controller('DrivingSchoolSchoolBundle:Student:notes', { 'id': student.id})) }}</div>
        </div>
        <div id="account_content" style="display:none;">
            {{ render(controller('DrivingSchoolSchoolBundle:Student:activate', { 'id': student.id})) }}
        </div>
        <div id="studet_profile_form" style="display: none;">
            <!-- {{ path('driving_school_school_student_profile', {'id' : student.id }) }} -->
            {{ render(controller('DrivingSchoolSchoolBundle:Student:studentprofile', { 'id': student.id})) }}
        </div>
        <div id="creadithistory">
        </div>
    </div>
</div>
<!-- ck editor -->
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock %}
