<div>
	<div>
		<img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ iconpath))}}" height="30" width="30" />
		<span>History</span>
		<span>{{ trainingname }}</span>
	</div>
	<form method="post" action="{{ path('driving_school_school_students_addHistory', {'trainingid' : trainingid}) }}">
		<table>
			<tr>
				<td><input type="text" name="description" placeholder="Description"></td>
				<td>
					<select name="incr_decr">
						<option value="1">Increase With</option>	
						<option value="0">Decrease With</option>	
					</select>
				</td>
				<td><input type="text" name="quantity" placeholder="Quantity" onkeypress="return isNumberKey(event)" onpaste="return false;"></td>
				<td><input type="submit" name="submit" value="+"></td>
			</tr>
			{% for history in histories %}
				{% if history.course_type == 1 %}
					<tr>
						<td>
							{% if history.increase_decrease == 1 %}
								<span style="color:#3c763d;font-weight: 600;">{{ history.quantity }} pieces</span>
							{% else %}
								<span style="color:#a94442;font-weight: 600;">{{ history.quantity }} pieces</span>
							{% endif %}
						</td>
						<td>{{ history.description }}</td>
						<td>{{ history.creation|date('d-m-Y') }}</td>
						<td></td>
					</tr>			
				{% endif %}
			{% endfor %}
		</table>
	</form>
</div>