{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>New Student</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
            </li>
            <li>
                <a href="{{ path('driving_school_school_students_list') }}"><i class="fa fa-users"></i>&nbsp;Student</a>
            </li>
            <li>
                <span>New Student</span>
            </li>
        </ol>
    </div>
</div>
<div class="container right-middle-section clearfix">
    <div class="ml-one for_mobile"> 
        <span>New Student</span>
    </div>
    <form class="stud_form" method="post" action="{{ path('driving_school_school_students_update', {'id' : id }) }}">
        <div class="main-box">
            <div class="box-heading">
                <span class="panel-title"><font><font>Which training will <b>{{ firstname|capitalize }}</b> follow?</font></font></span>
            </div>
            <div class="table-responsive">
                <div class="validate-position">
                    <div>
                        {% for icon in icons %}
                        <div class="priceandpackages">
                            <div class="rdbutton">
                                <input id="price_and_packages_form_icon_{{ icon.id }}" name="icon_id" required="required" value="{{ icon.id }}" type="radio">
                                <label></label>
                            </div>
                            <div>
                                <label for="price_and_packages_form_icon_{{ icon.id }}"><img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ icon.iconPath))}}" /></label>
                            </div>
                            <div>
                                <strong><label for="price_and_packages_form_icon_{{ icon.id }}" class="icon-box">{{ icon.iconTitle }}</label></strong>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="main-box">
            <div class="box-heading">
                <span class="panel-title"><font><font>Where does <b>{{ firstname|capitalize }}</b> live?</font></font></span>
                <span>You can also set it later</span>
            </div>
            <div class="inner-body">
                <div class="half_stud">
                    <label>Postal Code<span id="postal_code-error">*</span></label>
                    <input type="text" name="postal_code" onkeypress="return isNumberKey(event)" onpaste="return false;">
                </div>
                <div class="half_stud">
                    <label>House Number<span id="postal_code-error">*</span></label>
                    <input type="text" name="house_number">
                </div>
            </div>
        </div>
        <div class="main-box">
            <div class="box-heading">
                <span class="panel-title"><font><font>How can we reach <b>{{ firstname|capitalize }}</b>?</font></font></span>
                <span>You can also set it later</span>
            </div>
            <div class="inner-body">
                <div  class="half_stud">
                    <label>Email<span id="postal_code-error">*</span></label>
                    <input type="text" name="email">
                </div>
                <div  class="half_stud"> 
                    <label>Phone<span id="postal_code-error">*</span></label>
                    <input type="text" name="phone" onkeypress="return isNumberKeyTextNot(event)" onpaste="return false;">
                </div>
            </div>
        </div>

        <div class="form-row submit-row">
            <input type="submit" name="submit" value="Create">
        </div>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function (){
    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.indexOf(" ") < 0 && value != ""; 
    }, "No space please and don't leave it empty");
    $.validator.addMethod("regx", function(value, element, regexpr) {
        return regexpr.test(value);
    }, "Please enter correct email address.");
    var validator = $(".stud_form").validate({
        rules: {
            icon_id: {
                required: true,
            },
            postal_code: {
                required: true,
                noSpace: true,
            },
            house_number: {
                required: true,
            },
            email: {
                required: true,
                noSpace: true,
                email:true,
                regx: /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/,
                remote: {
                    url  : "/student/emailduplication",
                    type : "POST"
                },
            },
            phone: {
                required: true,
                minlength: 10,
                maxlength: 20,
            }
        },
        messages: {
            icon_id: {
                required: "Icon should not be blank",
            },
            postal_code: {
                required: "Postal code should not be blank",
            },
            house_number: {
                required: "House number should not be blank",
            },
            email: {
                required: "Email should not be blank",
                remote: "Email is already in use, please change it."
            },
            phone: {
                required: "Phone should not be blank",
            },
        },
        errorPlacement: function(error, element) {
            if(element.attr("name") == "icon_id") {
                error.insertAfter('.validate-position');
            } else {
                error.insertAfter(element);    
            }
        },
    });
    $(".stud_form input").focusout(function () {
        validator.element(this);
    }); 
});
</script>
{% endblock %}
