 <span>Student Signup</span>
{{ form_start(form, {'action': path('driving_school_school_students_create'), 'class':'ajaxForm' }) }}
   
	<span class="error_red">{{ form_errors(form) }}</span>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endfor %}
    <button data-fancybox-close="" class="fancybox-close-small" title="Close"><svg viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22"></path></svg></button>
    <div class="">
        {{ form_label(form.firstName) }}
        <span class="error_red">{{ form_errors(form.firstName) }}</span>
        {{ form_widget(form.firstName, {'attr' : {'title' : 'Please enter firstname'}}) }}
    </div>
    <div class="">
        {{ form_label(form.lastName) }}
        <span class="error_red">{{ form_errors(form.lastName) }}</span>
        {{ form_widget(form.lastName, {'attr' : {'title' : 'Please enter lastname'}}) }}
    </div>
    <div>
        {{ form_row(form.username) }}
    </div>
    <div>
        <input type="submit" name="submit" value="Create" class="studentsubmit">
    </div>
{{ form_end(form) }}