{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb student-breadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Student</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb white-text">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-users"></i>&nbsp;Student</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix">
    <!-- <div class="ml-one for_mobile"> 
         <span>Student</span>
    </div> -->
    <div class="create-btn">
        <a href="#createform" class="fancybox">New Student</a>
    </div>

    <table width="100%" border="" class="new_tab_design for_btns">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Residence</th>
            <th></th>
        </tr>
        {% for student in students %}
                <tr>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.place }}</td>
                    <td class="to_center">
                        {% if student.icon == '' or student.postalCode == '' %}
                            <a href="{{ path('driving_school_school_students_form', {'id' : student.id}) }}">
                        {% else %}
                            <a href="{{ path('driving_school_school_student_card', {'id' : student.id}) }}">
                        {% endif %}
                        <button>Student card</button></a>
                    </td>
                </tr>
        {% endfor %}
    </table>
    <div id="createform" style="display: none">
        {{ render(controller('DrivingSchoolSchoolBundle:Student:create')) }}
    </div>
</div>
{% endblock %}
