<div id="financial-content" class="financialprocess">
    <form method="post" action="{{ url('driving_school_school_student_generateInvoice') }}" onsubmit="return validate_form();">
        <h3>Un-invoiced</h3>
        <table width="100%" border="" class="new_tab_design for_btns" id="example">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectall"><label></label></th>
                    <th>Quantity</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Total incl. VAT</th>
                    <th>VAT</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% set rowTotal = 0 %}
                {% for financial in financials %}
                    <tr>
                        <td>
                            <input type="hidden" name="student_id" value="{{ financial.student_id }}">
                            <input type="checkbox" name="generateinvoice[]" value="{{ financial.id }}" class="generateinvoice" id="generateinvoice"><label></label>
                        </td>
                        <td>{{ financial.quantity }}</td>
                        <td>
                            {{ financial.cousesname }}
                            {% if financial.description != '' %}
                                ({{ financial.description }})
                            {% endif %}
                        </td>
                        <td>€ {{ financial.amount }}</td>
                        <td>€ {{ financial.totalincluded_vat }}
                        {% set rowTotal = rowTotal + financial.totalincluded_vat %}
                        </td>
                        <td>{{ financial.vat }}% VAT</td>
                        <td class="to_center"><a href="javascript:void(0);" class="action-btn editfinancial" data-id="{{ financial.student_id }}" id="{{ financial.id }}"><i class="fa fa-edit"></i></a></td>    
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>    
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total: </b>€ {{ rowTotal }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <input type="submit" name="submit" value="Create new invoice" id="btngenerateinvoice" style="display: none;">
    </form>
    <h3>Invoices</h3>
    <table width="100%" border="" class="new_tab_design for_btns" id="example">
        <thead>
            <tr>
                <th>Invoice</th>
                <th>Date</th>
                <th>Total</th>
                <th>Open</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set rowTotal = 0 %}
            {% for invoice in invoices %}
            <tr>
                <td>Concept # {{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.created|date('d-m-Y m:i:s') }}</td>
                <td>€ {{ invoice.invoiceTotal }}</td>
                <td>€ {{ invoice.invoiceTotal }}
                {% set rowTotal = rowTotal + invoice.invoiceTotal %}</td>
                <td><span>Concept</span></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total: </b>€ {{ rowTotal }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
function validate_form()
{
    valid = true;

    if($('.generateinvoice:checked').length == 0)
    {
        alert ( "Please select at least one checkbox" );
        valid = false;
    }

    return valid;
}
</script>