{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap-datepicker.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
<!-- <div class="profileshow"> -->
<div>
    <h4>Profile</h4>
	{{ form_start(form, {'action': path('driving_school_school_student_profile', {'id':studentid}), 'id':'stud_profile'}) }}
	<div class="form-row stud_blocks3">
		<label>Name</label>
        <div class="for_validation">{{ form_widget(form.firstName, { 'attr': {'placeholder': 'First Name'} }) }}</div>
       <div class="for_validation">{{ form_widget(form.initials, { 'attr': {'placeholder': 'Initials'} }) }}</div>
        <div class="for_validation">{{ form_widget(form.lastName, { 'attr': {'placeholder': 'Last Name'} }) }}</div>
    </div>
    <div class="form-row stud_blocks3">
		<label>Address</label>
         <div class="for_validation">{{ form_widget(form.houseNumber, { 'attr': {'placeholder': 'House Number'} }) }}</div>
         <div class="for_validation">{{ form_widget(form.postalCode, { 'attr': {'placeholder': 'Postal Code', 'onkeypress':'return isNumberKey(event)', 'onpaste':'return false;'} }) }}</div>
         <div class="for_validation">{{ form_widget(form.place, { 'attr': {'placeholder': 'Place'} }) }}</div>
    </div>
    <div class="form-row">
    	<label>Email</label>
        <div class="for_validation">{{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}</div>
    </div>
    <div class="form-row">
    	<label>Phone</label>
	    <div class="for_validation">{{ form_widget(form.phone, { 'attr': {'placeholder': 'Phone', 'onkeypress':'return isNumberKey(event)', 'onpaste':'return false;'} }) }}</div>
    </div>
    <div class="form-row stud_blocks4">
    	<label>Date of birth</label>
        {{ form_widget(form.dateOfBirth) }}
	    
    </div>
    <div class="form-row">
        <label>Gender</label>
        {{ form_widget(form.gender) }}
    </div>
    <div class="form-row">
    	<label>Birth Place</label>
	    {{ form_widget(form.birthPlace) }}
    </div>
    <div class="form-row">
    	<label>BSN</label>
	    {{ form_widget(form.bsn) }}
    </div>
    <div class="form-row">
    	<label>Drivers License</label>
	    {{ form_widget(form.driversLicense) }}
    </div>
    <div class="form-row">
    	<label>Candidate Number</label>
	    {{ form_widget(form.candidateNumber) }}
    </div>
    <div class="form-row">
    	<label>Instructors Note</label>
	    {{ form_widget(form.instructorsNote) }}
    </div>
    <div class="form-row">
        <label>Note</label>
        {{ form_widget(form.note) }}
    </div>
    <div class="form-row">
        <label>Preferred Instructor</label>
        {{ form_widget(form.instructor) }}
    </div>
    <div class="form-row horizontal">
        <label>test</label>
        <div class="aaa">
            {{ form_widget(form.authorization) }}
            <label>Authorization</label>
            {{ form_widget(form.healthInformation) }}
            <label>Health declaration</label>
            {{ form_widget(form.tooGood) }}
            <label>Too Good</label>
        </div>
    </div>
    <div class="form-row stud_card_full">
    	<label>Educations</label>
	    {{ form_widget(form.educations) }}
    </div>
    <div class="form-row submit-row">
        <button type="submit">Update</button>
        <!-- <a href="{{ path('driving_school_school_student_card', {'id' : student.id }) }}" class="cancel-profile">cancel</a> -->
    </div>
	{{ form_end(form) }}
</div>

<script type="text/javascript">
    $('#student_profile_form_dateOfBirth').datepicker({
        minDate: '0',
        format: 'dd-mm-yyyy',
    });
$(document).ready(function (){
    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.indexOf(" ") < 0 && value != ""; 
    }, "No space please and don't leave it empty");
    var validator = $("form[name='student_profile_form']").validate({
        rules: {
            "student_profile_form[firstName]": {
                required : true,
                noSpace: true,
            },
            "student_profile_form[initials]": {
                required : true,
                noSpace: true,
            },
            "student_profile_form[lastName]": {
                required : true,
                noSpace : true,
            },
            "student_profile_form[houseNumber]": {
                required : true,
            },
            "student_profile_form[postalCode]": {
                required : true,
                noSpace: true,
            },
            "student_profile_form[place]": {
                required : true,
            },
            "student_profile_form[email]": {
                required : true,
                noSpace: true,
                remote: {
                    url  : "{{ path('driving_school_school_student_emailduplicationedit', {'id' : student.id }) }}",
                    type : "POST"
                },
            },
            "student_profile_form[phone]": {
                required : true,
            },
            "student_profile_form[dateOfBirth]": {
                required : true,
            },
            "student_profile_form[birthPlace]": {
                required : false,
            },
            "student_profile_form[bsn]": {
                required : false,
            },
            "student_profile_form[driversLicense]": {
                required : false,
            },
            "student_profile_form[candidateNumber]": {
                required : false,
            },
            "student_profile_form[instructorsNote]": {
                required : false,
            },
            "student_profile_form[note]": {
                required : false,
            },
            "student_profile_form[instructor]": {
                required : false,
            },
        },
        messages: {
            "student_profile_form[firstName]": {
                required: "First name should not be blank.",
            },
            "student_profile_form[initials]": {
                required: "Initials should not be blank.",
            },
            "student_profile_form[lastName]": {
                required: "Last name should not be blank.",
            },
            "student_profile_form[houseNumber]": {
                required: "House number should not be blank.",
            },
            "student_profile_form[postalCode]": {
                required: "Postal code should not be blank.",
            },
            "student_profile_form[place]": {
                required: "Place should not be blank.",
            },
            "student_profile_form[email]": {
                required: "Email should not be blank.",
                remote: "Email is already in use, please change it."
            },
            "student_profile_form[phone]": {
                required: "Phone should not be blank.",
            },
            "student_profile_form[dateOfBirth]": {
                required: "Birthdate should not be blank.",
            },
        },
        // errorPlacement: function(error, element) {
        //     if(element.attr("id") == "student_profile_form_firstName") {
        //         error.insertAfter('#student_profile_form_firstName');
        //     } else {
        //         error.insertAfter(element);    
        //     }
        // },
    });
    $("form[name='student_profile_form'] input").focusout(function () {
        validator.element(this);
    }); 
});
</script>