<div id="notes-content">
    <div class="edit-note">        
        {{ form_start(form) }}
            <input type="hidden" name="studentid" value="{{ studentid }}">
            <div class="form-row">
                {{ form_row(form.desc) }}
            </div>
            <div class="form-row notesimagerm">
                {{ form_row(form.notesImage) }}
                <div class="form-row submit-row">
                    <input type='submit' name='submit' id='submitnotes' value='Create'>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    <div class="image_block">
        {% for key,allNotes in newnotes %}
            <div class="blocks_loop_img">
                <span class="date-box">{{ key }}</span>
                {% for note in allNotes %}
                        <div class="notes_img">
                            <!-- <a href="#notesfancybox_{{ note.id }}" class="fancybox"><span class="notes_image_path" style="background-image: url('{{ note.big_image_path }}');">
                            </span></a> -->
                            <a class="fancybox" data-fancybox-group="gallery" rel="group" href="{{ note.big_image_path }}"><span class="notes_image_path" style="background-image: url('{{ note.big_image_path }}');"></a>

                            <a class="fancybox-detail">{{ note.desc }}</a>
                            <p class="{{ note.class }}">{{ note.datetimestamp }}</p>
                        </div>

                        <!-- <div id="notesfancybox_{{ note.id }}" class="notes_img1" style="display: none;">
                            <img src="{{ note.big_image_path }}">
                        </div> -->
                        <!-- <a class="fancybox" href="{{ note.big_image_path }}">
                            <img src="{{ note.image_path }}">    
                        </a> -->
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<script>
    document.getElementById('student_notes_form_notesImage_binaryContent').setAttribute('accept','image/*')
</script>