<div id="lessons-content">
    <table width="100%" border="" class="new_tab_design for_btns" id="example">
        <thead>
            <tr>
                <th>Lesson</th>
                <th>Day</th>
                <th>Instructor</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td class="lesson_sorting"><span style="background-color: {{ lesson.appointment_label }}"><img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ lesson.icon_path))}}" height="30" width="30" />{{ lesson.trainingname }}</span></td>
                    <td>{{ lesson.start_date|date('d M, Y h:i A') }} - {{ lesson.end_date|date('h:i A') }}</td>
                    <td>{{ lesson.instructorname }}</td>
                    <td>{{ lesson.location }}</td>
                    <td>
                        {% if(lesson.trainingtype == 0) %}
                            <a href="{{ path('driving_school_school_scorecard_report', {'planningid' : lesson.id }) }}"><i class="fa fa-id-badge" aria-hidden="true"></i> Lesson Card</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>