<div id="exams-content">
    <table width="100%" border="" class="new_tab_design for_btns" id="example">
        <thead>
            <tr>
                <th>Exams</th>
                <th>Day</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if exams is not empty %}
                {% for exam in exams %}
                    <tr>
                        <td class="lesson_sorting"><span style="background-color: {{ exam.appointment_label }}"><img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ exam.icon_path))}}" height="30" width="30" />{{ exam.trainingname }}</span></td>
                        <td>{{ exam.start_date|date('d M Y h:i A') }}</td>
                        <!-- <td><span>Unknown</span></td> -->
                    </tr>
                {% endfor %}
            {% else %}
            <tr><td colspan="2"><center>No data available in table</center></td></tr>
            {% endif %}
        </tbody>
    </table>
</div>