{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script src="http://cdn.ckeditor.com/4.5.0/standard/ckeditor.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $(function() {
			var url = Routing.generate('driving_school_front_ckeditor_upload');
            CKEDITOR.config.allowedContent = true;
            var elementId = $(".ckeditor").attr("id");
            CKEDITOR.replace( elementId, {
	            height: 300,
	            filebrowserImageUploadUrl: url,
	        });
        });
    </script>
{% endblock %}