 {% block stylesheets %}
    {% include 'DrivingSchoolFrontBundle:Rijlesprikker:css.html.twig' %}
{% endblock %}
{% block content %}
<body>
    <div class="login_img"  style="background-image: url('{{absolute_url(asset('bundles/drivingschoolschool/images/tuk-tuk-336690_1920.jpg'))}}');">
    </div>
    <div class="register_pg_new">
        
        <div class="tbl">
            <div class="tbl-cell">
                <div class="container right-middle-section clearfix">
                    <a href="{{ path('driving_school_front_homepage') }}">
                        <img src="http://devyg.websiteserverhost.com/drivingschoolplatform/html/images/Rijlesprikker-logo-v12.svg" alt="">
                    </a>
                    <span>Nice that you want to try Rijlesprikker! </span><br>
                    <span>Enter your username, email address and password to create an account</span>
            
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    <div class="form-row-main">
                    	<div class="form-row">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="form-row">
                            {{ form_row(form.lastname) }}
                        </div>
                        <div class="form-row">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="form-row">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-row">
                            {{ form_row(form.plainPassword.first) }}
                        </div>
                        <div class="form-row">
                            {{ form_row(form.plainPassword.second) }}
                        </div>
                        <div class="form-row submit-row">
                            <button type="submit">Register!</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}