{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Subscribe</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_subscription') }}"><i class="fa fa-info"></i>&nbsp;My Subscription Plan</a>
                </li>
                <li>
                    <span>Subscribe</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix">
    <div class="ml-one for_mobile"> 
         <span>Subscribe</span>
    </div>
    {{ form_start(form) }}
    <div class="form-row-main">
        <div class="plan-list">
            <div class="form-row">
                {{ form_row(form.subscriptions) }}
            </div>
        </div>
        <div class="school-payment">
            <div class="school">
                <div class="form-row">
                    {{ form_row(form.schoolCCNNumber) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.schoolVatNumber) }}
                </div>
            </div>
            <div class="payment">
                <div class="form-row">
                    {{ form_row(form.schoolBankActNumber) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.bic) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.inNameOf) }}
                </div>
            </div>
        </div>
        <div class="upgrade-btn">
            <div class="title">
                <h3>Confirmation</h3>
            </div>
            <div class="pay-info">
                <span class="package-price"><b>€ <span id="price" class="price">{{ package_price }}</span></b> per month</span>
                <p>For a paid Rijlesprikker subscription you give us permission to debit the subscription fee from your bank account.</p>
            </div>
            <div class="pay-btn">
                <div class="form-row submit-row">
                    <button type="submit">Upgrade plan</button>
                </div>
            </div>
        </div>
    </div>
    <div style="visibility: hidden;">
        {{ form_row(form.subscriptionDate) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}