{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
		<span>My Subscription Plan</span>
		<div class="breadcrumb-content">
			<ol class="breadcrumb">
		        <li>
		            <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		        </li>
		        <li>
		            <span><i class="fa fa-info"></i>&nbsp;My Subscription Plan</span>
		        </li>
		    </ol>
		</div>
	</div>
</div>
<div class="container right-middle-section clearfix">
	<div class="ml-one for_mobile"> 
		 <span>My Subscription Plan</span>
	</div>
	<div class="create-btn">
        <a href="{{ path('driving_school_school_subscription_upgrade') }}" title="" class="">{% if subscription_plan is not empty %}Upgrade Plan{% else %}Subscribe Now{% endif %}</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}  
    <div class="package-box-wrapper">
    	<table>
    		{% if subscription_plan is not empty %}
	    		<tr>
	    			<td>Maximum number of students</td>
	    			<td></td>
	    			<td>{{ subscription_plan.maximumNumberOfStudents }}</td>
	    		</tr>
	    		<tr>
	    			<td>Maximum number of instructors</td>
	    			<td></td>
	    			<td>{{ subscription_plan.maximumNumberOfInstructors }}</td>
	    		</tr>
	    		<tr>
	    			<td>Starting date</td>
	    			<td></td>
	    			<td>{{ subscription_date|date('Y-m-d m:i:s') }}</td>
	    		</tr>
	    		<tr>
	    			<td>Monthly costs</td>
	    			<td></td>
	    			<td>{{ subscription_plan.packagePrice }} € excl. VAT</td>
	    		</tr>
	    	{% else %}
	    		<tr>
	    			<td>You have not subscribed to any package yet...!!!</td>
	    		</tr>
	    	{% endif %}
    	</table>
    </div>
</div>
{% endblock %}