{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    {% stylesheets
        '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
        '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap-datepicker.min.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
    {% endstylesheets %}
    <div class="mobilebreadcrumb">
        <div class="ml-one for_desktop student-card-section"> 
            <ol class="breadcrumb st_card">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span>Student Financial</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="student-card-content financial-view-card financial-tour">
        <div class="stud_card_main">
            <div class="stude_wrapp">
                <div id="filterRow">
                    <div class="date-picker financial-search-t">
                        <div class="input-daterange input-group" id="report-date-filter">
                            <div class="select-date">
                                <label class="date-label">Start Date</label>
                                <input id="Min-Date" type="text" class="input-sm form-control" placeholder="Start Date" name="Min-Date" />
                            </div>
                            <div class="select-date">
                                <label class="date-label">End Date</label>
                                <input id="Max-Date" type="text" class="input-sm form-control" placeholder="End Date" name="Max-Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="financial-details invoice-detail-t">
                    <span>Invoiced: <p>€ 0.00</p></span> 
                    <span>Outstanding: <p>€ 0.00</p></span> 
                    <span>Turnover: <p>€ 0.00</p></span> 
                    <span>VAT: <p>€ 0.0</p></span>

                    <span>Concept invoices: <p>€ {{ invoice_total }}</p></span>
                </div>
                <div class="form-row reset-btn">
                    <a href="{{ path('driving_school_school_student_financial') }}"><button type="submit" value="Reset" class="financial-reset-t">Reset</button></a>
                </div>
            </div>
            <div id="packagetabs" style="display:none;">
                <ul>
                    <li><a href="#invoices">Invoices</a></li>
                </ul>
                <div id="invoices">
                    <div id="invoices-content">
                        <table id="Test-Table" class="new_tab_design for_btns" width="100%" border="">
                            <thead>
                                <tr>
                                    <th class="finacial-invoice-num-t">Invoice Number</th>
                                    <th>Invoice Date</th>
                                    <th>To</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set rowTotal = 0 %}
                                {% for invoice in invoices %}
                                <tr>
                                    <td><a href="{{ path('driving_school_school_student_invoicelist', {'id':invoice.id}) }}" target="_blank">Concept # {{ invoice.invoice_number }}</a></td>
                                    <td>{{ invoice.created|date('d-m-Y') }}</td>
                                    <td>
                                        {% if is_granted('ROLE_SCHOOL') %}
                                            <a href="{{ path('driving_school_school_student_card', {'id':invoice.student_id}) }}" target="_blank">{{ invoice.first_name }}</a>
                                        {% else %}
                                            {{ invoice.first_name }}
                                        {% endif %}
                                    </td>
                                    <td>€ {{ invoice.invoice_total }}</td>
                                    {% set rowTotal = rowTotal + invoice.invoice_total %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var reportFilterRange = [null, null];

        $(document).ready(function() {
            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                    dateStr = data[1].split("-");
                    strConvt = dateStr[2]+"-"+dateStr[1]+"-"+dateStr[0];
                    var date = Date.parse(strConvt);

                    if (reportFilterRange[0] && date < reportFilterRange[0]) return false;
                    if (reportFilterRange[1] && date > reportFilterRange[1]) return false;
                    return true;
                }
            );

            var table = $("#Test-Table").DataTable({
                /*columnDefs: [{
                    targets: [3],
                    "searchable": false
                }]*/
                "aaSorting": [],
            });
            $("#Test-Table_filter").css("display", "none");
            $(".dataTables_length").detach().appendTo('#lenContainer');

            $('#report-date-filter').on('changeDate', function(e) {
                var cases = ["Min-Date", "Max-Date"];
                reportFilterRange[cases.indexOf(e.target.id)] = Date.parse(e.date);
                table.draw();
            });

            $("#report-date-filter").datepicker({
                format: 'dd-mm-yyyy',
                clearBtn: true
            });
        });
    </script>
{% endblock %}
