{% block stylesheets %}
    {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:css.html.twig' %}
{% endblock %}

{% block javascript %}
    {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:js.html.twig' %}
{% endblock %}
<div class="mobilebreadcrumb invoice-main-content">
	<div class="ml-one"> 
	    <span>Student Invoice</span>
		<ol class="breadcrumb st_card">
		    <li>
		        <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		    </li>
		    <li>
		        <a href="{{ path('driving_school_school_student_card', {'id' : studentid}) }}"><i class="fa fa-users"></i>&nbsp;Student Card</a>
		    </li>
		    <li>
		        <span>Invoice</span>
		    </li>
		</ol>
	</div>
</div>
<div class="invoice_data">
	<div class="invoice_wrapper">
		<div class="top_invoice">
			<div class="top_invoice_left">
				{% if studentImage == null %}
					<img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/nouser.jpg'))}}">
				{% else %}
					<img src="{{studentImage}}">
				{% endif %}
				<span>{{ studentfirstname }} {{ studentlastname }}</span>
				<span>{{ studentpostalcode }}</span>
			</div>
			<div class="top_invoice_right">	
				<div>
					{% if school_image == null %}
						<img src="{{absolute_url(asset('bundles/drivingschoolschool/images/nouser.jpg'))}}">
					{% else %}
						<img src="{{school_image}}">
					{% endif %}
					<span>{{ school_name }}</span>
					<span>{{ school_phone }}</span>
					<span>{{ school_email }}</span>
				</div>
			</div>
		</div>
		<div class="concept_div">
			<div class="inv_title">
				<h1>Concept # {{ invoiceNumber }}</h1>
			</div>
			<div class="inv_detail">
				<div class="inv_detail_left">
					<label>Reference: </label>
					<span>{{ studentfirstname }} {{ studentlastname }}</span><br/>
					<span>Debtor number</span>
				</div>
				<div class="inv_detail_right">
					<label>Invoice date:</label>
					<span>{{ createdate|date('d-m-Y') }}</span><br/>
					<label>Payment Term:</label>
					<span>{{ school_payment_term }}</span>
				</div>
			</div>
		</div>
		<div class="table_invoice">
			<table border="">
				<tr>
					<th></th>
					<th>Description</th>
					<th>Price</th>
					<th>Total</th>
					<th>Vat</th>
				</tr>
				{% set priceTotal = 0 %}
				{% for invoiceDetail in invoiceDetails %}
				<tr>
					<td>{{ invoiceDetail.quantity }}x</td>
					<td>{{ invoiceDetail.cousesname }}</td>
					<td>€ {{ invoiceDetail.amount }}</td>
					<td>€ {{ invoiceDetail.totalincluded_vat }}</td>
					<td>{{ invoiceDetail.vat }}%</td>
					{% set priceTotal = priceTotal + (invoiceDetail.price*invoiceDetail.quantity) %}
				</tr>
				{% endfor %}
				<tr>
					<td colspan="2"></td>
					<td class="bold">Subtotal excl. VAT</td>
					<td class="bold">€ {{ priceTotal }}</td>
					<td></td>
				</tr>
				{% set vatcalc = 0 %}
				{% for invoiceDetail in invoiceDetails %}
					{% if invoiceDetail.included_vat == 0 %}
						<tr>
							<td colspan="2"></td>
							<td>{{ invoiceDetail.vat }}% VAT over € {{ invoiceDetail.price*invoiceDetail.quantity }}</td>
							<td>€ {{ (invoiceDetail.vat/100)*(invoiceDetail.price*invoiceDetail.quantity) }}</td>
							<td></td>
							{% set qtyprice = invoiceDetail.price*invoiceDetail.quantity %}
							{% set vatcalc = vatcalc + (invoiceDetail.vat/100)*qtyprice %}
						</tr>
					{% endif %}
				{% endfor %}
				<tr>
					<td colspan="2"></td>
					<td class="bold">Total</td>
					<td class="bold">€ {{ vatcalc+priceTotal }}</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="bottom_invoice">
			<div id="invoicecontent">
				{% if invoicecontent == '' %}
					<span id="responsecontent">Add a content..</span>
				{% else %}
					<span>{{ invoicecontent }}</span>
				{% endif %}
			</div>
			<div id="invoicecontentform">
				<form name="submiitinvoicecontent" method="post">
					<input type="hidden" name="invoiceid" id="invoiceid" value="{{ invoiceId }}"></textarea>
					<textarea name="content" id="content" required=""></textarea>
					<input type="submit" name="submit" value="save">
					<a href="javascript:void(0);" id="cancelinvoicecontentform">cancel</a>
				</form>
			</div>
		</div>
	</div>
	<div class="footer_invoice">
		The following products are billed on this invoice: 
		{% for invoiceDetail in invoiceDetails %}
			( {{ invoiceDetail.cousesname }} )
		{% endfor %}
	</div>
</div>