<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=0, user-scalable=no" />
       <meta name="format-detection" content="telephone=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include 'DrivingSchoolFrontBundle:Rijlesprikker:css.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="page" class="clearfix">
        
        {% block header %}
            {% include 'DrivingSchoolFrontBundle:Rijlesprikker:header.html.twig' %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            {% include 'DrivingSchoolFrontBundle:Rijlesprikker:footer.html.twig' %}
        {% endblock %}
        
        {% block javascripts %}
            {% include 'DrivingSchoolFrontBundle:Rijlesprikker:js.html.twig' %}
        {% endblock %}
    </body>
</html>
