<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=0, user-scalable=no" />
       <meta name="format-detection" content="telephone=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:css.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:js.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="no_sidebar">
        <div class="page-wrapper">
           <div class="header">
                {% block header %}
                    {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:header.html.twig' %}
                {% endblock %}
            </div>
            <aside class = "main-sidebar">
                    {% block sidebar %}
                        {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:sidebar.html.twig' %} 
                    {% endblock %}
                </aside>
            {% block content %}{% endblock %}
            {% block footer %}
                {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:footer.html.twig' %}
            {% endblock %}
        </div>
    </body>
</html>
