<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=0, user-scalable=no" />
       <meta name="format-detection" content="telephone=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include 'DrivingSchoolStudentBundle:Rijlesprikker:css.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {% include 'DrivingSchoolStudentBundle:Rijlesprikker:js.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="page-wrapper">
            {% block header %}
                {% include 'DrivingSchoolStudentBundle:Rijlesprikker:header.html.twig' %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
