{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="ml-one for_desktop desktop-section"> 
    <span></span>
</div>
<div class="container right-middle-section desktop-middle-section clearfix dashboard-section dashboard-tour">
    <div class="form-row-main milege_form">
        <div class="rightnow-lessions-t right-now-section form-inner-section">
            <div class="block_title_new">
                <span class="sub-heading">Right Now</span>
                <a href="{{ path('driving_school_school_planning') }}">View More</a>
            </div>
            {% if currentlessons is not empty %}
                {% for lesson in currentlessons %}
                <div class="row">
                    <div class="date-item grid-4">
                        <div class="start-date">{{ lesson.start_date|date('H:i') }}</div>
                        <span class="time_dash">-</span>
                        <div class="end-date">{{ lesson.end_date|date('H:i') }}</div>
                    </div>
                    
                    <div class="studentname-item grid-4">
                        <span><b><a href="{{ path('driving_school_school_student_card', {'id' : lesson.student_id }) }}" target="_blank">{{ lesson.studentname }}</a></b></span>
                        <span>{{ lesson.instructor_name }}</span>
                        <span>{{ lesson.license_plate }}</span>
                    </div>
                    <div class="location-item grid-4">
                        <span>{{ lesson.location }}</span>
                        <span><a href="#textfancybox_{{ lesson.id }}" class="fancybox">{{ lesson.description|truncate(40) }}</a></span>
                    </div>
                    <div id="textfancybox_{{ lesson.id }}" class="" style="display: none;">
                        <div>
                            <h3>Notes</h3>
                            <span>{{ lesson.description }}</span>   
                        </div>
                    </div>
                    <span class="lesson-item grid-4" style="background-color: {{ lesson.coursecolor }}">
                        <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ lesson.icon_path))}}" height="30" width="30" />
                        {{ lesson.coursesname }}
                    </span>
                </div>
                {% endfor %}
            {% else %}
            <span>There are no lessons at this time.</span>
            {% endif %}
        </div>

        <div class="form-row-main milege_form show-xs">
            <div class="today-section form-inner-section">
                <div class="block_title_new">
                    <span class="sub-heading">Today</span>
                    <a href="{{ path('driving_school_school_planning') }}">View More</a>
                </div>
                {% if todaylessons is not empty %}
                    {% for lessons in todaylessons %}
                    <div class="row">
                        <div class="date-item grid-4">
                            <div class="start-date">{{ lessons.start_date|date('H:i') }}</div>
                            <span class="time_dash">-</span>
                            <div class="end-date">{{ lessons.end_date|date('H:i') }}</div>
                        </div>
                        
                        <div class="studentname-item grid-4">
                            <span><b><a href="{{ path('driving_school_school_student_card', {'id' : lessons.student_id }) }}" target="_blank">{{ lessons.studentname }}</a></b></span>
                            <span>{{ lessons.instructor_name }}</span>
                            <span>{{ lessons.license_plate }}</span>
                        </div>
                        <div class="location-item grid-4">
                            <span>{{ lessons.location }}</span>
                            <span><a href="#textfancybox_{{ lessons.id }}" class="fancybox">{{ lessons.description|truncate(40) }}</a></span>
                        </div>
                        <div id="textfancybox_{{ lessons.id }}" class="" style="display: none;">
                            <div>
                                <h3>Notes</h3>
                                <span>{{ lessons.description }}</span>   
                            </div>
                        </div>
                        <span class="lesson-item grid-4" style="background-color: {{ lessons.coursecolor }}">
                            <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ lessons.icon_path))}}" height="30" width="30" />
                            {{ lessons.coursesname }}
                        </span>
                    </div>
                    {% endfor %}
                {% else %}
                <span>There are no lessons at this time.</span>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_SCHOOL') %}
            {{ form_start(form) }}
            <div class="mileage-form mileage-form-t">
                <div class="block_title_new">
                    <span class="sub-heading">Enter Mileage</span>
                </div>
                {% for message in app.flashes('notice') %}
                    <div class="flash-danger">
                        {{ message }}
                    </div>
                {% endfor %}  
                {% for message in app.flashes('success') %}
                    <div class="flash-success">
                        {{ message }}
                    </div>
                {% endfor %} 
                <div class="form-row">
                    {{ form_row(form.Vehicle_id) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.mileage, { 'attr': {'placeholder': 'Kilometers', 'onkeypress':'return isNumberKeydot(event)'} }) }}
                    <span>KM</span>
                </div>
                <div class="form-row">
                    {{ form_row(form.note, { 'attr': {'placeholder': 'Note'} }) }}
                </div>
                <div class="form-row submit-row">
                    <button type="submit">Save</button>
                </div>
            </div>
            {{ form_end(form) }}
        {% endif %}

        <div class="form-row-main">
            <div class="outstanding-reservations-t today-section form-inner-section">
                <div class="block_title_new">
                    <span class="sub-heading">Outstanding reservations</span>
                </div>
                {% if reservations is not empty %}
                    <form method="post" action="{{ url('driving_school_school_dashboard_reservation') }}" onsubmit="return validate_form();">
                        {% for reservation in reservations %}
                        <div class="row">
                            <input type="checkbox" name="reservationchk[]" value="{{ reservation.id }}" class="reservationcheck"><label></label>
                            <div class="studentname-item grid-3">
                                {% if is_granted('ROLE_INSTRUCTOR') %}
                                    <span><b>{{ reservation.studentname }}</b></span>
                                {% elseif is_granted('ROLE_SCHOOL') %}
                                    <span><b><a href="{{ path('driving_school_school_student_card', {'id' : reservation.student_id }) }}" target="_blank">{{ reservation.studentname }}</a></b></span>
                                {% endif %}
                                <span>{{ reservation.instructor_name }}</span>
                                <span>{{ reservation.license_plate }}</span>
                            </div>
                            <div class="date-item grid-3">
                                <div class="full-date">{{ reservation.start_date|date('l d F') }}</div>
                                <div class="start-date">{{ reservation.start_date|date('H:i') }}</div>
                                <span class="time_dash">-</span>
                                <div class="end-date">{{ reservation.end_date|date('H:i') }}</div>
                            </div>
                            <span class="lesson-item grid-3" style="background-color: {{ reservation.coursecolor }}">
                                <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ reservation.icon_path))}}" height="30" width="30" />
                                {{ reservation.coursesname }}
                            </span>
                        </div>
                        {% endfor %}
                        <div class="statusreservation">
                            <label>Selected reservations:</label>
                            <div class="input-field">
                                {% if is_granted('ROLE_INSTRUCTOR') %}
                                    {% if permissions is not empty %}
                                        {% if permissions.acceptrole == 1 %}
                                            <input type="submit" name="submitaccept" value="Accept">
                                        {% endif %}
                                        {% if permissions.rejectrole == 1 %}
                                            <input type="submit" name="submitreject" value="Reject">
                                        {% endif %}
                                    {% endif %}
                                {% elseif is_granted('ROLE_SCHOOL') %}
                                    <input type="submit" name="submitaccept" value="Accept">
                                    <input type="submit" name="submitreject" value="Reject">
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <span class="auto-mail">Students will automatically receive an email here.</span>
                {% else %}
                <span>There are no outstanding reservations at this time.</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="today-lessions-t form-row-main milege_form hide-xs">
        <div class="today-section form-inner-section">
            <div class="block_title_new">
                <span class="sub-heading">Today</span>
                <a href="{{ path('driving_school_school_planning') }}">View More</a>
            </div>
            {% if todaylessons is not empty %}
                {% for lessons in todaylessons %}
                <div class="row">
                    <div class="date-item grid-4">
                        <div class="start-date">{{ lessons.start_date|date('H:i') }}</div>
                        <span class="time_dash">-</span>
                        <div class="end-date">{{ lessons.end_date|date('H:i') }}</div>
                    </div>
                    
                    <div class="studentname-item grid-4">
                        <span><b><a href="{{ path('driving_school_school_student_card', {'id' : lessons.student_id }) }}" target="_blank">{{ lessons.studentname }}</a></b></span>
                        <span>{{ lessons.instructor_name }}</span>
                        <span>{{ lessons.license_plate }}</span>
                    </div>
                    <div class="location-item grid-4">
                        <span>{{ lessons.location }}</span>
                        <span><a href="#textfancybox_{{ lessons.id }}" class="fancybox">{{ lessons.description|truncate(40) }}</a></span>
                    </div>
                    <div id="textfancybox_{{ lessons.id }}" class="" style="display: none;">
                        <div>
                            <h3>Notes</h3>
                            <span>{{ lessons.description }}</span>   
                        </div>
                    </div>
                    <span class="lesson-item grid-4" style="background-color: {{ lessons.coursecolor }}">
                        <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ lessons.icon_path))}}" height="30" width="30" />
                        {{ lessons.coursesname }}
                    </span>
                </div>
                {% endfor %}
            {% else %}
            <span>There are no lessons at this time.</span>
            {% endif %}
        </div>
    </div>
    <div class="today-lessions-t form-row-main milege_form">
        <div class="today-section form-inner-section">
            <div class="block_title_new">
                <span class="sub-heading">Notification</span>
            </div>
            <div class="notification dashboard-notification">
                {% for notification in notificationdata %}
                    <div class="notification_media">
                        {% if notification.image != '' %}
                            <img src="{{ notification.image }}" height="50" width="50">
                        {% else %}
                            <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/nouser.jpg'))}}" height="50" width="50">
                        {% endif %}
                        
                        <div class="notify-detail">
                            <span>
                                <b>{{ notification.name }}</b> has {{ notification.action }} 
                                <b>{{ notification.package_name }} - {{ notification.training_session_name }}</b> on <b>{{ notification.event_startdate|date('d,M Y H:i') }} - {{ notification.event_enddate|date('H:i') }}</b>
                            </span>
                        <p>Created Date: {{ notification.creation|date('d,M Y H:i') }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="create-btn view-more-btn"><a href="{{ path('driving_school_school_updateReadStatus') }}">View More</a></div>
        </div>
    </div>
</div>

<script>
function validate_form()
{
    valid = true;

    if($('input[type=checkbox]:checked').length == 0)
    {
        alert ( "Please select at least one checkbox" );
        valid = false;
    }

    return valid;
}
</script>
{% endblock %}  
