{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb package-breadcrumb">
    <div class="ml-one for_desktop xl-one"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_priceandpackages') }}"><i class="fa fa-gift"></i>&nbsp;Price & Packages</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix price-package-content">
    <!-- <div class="ml-one for_mobile"> 
         <span>{{ title }}</span>
    </div> -->
    {% for message in app.flashes('error') %}
        <div class="flash-danger">
            {{ message| raw }}
        </div>
    {% endfor %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-row-main">
        <div class="form-row">
            {{ form_label(form.name) }}
            <span class="error_red">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-row">
            {{ form_label(form.amountOfLessons) }}
            <span class="error_red">{{ form_errors(form.amountOfLessons) }}</span>
            {{ form_widget(form.amountOfLessons, { 'attr': {'onkeypress': 'return isNumberKey(event)','onpaste':'return false;'} }) }}
        </div>
        <div class="form-row pricing_row">
            <span class="error_red">{{ form_errors(form.totalPrice) }}</span>
            <div class="pricing-view lessonduration">
                {{ form_label(form.lessonDuration) }}
                {{ form_widget(form.lessonDuration, { 'attr': {'onkeypress': 'return isNumberKey(event)', 'onpaste':'return false;'} }) }}
                <span>Minute</span>
            </div>
            <div class="pricing-view totalprice">
                {{ form_label(form.totalPrice) }}
                {{ form_widget(form.totalPrice, { 'attr': {'onkeypress': 'return isNumberKeydot(event)','onpaste':'return false;'} }) }}
            </div>
            <div class="pricing-view vatinclude">
                <div class="check-vat">
                    {{ form_widget(form.includedVat) }}
                    {{ form_label(form.includedVat) }}
                </div>
                <div class="vat-item">{{ form_widget(form.vat) }}</div>
            </div>
        </div>
        <div class="form-row status-view">
            {{ form_widget(form.status) }}
            {{ form_label(form.status) }}
        </div>
        <div class="form-row iconrow">
            <div>
                <label class="required" for="price_and_packages_icon">Icons</label><br>
                {% for icon in icons %}
                <div class="rad-box">
                    <input id="price_and_packages_form_icon_{{ icon.id }}" name="icon_id" required="required" value="{{ icon.id }}" type="radio" {% if icon.id|trim == oldicon_id|trim %} checked {% endif %}>
                    <label for="price_and_packages_form_icon_{{ icon.id }}"><img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ icon.iconPath))}}" /></label>
                    <div class="icon-box">{{ icon.iconTitle }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-row submit-row">
            <button type="submit">{{ btn_title }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
