{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop xl-one"> 
        <span>Price & Packages</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-gift"></i>&nbsp;Price & Packages</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix custom_middle_section PriceAndPackages-tour">
    <!-- <div class="ml-one for_mobile"> 
         <span>Price & Packages</span>
    </div> -->
    <div class="create-btn">
        <a href="create" title="" class="pricepackage-new-t">Create Price & Packages</a>
    </div>
    
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}  
    <div class="package-box-wrapper new_structure_btns">
        {% for PriceAndPackage in PriceAndPackages %}
        <div class="package_loop">
            <a href="{{ path('driving_school_school_trainingSessions', {'id' : PriceAndPackage.id }) }}">
                <div class="package-box">
                    <div class="package-box-bg">
                        <h4>{{ PriceAndPackage.name }}</h4>
                            <div class="package-box-img">
                            {% for geticon in icons %}
                                {% if geticon.id|trim == PriceAndPackage.icon|trim %} <img src="{{ absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ geticon.iconpath)) }}" /> {% endif %}
                            {% endfor %}
                            </div>
                    </div>
                </div>
            </a>
            <div class="newpack_btns">
                <!-- <a href="{{ PriceAndPackage.id }}/edit"><i class="fa fa-edit"></i></a> -->
                <!-- <a href="{{ PriceAndPackage.id }}/delete" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
