{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}

<div class="mobilebreadcrumb student-breadcrumb">
    <div class="ml-one for_desktop"> 
        <div class="user-detail">
        	<a href="{{ path('driving_school_school_student_card', {'id' : studentid}) }}"><button><i class="fa fa-user" aria-hidden="true"></i> {{ studentname }}</button></a>
        </div>
        <div class="summary-dropdown btn-group">
        	<!-- <button class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" href="#">
				{{ coursesname }} Summary
				<span class="caret" style="margin-left: 4px"></span>
			</button>
        	<ul class="dropdown-menu">
				<li>
					<a href="">Samenvatting</a>
					<a href="">Notities</a>
				</li>
				<li class="divider"></li>
				<li><a href="">Bicycle module</a></li>
				<li><a href="">Bicycle model 1</a></li>
			</ul> -->
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix repot-progress-section">
	{% for lessonModule in lessonsModules %}
	<div class="repot-list">
			<a href="{{ path('driving_school_school_scorecard_report_rolesnote', {'planningid' : planningid, 'moduleid' : lessonModule.id }) }}">
				<div class="progression-module-name">
					{{ lessonModule.moduleName }}
				</div>
				<div class="module-rating-bar">
					<div class="progress" style="height: 10px;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ lessonModule.percentage }}%"></div>
                    </div>
				</div>
			</a>
	</div>
	{% endfor %}
</div>
{% endblock %}	