{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}

{% javascripts
  '@DrivingSchoolSchoolBundle/Resources/public/js/jquery-ui.min.js'
%}
<script src="{{ absolute_url(asset_url) }}"></script>
{% endjavascripts %}


<div class="mobilebreadcrumb student-breadcrumb">
    <div class="ml-one for_desktop"> 
        <div class="user-detail">
        	<a href="{{ path('driving_school_school_student_card', {'id' : studentid}) }}"><button><i class="fa fa-user" aria-hidden="true"></i>  {{ studentname }}</button></a>
        </div>
        <div class="summary-dropdown btn-group">
        	<!-- <button class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" href="#">
				{{ coursesname }} {{ lessonModuleName }}
				<span class="caret" style="margin-left: 4px"></span>
			</button>
        	<ul class="dropdown-menu">
				<li>
					<a href="">Samenvatting</a>
					<a href="">Notities</a>
				</li>
				<li class="divider"></li>
				<li><a href="">Bicycle module</a></li>
				<li><a href="">Bicycle model 1</a></li>
			</ul> -->
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix repot-progress-section repot-note-section">
	<div>
		{% for scorecard in scorecards %}
			<div class="repot-list">		
				<div class="clickRoles" data-id="{{ scorecard.lessonRolesId }}">	
					<div class="progression-module-name">
						{{ scorecard.lessonRolesName }}
					</div>
					<div>
						<span>No assessment > 
							<span id="progress-lebel{{ scorecard.lessonRolesId }}">
								{% for assessment in assessments %}
									{% if scorecard.progressbarValue == loop.index - 1 %}
										{{ assessment.name }}
									{% endif %}
								{% endfor %}
							</span>
							<span class="value"></span>
						</span>
					</div>
					{% set widthcount = scorecard.progressbarValue*100/assessment_count %}
					<div class="module-rating-bar" id="hideprogressbar_{{ scorecard.lessonRolesId }}">
						<div class="progress" style="height: 10px;">
	                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ widthcount }}%"></div>
	                    </div>
					</div>
					<div class="edit-score-notes" id="shownotesprogressbar_{{ scorecard.lessonRolesId }}">
						<div class="progress-title">
							<div class="progress-heading">
							</div>
		            		<div class="progress-slider" data-val="{{ scorecard.progressbarValue }}" data-id="{{ scorecard.lessonRolesId }}"></div>
			            </div>
			            <div class="score-form">
			            	<input type="hidden" name="scoreid" value="{{ scorecard.scorecard_id }}" id="scoreid_{{ scorecard.lessonRolesId }}">
				            <input type="hidden" name="studentId" value="{{ scorecard.StudentId }}" id="studentid_{{ scorecard.lessonRolesId }}">
				            <input type="hidden" name="rolesid" value="{{ scorecard.lessonRolesId }}" id="rolesid_{{ scorecard.lessonRolesId }}">
							<textarea name="desctiprion" placeholder="Notes" class="scorecarddesc" data-id="{{ scorecard.lessonRolesId }}" id="description_{{ scorecard.lessonRolesId }}">{{ scorecard.description }}</textarea>
			            </div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<script>
	$(document).ready(function() {
		// score roles note hide show 
		$('.edit-score-notes').hide();
		$('.clickRoles').click(function() {
			var dataid = $(this).attr('data-id');
			$('.edit-score-notes').hide();
			$('.module-rating-bar').show();
			$('#hideprogressbar_'+ dataid).hide();
			$('#shownotesprogressbar_'+ dataid).show();
		})

		var maxcount = {{ assessment_count }};
		var data = {{ assessments |json_encode|raw }};
		// score roles progressbar slider
        $( ".progress-slider" ).slider({
            range: "min",
            value: 0,
            // min: 1,
            max: maxcount,	
            animate:"slow",	
  			create: function( event, ui ) {
  				var value = $(this).attr('data-val');
  				// $(this).parent().parent().parent().find(".value").text(value);
  				$(this).slider('value', value);
  				$(this).slider("refresh");

  			},
            slide: function(event, ui) {
                updatesliderval();
                $(this).parent().parent().parent().find(".value").text(data[ui.value].name);

                var progressvalue = ui.value;

		        var id = $(this).attr('data-id');
		        $('#progress-lebel'+id).hide();
                $(this).delay(2000).queue(function() {
		            var scoreid = $('#scoreid_'+ id).val();
		            var studentid = $('#studentid_'+ id).val();
		            var rolesid = $('#rolesid_'+ id).val();
		           
					var url_path = "{{ absolute_url(path('driving_school_school_scorecard_ajaxload_rolesnote')) }}";
					// var url_path = Routing.generate('driving_school_school_scorecard_ajaxload_rolesnote');

			        $.ajax({
			            method: "POST",
			            url: url_path,
			            dataType: "json",
			            data: {scoreid: scoreid, studentid: studentid, rolesid: rolesid, progressvalue: progressvalue},
			            success: function (result) {}
			        });
		            $(this).dequeue();
		        }); 

            }
        });
        function updatesliderval() {
            var tasks_time = $('.progress-slider').slider('value');
            $("#curr-tasks_time").text(tasks_time);   
        }

        // score role notes update
        $(".scorecarddesc").keyup(function(){
	        $(this).delay(2000).queue(function() {
	        	var id = $(this).attr('data-id');
	            var scoreid = $('#scoreid_'+ id).val();
	            var studentid = $('#studentid_'+ id).val();
	            var rolesid = $('#rolesid_'+ id).val();
	            var description = $('#description_'+ id).val();
	            var progressvalue = 'null';

				var url_path = "{{ absolute_url(path('driving_school_school_scorecard_ajaxload_rolesnote')) }}";
				// var url_path = Routing.generate('driving_school_school_scorecard_ajaxload_rolesnote');

		        $.ajax({
		            method: "POST",
		            url: url_path,
		            dataType: "json",
		            data: {scoreid: scoreid, studentid: studentid, rolesid: rolesid, description: description, progressvalue:progressvalue},
		            success: function (result) {}
		        });
	            $(this).dequeue();
	        });        
	    });
    });
</script>
{% endblock %}	