body {
    margin: 0;
    padding: 0;
    font-family: 'EncodeSans-Regular';
    /*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
    font-size: 14px;
}
button {
    font-family: 'EncodeSans-Regular';
}

/*#calendar {
    max-width: 100%;
    margin: 45px auto 20px;
    padding: 15px 0;
    background-color: #4487c7;
}*/
#edit-event {
    width: 475px;
}
#edit-event div input  ,
#edit-event div select{
    height: 40px;
    line-height: 28px;
    width: 100% !important;
    border-radius: 4px;
    font-size: 13px;
    padding: 5px 15px 5px 5px;
    background: #e8e8e8;
    font-family: 'EncodeSans-Regular';
    background: #f3f3f3;
    border: 1px solid #a8a8a8;
    border: 1px solid #dedede;
}
#edit-event #planning_form_startdate_date select, 
#edit-event #planning_form_startdate_time select, 
#edit-event #planning_form_enddate_date select, 
#edit-event #planning_form_enddate_time select {
    width: 32.555% !important;
    float: left;
    margin: 0 1% 0 0;
}
#edit-event #planning_form_startdate_time select, 
#edit-event #planning_form_enddate_time select {
    width: 48.6% !important;
    display: inline-block;
    float: none;
}
#edit-event #planning_form_startdate_time select:last-child, 
#edit-event #planning_form_enddate_time select:last-child {
    margin: 0 0 0 3px;
}
#planning_form_startdate_date ,
#planning_form_enddate_date{
    margin: 0 0 10px 0;
    float: left;
    width: 100%;
}
#edit-event #planning_form_startdate_date select:last-child ,
#planning_form_startdate_time select:last-child ,
#edit-event #planning_form_enddate_date select:last-child{
    margin: 0;
}
#edit-event div input[type="submit"] {
    background: none;
    color: #ffffff;
    width: auto !important;
    background: blue;
    padding: 5px 19px 7px 19px;
    height: auto;
    cursor: pointer;
    border: 0;
    font-size: 13px;
    background: #1161bc;
    line-height: 20px;
}
#edit-event div input[type="submit"]:hover  {
    background: #000000;
}
#edit-event > span {
    text-align: center;
    display: block;
    font-size: 18px;
    font-family: 'EncodeSans-Bold';
    margin: 0 0 20px 0;
}
#edit-event.fancybox-content {
    padding: 0;
    border-radius: 4px;
}
#edit-event span {
    display: none;
    margin-bottom: 0;
    padding: 15px;
    background-image: -webkit-linear-gradient(to right, #4487c7, #1e1e1e);
    background-image: -o-linear-gradient(to right, #4487c7, #1e1e1e);
    background-image: linear-gradient(to right, #4487c7, #1e1e1e);
    color: #fff;
}
#edit-event form {
    background-color: #f4f4f4;
}


.popup-view {
    display: inline-block;
    width: 100%;
}
.instructor-view,
.vehicle-view,
.student-view {
    position: relative;
    margin-bottom: 0;
    padding: 0 15px;
    background-color: #fff;
    border-bottom: 1px solid #DDD;
    vertical-align: top;
}
#edit-event div label {
    font-size: 11px;
    color: #aaa;
    text-transform: uppercase;
}
#edit-event .vehicle-view label,
#edit-event .instructor-view label,
#edit-event .student-view label {
    float: left;
    display: inline-block;
    width: auto;
    font-size: 11px;
    color: #aaa;
    line-height: 40px;
    text-transform: uppercase;
}
#edit-event .package-item .row2:after,
#edit-event .package-item .row1:after,
#edit-event .vehicle-view:after,
#edit-event .instructor-view:after,
#edit-event .student-view:after {
    position: absolute;
    top: 50%;
    right: 16px;
    left: auto;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../../../../bundles/drivingschoolschool/images/arrow_drop.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
}
#edit-event .package-item .row2:after,
#edit-event .package-item .row1:after {
    background-image: url('../../../../bundles/drivingschoolschool/images/arrow_drop_white.png');
}
#edit-event .vehicle-view div select,
#edit-event .instructor-view div select,
#edit-event .student-view div select {
    height: 40px;
    float: right;
    width: 80% !important;
    border: none;
    padding: 5px 20px 5px 5px;
    background-color: transparent;
    font-size: 13px;
    outline: none;
    direction: rtl;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
#edit-event 
#edit-event .location-view,
#edit-event .description-view {
    border-bottom: 1px solid #DDD;
}
#edit-event .description-view {
    border-top: 1px solid #DDD;
    margin-top: 15px;
}
#edit-event .location-view input,
#edit-event .description-view input {
    height: 45px;
    padding: 0 15px;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
}
#edit-event .package-item {
    display: inline-block;
    width: 100%;
    padding: 8px 8px 12px;
    background-color: #fff;
    vertical-align: top;
}
#edit-event .date-view {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 15px;
    background-color: #fff;
    vertical-align: top;
}
#edit-event .end-date-view {
    margin-bottom: 15px;
}
#edit-event .package-item .row2,
#edit-event .package-item .row1 {
    position: relative;
    width: 50%;
    float: left;
}
#edit-event .package-item .row2 label,
#edit-event .package-item .row1 label {
    display: none;
}
#edit-event .package-item .row1 select {
    border-radius: 4px 0 0 4px;
}
#edit-event .package-item .row2 select {
    border-radius: 0 4px 4px 0;
    border-right-color: transparent;
}
#edit-event .package-item .row2 select,
#edit-event .package-item .row1 select {
    height: 50px;
    border-color: transparent;
    border-right-color: #ddd;
    background: #4487c7;
    color: #fff;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.popup-buttons {
    display: inline-block;
    width: auto;
    padding: 15px;
    vertical-align: top;
}
#edit-event div input[type="button"] {
    width: auto !important;
    height: 33px;
    margin-right: 20px;
    padding: 5px 19px 7px 19px;
    line-height: 20px;
}
#edit-event div input[type="button"]:hover {
    background-color: #000;
}
#edit-event div input[type="button"],
#edit-event div input[type="submit"],
#edit-event .popup-buttons input {
    float: left;
    margin-top: 0;
    color: #fff;
    background: -webkit-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background: -o-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background: linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    cursor: pointer;
}
#edit-event .fancybox-close-small {
    display: none;
}
.changeselectorcolor {
    color: #3c71a4;
    font-weight: 600;
}
.popup-cancel {
    display: inline-block;
    margin-top: 15px;
    padding: 4px 0;
    color: #000;
    cursor: pointer;
}
.popup-cancel:hover {
    opacity: .8;
    text-decoration: underline;
}
#edit-event .popup-buttons input[type="button"] {
    margin: 0 0 0 15px;
    background: -webkit-linear-gradient(to bottom, #c02929 0%, #202428 100%);
    background: -o-linear-gradient(to bottom, #c02929 0%, #202428 100%);
    background: linear-gradient(to bottom, #c02929 0%, #202428 100%);
}
#edit-event .popup-buttons input[type="button"]:hover {
    background: #000;
}

.fc-center h2 {
    font-family: 'EncodeSans-Regular';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}
.fc-right .fc-button-group button {
    padding: 6px 10px;
    margin-right: 8px;
}
.fc-widget-header {
    box-shadow: 0 0px 5px -1px rgba(0,0,0,0.3)
}
.fc-right .fc-button-group button:nth-child(2) {
    display: none;
}
.fc-button-group button {
    box-shadow: none !important;
    background: #f2f2f2;
    text-shadow: none;
    color: #000000;
    border-color: #c2c2c2;
    padding: 7px 10px 6px;
    height: auto;
    border-radius: 4px !important;
}
.fc-button-group button.fc-state-hover,
.fc-button-group button.fc-state-active {
    /*background: #000000;*/
    background-image: -webkit-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background-image: -o-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background-image: linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    color: #ffffff;
}
.fc-today-button {
    box-shadow: none;
    text-shadow: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.428571429;
    padding: 7px 10px 6px 10px !important;
    border: 0;
    background-image: -webkit-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background-image: -o-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background-image: linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075)
}
.fc-today-button:hover {
    background: #000;
}
.fc-time-grid .fc-slats td {
    height: 2.25em;
    text-align: center;
    background-color: #fff;
}
.fc th {
    padding: 0 2px;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fc-content > div {
    color: #FFF;
    font-weight: 100;
    line-height: 18px;
}
tr:first-child>td>.fc-day-grid-event {
    padding: 4px 6px;
}
#planning_form_startdate #planning_form_startdate_date ,
#planning_form_enddate #planning_form_enddate_date {
    float: left;
    width: 48%;
}
#planning_form_startdate #planning_form_startdate_date select ,
#planning_form_enddate #planning_form_enddate_date select{
    width: 32.555% !important;
    float: left;
    margin: 0 1% 0 0;
}
#planning_form_startdate #planning_form_startdate_time ,
#planning_form_enddate #planning_form_enddate_time {
    float: right;
    width: 39.5%;
}
#edit-event #planning_form_startdate #planning_form_startdate_time select,
#edit-event #planning_form_enddate #planning_form_enddate_time select {
    width: 47.6% !important;
    display: inline-block;
    float: none;
}
#edit-event #planning_form_enddate #planning_form_enddate_time select {
    width: 47.6% !important;
}
.fancybox-container > div label {
    float: left;
    width: 100%;
}
.fancybox-container .row1, .fancybox-container .row2 {
    float: left;
    width: 49.5%;
}
.fancybox-container .row2 {
    float: right;
}
.fc-toolbar.fc-header-toolbar {
    max-width: 100%;
    margin: 45px auto 0;
    padding: 15px 3px 15px 10px;
    background-color: #4487c7;
}

/*** Changes ***/
.fc-view  {
    background-color: #fff;
}
.fc-toolbar .fc-left {
    position: relative;
}
#instructor-selector-btn {
    position: relative;
    padding: 7px 25px;
    color: #fff;
    background-image: -webkit-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background-image: -o-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background-image: linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
#instructor-selector-btn::before,
#instructor-selector-btn::after {
    position: absolute;
    top: 6px;
    left: 8px   ;
    display: inline-block;
    font-size: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f007";
}
#instructor-selector-btn::after {
    top: 9px;
    right: 8px;
    left: auto;
    content: "\f0d7";
}
#instructor-selector-btn:focus,
#instructor-selector-btn:active,
#instructor-selector-btn:hover {
    background: #000;
}
#instructor-selector {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99;
    width: auto;
    overflow-y: scroll;
}
select#instructor-selector .selected,
select#instructor-selector option {
    position: relative;
    padding: 6px;
    padding-left: 28px;
    background: #fff;
    color: #000;
    font-family: 'EncodeSans-Regular';
}
select#instructor-selector option.selected::before {
    position: absolute;
    top: 7px;
    left: 8px   ;
    display: inline-block;
    font-size: 14px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f00c";
}
#instructor-selector::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}   
#instructor-selector::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#instructor-selector::-webkit-scrollbar-thumb {
    background-color: #000000;
}
select#instructor-selector option
.fc button {
    height: 100%;
}
.fc-ltr .fc-axis {
    color: #999;
    font-size: 11px;
    font-weight: 600;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    padding: 5px 12px;
    color: #999;
    font-size: 12px;
    font-weight: 600;
}
.fc .fc-button-group>:first-child {
    margin-right: 8px;
}
.fc-icon-left-single-arrow:after,
.fc-icon-right-single-arrow:after {
    top: 1px;
}
.fc-button .fc-icon {
    height: auto;
    overflow: visible;
}
table tr:nth-child(2n) td {
    background-color: #fafafa;
}
.fc-toolbar button {
    border: none;
    text-transform: capitalize;
    line-height: 21px;
}
.fc-toolbar button:last-child,
.fc-button-group button {
    font-size: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.fc-toolbar button:first-child {
    border: none;
}
.fc-toolbar button:last-child {
    border-right: none; 
}

.fc-agendaDay-view .fc-time-grid  .fc-unthemed td {
    border-right-color: transparent;
}
.fc-agendaDay-view .fc-time-grid  .fc-ltr .fc-axis {
    border-right: 1px solid #DDD;
    padding: 5px 16px;
}
.fc-agendaDay-view .fc-time-grid  .fc th {
    border-right: 1px solid #DDD;
}
.fc-next-button:hover,
.fc-prev-button:hover {
    background: #000;
}
.fc-next-button:hover .fc-icon-right-single-arrow:after,
.fc-prev-button:hover .fc-icon-left-single-arrow:after {
    color: #fff;
}
#edit-event .date-view.start-date-view {
    float: left;
    width: 70%;
    padding-right: 0;
}
#edit-event .date-view.start-date-view > div {
    display: inline-block;
    width: 100%;
}
#planning_form_startdate #planning_form_startdate_date {
    float: left;
    width: 48% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#planning_form_startdate #planning_form_startdate_time {
    float: right;
    width: 47% !important;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#edit-event .date-view.end-date-view {
    width: 30%;
    padding-bottom: 12px;
    line-height: 20px;
}
#edit-event .date-view.end-date-view > div {
    display: inline-block;
    width: 100%;
}
#edit-event .date-view.end-date-view > div label {
    margin-bottom: 4px;
}
.fc-day-grid-event .fc-time {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-weight: 100;
    text-align: center;
    line-height: 19px;
}
#edit-event#edit-event div.reservation-view {
    padding: 0 15px;
}
#edit-event#edit-event div.reservation-view input {
    display: inline-block;
    width: auto !important;
    padding: 0 15px;
}

.show-xl {
    display: none;
}
.strip-bg {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.25) 5%, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.25) 15%, rgba(255, 255, 255, 0.25) 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.25) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.25) 35%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.25) 45%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.25) 65%, rgba(255, 255, 255, 0.25) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0.25) 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.25) 85%, rgba(255, 255, 255, 0.25) 90%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0.25) 100%);
}

/*** Responsive design ***/
@media handheld, only screen and (max-width: 767px) {
    .fc-agendaDay-button,
    .fc-next-button,
    .fc-prev-button {
        display: none;
    }
    #instructor-selector {
        width: auto;
    }
}
@media handheld, only screen and (max-width: 480px) {
    #instructor-selector-btn {
        padding: 12px 25px 1px;
        font-size: 0;
    }
    .fc-center h2 {
        font-size: 12px;
        line-height: 32px;
    }
    .hide-xl {
        display: none !important;
    }
    .show-xl {
        display: inline-block !important;
    }
    .xl-view {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    .fancybox-slide--html .fancybox-content {
        max-width: 100%;
    }
    #edit-event .vehicle-view div select,
    #edit-event .instructor-view div select,
    #edit-event .student-view div select {
        width: 70% !important;
    }
}