{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/jquery-ui.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/library/*' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/school.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
