<footer>
	<a href="javascript:void(0);" onclick="WhatsAppPopup()" class="whatclick whatclick-t"><img src="{{absolute_url(asset('bundles/drivingschoolschool/images/whats-app_icon.png'))}}" width="70"></a>
	<div class="popup" >
	  	<span class="popuptext" id="myPopup">
	  		<div class="popup-content-head">
		  		<img src="{{absolute_url(asset('bundles/drivingschoolschool/images/whatsapp-logo.png'))}}">
		  		<span>WhatsApp</span>
		  		<a href="javascript:void(0);" id="close_whatsapp"><i class="fa fa-times"></i></a>
	  		</div>
	  		<div class="popup-content-body">
	  			Add the number to the contacts on your <br><br>phone and send us a message via app.
	  		</div>
	  		<div class="popup-number">
	  			{{ render(controller('DrivingSchoolSchoolBundle:Whatsapp:getUserNumber')) }}
	  		</div>
	  	</span>
	</div>
	<strong>© 2018 RIJLESPRIKKER</strong>
</footer>
