	<div class="logo new_head"><a href="{{ path('driving_school_school_dashboard') }}" title=""><img src ="{{ asset('images/Rijlesprikker-logo-v12-1_1.svg') }}" width="40" /></a></div>
	<div class="navigation">
		<ul>
			<li class="dashboard-t {% if app.request.get('_route') == 'driving_school_school_dashboard' %}active{% endif %}">
				<a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
			</li>
			<li class="plannning-t {% if app.request.get('_route') == 'driving_school_school_planning' %}active{% endif %}">
				<a href="{{ path('driving_school_school_planning') }}"><i class="fa fa-calendar-o" aria-hidden="true"></i> Planning</a>
			</li>
			{% if is_granted('ROLE_SCHOOL') %}
				<li class="students-t {% if app.request.get('_route') == 'driving_school_school_students_list' 
			or app.request.get('_route') == 'driving_school_school_students_form' 
			or app.request.get('_route') == 'driving_school_school_student_card' 
			%}active{% endif %}">
					<a href="{{ path('driving_school_school_students_list') }}"><i class="fa fa-users" aria-hidden="true"></i> Students</a>
				</li>
			{% endif %}
			<li class="financial-t {% if app.request.get('_route') == 'driving_school_school_student_financial' %}active{% endif %}">
				<a href="{{ path('driving_school_school_student_financial') }}"><i class="fa fa-briefcase" aria-hidden="true"></i> Financial</a>
			</li>
		</ul>
		<div class="header_notification">
		    {{ render(controller('DrivingSchoolSchoolBundle:Notification:getNotificationIcon')) }}
		</div>
		<div class="right_drpdwn" id="menudrpdown">
			<!-- <a href="javascript:void(0);"><span></span></a> -->
			<div class="hamburger-2" id="hamburger-2">
	          <span class="line"></span>
	          <span class="line"></span>
	          <span class="line"></span>
	        </div>
			<div class="new_drp" style="display:none;">
				<ul>	
					{% if is_granted('ROLE_SCHOOL') %}
					<li>
						<a href="{{ path('driving_school_school_profile') }}">
							Preferences
						</a>
					</li>
					<li>
						<a href="#">
							Instructions
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="WhatsAppPopup()">
							Ask a Question
						</a>
					</li>
					{% endif %}
					<li>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				            <a href="{{ path('driving_school_school_logout', {'subdomain': app.user.getUserName() }) }}">
				                <!-- <i class="fa fa-unlock-alt" aria-hidden="true"></i>  -->
				                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
				            </a>
				        {% else %}
				            <a href="{{ path('driving_school_school_login', {'subdomain': 'newuser' })}}">
				                <!-- <i class="fa fa-unlock-alt" aria-hidden="true"></i>  -->
				                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
				            </a>
				        {% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hamburger" id="hamburger">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>