{% javascripts
  '@DrivingSchoolSchoolBundle/Resources/public/js/jquery.min.js'
  '@DrivingSchoolSchoolBundle/Resources/public/js/jquery-ui.js'
  '@DrivingSchoolSchoolBundle/Resources/public/js/library/*'
  '@DrivingSchoolSchoolBundle/Resources/public/js/school.js'
%}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ absolute_url(asset_url) }}"></script>
{% endjavascripts %}
