<div class="logo"><a href="#" title=""><img src ="{{ asset('images/Rijlesprikker-logo-v12-1.svg') }}" width="40" /></a></div>
    
    <div class="sidebar-profile">
         <div class="sidebar-profile-img">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_SCHOOL') %}
                {{ render(controller('DrivingSchoolSchoolBundle:School:getUserImage')) }}
            {% else %}
                <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/nouser.jpg'))}}">
            {% endif %}
         </div>
         <div class="sidebar-profile-content">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_SCHOOL') %}
                    <h5>{{ app.user.getSchoolName() }}</h5>
                {% else %}
                    <h5>Ersel</h5>    
                {% endif %}
              <label>School</label>
         </div>
    </div>
    <div class="side-menu-part">
        <ul class="treeview-menu menu_level_1 mCustomScrollbar">
            <li class="{% if app.request.get('_route') == 'driving_school_school_profile' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_profile') }}"><i class="fa fa-address-card" aria-hidden="true"></i>School Profile</a>        
            </li>
            <li class="{% if app.request.get('_route') == 'driving_school_school_list_instructor' 
                            or app.request.get('_route') == 'driving_school_school_create_instructor' 
                            or app.request.get('_route') == 'driving_school_school_edit_instructor' 
                        %}active{% endif %}">            
                <a href="{{ path('driving_school_school_list_instructor') }}"><i class="fa fa-user" aria-hidden="true"></i>Instructor(s)</a>        
            </li> 
        </ul>
    </div> 
    <div class="side-menu-part">
        <ul class="treeview-menu menu_level_1 mCustomScrollbar">
            <li class="{% if app.request.get('_route') == 'driving_school_school_list_priceandpackages' 
                            or app.request.get('_route') == 'driving_school_school_create_priceandpackages' 
                            or app.request.get('_route') == 'driving_school_school_edit_priceandpackages' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_drivinglessons_create' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_drivinglessons_edit' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_examination_create' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_examination_edit' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_other_create' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_other_edit' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_package_create' 
                            or app.request.get('_route') == 'driving_school_school_trainingSessions_package_edit' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_list_priceandpackages') }}"><i class="fa fa-gift" aria-hidden="true"></i>Price And Packages</a>        
            </li>
            <li class="{% if app.request.get('_route') == 'driving_school_school_schedule' 
                        or app.request.get('_route') == 'driving_school_school_reservations' or app.request.get('_route') == 'driving_school_school_instructorgroups' 
                        or app.request.get('_route') == 'driving_school_school_instructorgroup_create' 
                        or app.request.get('_route') == 'driving_school_school_instructorgroup_edit' 
                         or app.request.get('_route') == 'driving_school_school_holidays' 
                         or app.request.get('_route') == 'driving_school_school_holidays_create' 
                         or app.request.get('_route') == 'driving_school_school_holidays_edit' 
                         or app.request.get('_route') == 'driving_school_school_appointmentlabel' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar" aria-hidden="true"></i>Schedule</a>        
            </li>
            <!-- <li class="{% if app.request.get('_route') == 'driving_school_school_students_list' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_students_list') }}"><i class="fa fa-users" aria-hidden="true"></i>Pupils</a>        
            </li> -->
        </ul>
    </div>
    <div class="side-menu-part">
        <ul class="treeview-menu menu_level_1 mCustomScrollbar">
            <li class="{% if app.request.get('_route') == 'driving_school_school_list_lessons' 
                            or app.request.get('_route') == 'driving_school_school_modulelist_lessons' 
                            or app.request.get('_route') == 'driving_school_school_moduleadd_lessons' 
                            or app.request.get('_route') == 'driving_school_school_moduleedit_lessons' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_list_lessons') }}"><i class="fa fa-list-ul" aria-hidden="true"></i>Lessons</a>        
            </li> 
            <li class="{% if app.request.get('_route') == 'driving_school_school_list_vehicle' 
                          or app.request.get('_route') == 'driving_school_school_create_vehicle' 
                          or app.request.get('_route') == 'driving_school_school_edit_vehicle' 
                          or app.request.get('_route') == 'driving_school_school_vehicle_mileage' 
                            %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_list_vehicle') }}"><i class="fa fa-car" aria-hidden="true"></i>Vehicle</a>        
            </li>
        </ul>
    </div>
    <div class="side-menu-part">
        <ul class="treeview-menu menu_level_1 mCustomScrollbar">
            <li class="{% if app.request.get('_route') == 'driving_school_school_financial' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_financial') }}"><i class="fa fa-money" aria-hidden="true"></i>Financial</a>        
            </li>
            <li class="{% if app.request.get('_route') == 'driving_school_school_email' 
                            or app.request.get('_route') == 'driving_school_school_email_edit' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_email') }}"><i class="fa fa-envelope" aria-hidden="true"></i>Email-Help</a>        
            </li>
            <li class="{% if app.request.get('_route') == 'driving_school_school_subscription' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_subscription') }}"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>My Subscription</a>        
            </li>
            <!-- <li class="{% if app.request.get('_route') == 'driving_school_school_planning' 
                        %}active{% endif %}">                  
                <a href="{{ path('driving_school_school_planning') }}"><i class="fa fa-calendar" aria-hidden="true"></i>Planning</a>
            </li> -->
        </ul>
    </div>
    <!-- <div class="new_logout">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('driving_school_school_logout', {'subdomain': app.user.getUserName() }) }}">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i> 
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('driving_school_school_login', {'subdomain': 'newuser' })}}">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i> 
                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
    </div> -->