{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop xl-one"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_instructor') }}"><i class="fa fa-user"></i>&nbsp;Instructors</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix custom_middle_section">
    <!-- <div class="ml-one for_mobile"> 
         <span>{{ title }}</span>
    </div> -->
    <div class="form-element">
        {{ form_start(form) }}
        <div class="form-row-main">
            <div class="first-part clearfix">
                <div class="form-row">
                    {{ form_label(form.instructorName) }}
                    <span class="error_red">{{ form_errors(form.instructorName) }}</span>
                    {{ form_widget(form.instructorName) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.username) }}
                    <span class="error_red">{{ form_errors(form.username) }}</span>
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    <span class="error_red">{{ form_errors(form.email) }}</span>
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.codeCRB) }}
                    <span class="error_red">{{ form_errors(form.codeCRB) }}</span>
                    {{ form_widget(form.codeCRB) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.instructorEmail) }}
                    <span class="error_red">{{ form_errors(form.instructorEmail) }}</span>
                    {{ form_widget(form.instructorEmail) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.phoneNumber) }}
                    <span class="error_red">{{ form_errors(form.phoneNumber) }}</span>
                    {{ form_widget(form.phoneNumber, { 'attr': {'onkeypress': 'return isNumberKey(event)','onpaste':'return false;'} }) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.instructorImage) }}
                </div>
                <div class="form-row">
                    {{ form_widget(form.status) }}
                    {{ form_label(form.status) }}
                </div>
                <div class="form-row full_row">
                    {{ form_row(form.authorizedFor) }}
                </div>
            </div>
            <div class="second-part clearfix">
                <h3>Working hour </h3>
                <div class="new_time_table">
                    <div class="form-row">
                        <label class="day-view">Monday</label>
                        {{ form_row(form.monday_start) }} 
                        <div class="dash">-</div>
                        {{ form_row(form.monday_end) }}
                        <span class="error" id="mondayvalidate"></span>
                    </div>
                    <div class="form-row second-table-row">
                        <label class="day-view">Tuesday</label>
                        {{ form_row(form.tuesday_start) }}
                        <div class="dash">-</div>
                        {{ form_row(form.tuesday_end) }}
                        <span class="error" id="tuesdayvalidate"></span>
                    </div>
                    <div class="form-row">
                        <label class="day-view">Wednesday</label>
                        {{ form_widget(form.wednesday_start) }}
                        <span class="validationerror">{{ form_errors(form.wednesday_start) }}</span>
                        <div class="dash">-</div>
                        {{ form_widget(form.wednesday_end) }}
                        <span class="validationerror">{{ form_errors(form.wednesday_end) }}</span>
                        <span class="error" id="wednesdayvalidate"></span>
                    </div>
                    <div class="form-row">
                        <label class="day-view">Thursday</label>
                        {{ form_widget(form.thursday_start) }}
                        <span class="validationerror">{{ form_errors(form.thursday_start) }}</span>
                        <div class="dash">-</div>
                        {{ form_widget(form.thursday_end) }}
                        <span class="validationerror">{{ form_errors(form.thursday_end) }}</span>
                        <span class="error" id="thursdayvalidate"></span>
                    </div>
                    <div class="form-row">
                        <label class="day-view">Friday</label>
                        {{ form_widget(form.friday_start) }}
                        <span class="validationerror">{{ form_errors(form.friday_start) }}</span>
                        <div class="dash">-</div>
                        {{ form_widget(form.friday_end) }}
                        <span class="validationerror">{{ form_errors(form.friday_end) }}</span>
                        <span class="error" id="fridayvalidate"></span>
                    </div>
                    <div class="form-row">
                        <label class="day-view">Saturday</label>
                        {{ form_widget(form.saturday_start) }}
                        <span class="validationerror">{{ form_errors(form.saturday_start) }}</span>
                        <div class="dash">-</div>
                        {{ form_widget(form.saturday_end) }}
                        <span class="validationerror">{{ form_errors(form.saturday_end) }}</span>
                        <span class="error" id="saturdayvalidate"></span>
                    </div>
                    <div class="form-row">
                        <label class="day-view">Sunday</label>
                        {{ form_widget(form.sunday_start) }}
                        <span class="validationerror">{{ form_errors(form.sunday_start) }}</span>
                        <div class="dash">-</div>
                        {{ form_widget(form.sunday_end) }}
                        <span class="validationerror">{{ form_errors(form.sunday_end) }}</span>
                        <span class="error" id="sundayvalidate"></span>
                    </div>
                </div>
            </div>
            <div class="form-row submit-row">
                <button type="submit" class="submit_instructor">{{ btn_title }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('body').on('submit',"[name='instructor_form']",function(event){
            var submitForm = true;
            $(".new_time_table .form-row").each(function(){
                var startHour = parseInt($(this).find("[id$='_start_hour']").val());
                var endHour = parseInt($(this).find("[id$='_end_hour']").val());
                var startMint = parseInt($(this).find("[id$='_start_minute']").val());
                var endMint = parseInt($(this).find("[id$='_end_minute']").val());
                var errorMsg = "";
                var dayName = $(this).find(".day-view").html();

                if(startHour > endHour) {
                    errorMsg = dayName+' end-time must be bigger then Start-time.';
                    submitForm = false;
                }

                if(startHour == endHour) {
                    errorMsg = 'Please select different start-time & end-time for '+dayName;
                    submitForm = false;
                }
                
                if(!isNaN(startHour) && isNaN(endHour)) {
                    errorMsg = 'Please select End-time for '+dayName;
                    submitForm = false;
                }

                if(isNaN(startHour) && !isNaN(endHour)) {
                    errorMsg = 'Please select Start-time for '+dayName;
                    submitForm = false;
                }

                if(!isNaN(startHour) && isNaN(startMint)) {
                    errorMsg = 'Please select Start-minute for '+dayName;
                    submitForm = false;
                }

                if(!isNaN(endHour) && isNaN(endMint)) {
                    errorMsg = 'Please select End-minute for '+dayName;
                    submitForm = false;
                }

                if(errorMsg != "") {
                    $("#"+dayName.toLowerCase()+"validate").html(errorMsg);
                } else {
                    $("#"+dayName.toLowerCase()+"validate").html("");
                }
            });

            return submitForm;
        });
    });
</script>
{% endblock %}
