{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Instructors</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-user"></i>&nbsp;Instructors</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix instructor-tour">
    <!-- <div class="ml-one for_mobile"> 
         <span>Instructor</span>
    </div> -->
    <div class="create-btn instructor-new-t">
        <a href="create" title="" class=""> Create Instructor </a>
    </div>
    
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}  
    <table width="100%" border="" class="new_tab_design">
        <tr>
            <th class="instructor-name-t">Name</th>
            <th>School Name</th>
            <th>Code CRB</th>
            <th class="instructor-action-t">Action</th>
        </tr>
        {% for instructor in instructors %}

        <tr>
            <td>{{ instructor.instructorName }}</td>
            <td>{{ instructor.DrivingSchool.schoolName }}</td>
            <td>{{ instructor.codeCRB }}</td>
            <td>
                <a href="edit/{{ instructor.id }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="delete/{{ instructor.id }}" class="action-btn"  onclick="return confirm('Are you sure you want to delete this instructor?');" title="Delete"><i class="fa fa-trash"></i></a>
                <a href="{{ url('driving_school_school_role_and_permission', {'id':instructor.id}) }}" class="action-btn" title="Role & Permission"><i class="fa fa-check-square-o"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
