{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop xl-one"> 
        <span>Roles & Permission</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_instructor') }}"><i class="fa fa-user"></i>&nbsp;Instructors</a>
                </li>
                <li>
                    <span>Roles & Permission</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix custom_middle_section permission-middle-section">
    <div class="form-element">
        <form method="post" action="{{ url('driving_school_school_role_and_permission', {'id' : id }) }}" id="permissionform">
            <div class="row">
                <div class="form-group role-model">
                    <div class="view-half-model">
                        <h3 class="panel-title">Lession</h3>
                        <div class="form-group">
                            {% for permission in permissions %}
                                <input type="hidden" name="{{ permission.moduleid }}[moduleid]" value="{{ permission.moduleid }}">
                                <div class="option-item">
                                    <div class="half-view">
                                    <label>View</label>
                                    </div>
                                    <div class="half-view">
                                        <input type="checkbox" name="{{ permission.moduleid }}[listrole]" class="list" value="1" {% if permission.listrole == 1 %} checked="checked" {% endif %}>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="half-view">
                                        <label>Add</label>
                                    </div>
                                    <div class="half-view">
                                        <input type="checkbox" name="{{ permission.moduleid }}[addrole]" class="add" value="1" {% if permission.addrole == 1 %} checked="checked" {% endif %}>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="half-view">
                                        <label>Edit</label>
                                    </div>
                                    <div class="half-view">
                                        <input type="checkbox" name="{{ permission.moduleid }}[updaterole]" class="updaterole" value="1" {% if permission.updaterole == 1 %} checked="checked" {% endif %}>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="half-view">
                                        <label>Delete</label>
                                    </div>
                                    <div class="half-view">
                                        <input type="checkbox" name="{{ permission.moduleid }}[deleterole]" class="delete" value="1" {% if permission.deleterole == 1 %} checked="checked" {% endif %}>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="half-view">
                                        <label>Accept</label>
                                    </div>
                                    <div class="half-view">
                                        <input type="checkbox" name="{{ permission.moduleid }}[acceptrole]" class="accept" value="1" {% if permission.acceptrole == 1 %} checked="checked" {% endif %}>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="half-view">
                                        <label>Reject</label>
                                    </div>
                                    <div class="half-view">
                                        <input type="checkbox" name="{{ permission.moduleid }}[rejectrole]" class="reject" value="1" {% if permission.rejectrole == 1 %} checked="checked" {% endif %}>
                                    </div>
                                </div><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row submit-row">
                <input type="submit" class="submit_instructor" name="permissionsubmit" value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock %}
