
<a href="{{ path('admin_drivingschool_admin_vehicleentity_list',{'filter':{ 'brand':{'type':'','value':''}, 'FashionModel':{'type':'','value':''},  'constructionYear':{'type':'','value':''}, 'suitableTrainingCourses':{'type':'','value':''}, 'DrivingSchool__schoolName':{'type':'','value':object.schoolName}, 'status':{'type':'','value':''}, '_page':'1', '_sort_by':'id', '_sort_order':'ASC', '_per_page':32 }}) }}" class="btn btn-sm btn-default view_link" title="View Vehicles">
    <i class="fa fa-eye" aria-hidden="true"></i>
    List Vehicle
</a>

