
<a href="{{ path('admin_drivingschool_admin_instructorentity_list',{'filter':{ 'instructorName':{'type':'','value':''}, 'codeCRB':{'type':'','value':''},  'authorizedFor':{'type':'','value':''}, 'publishCalendar':{'type':'','value':''}, 'DrivingSchool__schoolName':{'type':'','value':object.schoolName}, 'status':{'type':'','value':''}, '_page':'1', '_sort_by':'id', '_sort_order':'ASC', '_per_page':32 }}) }}" class="btn btn-sm btn-default view_link" title="View Vehicles">
    <i class="fa fa-eye" aria-hidden="true"></i>
    List Instructor
</a>
