{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Invoice</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_email') }}"><i class="fa fa-envelope"></i>&nbsp;Billing</a>
                </li>
                <li>
                    <span>Invoice</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix edit_temp">
    <div class="ml-one for_mobile"> 
         <span>Invoice</span>
    </div>
    {{ form_start(form) }}
    <div class="form-row-main new_design_add">
        <div>
            <b>Subject: </b>{{ subject }}
            {{ topcontent | raw }}
        </div>
        <div class="form-row">
            <span class="error_red">{{ form_errors(form.content) }}</span>
            {{ form_widget(form.content) }}
        </div>
        <div>
            {{ bottomcontent | replace({'{ username }' : username, '{ phone }' : userphone }) | raw }}
        </div>
        <div class="form-row submit-row">
            <button type="submit">Update</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}