{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Email-Help</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-envelope"></i>&nbsp;Email-Help</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix">
    <div class="ml-one for_mobile"> 
         <span>Billing</span>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <h3>Billing</h3>
    <table width="100%" border="" class="new_tab_design">
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for emailtmp in emailtmps %}
        <tr>
            <td>{{ emailtmp.title }}</td>
            <td>
                <a href="{{ path('driving_school_school_email_edit', { 'id': emailtmp.id }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
