{% stylesheets
	'@DrivingSchoolSchoolBundle/Resources/public/css/jquery-ui.css' filter='cssrewrite'
	'@DrivingSchoolStudentBundle/Resources/public/css/library/*' filter='cssrewrite'
    '@DrivingSchoolStudentBundle/Resources/public/css/student.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
