{% block content %}
	<div id="student-section">
		<div id="menu-items" class="stu-dashbord-tour">
			<ul>
				<li class="stu-education-t"><a href="{{ url('driving_school_student_dashboard') }}">Education</a></li>
				<li class="stu-profile-t"><a href="{{ url('driving_school_student_profile') }}">Profile</a></li>
				<li class="stu-lesson-t"><a href="{{ url('driving_school_student_lessons') }}">Driving Lesson</a></li>
				<li class="stu-lesson-t"><a href="{{ url('driving_school_student_appointmentlist') }}">Appointment</a></li>
				<li class="stu-invoices-t"><a href="{{ url('driving_school_student_invoices') }}">Invoices</a></li>
				<li class="stu-chat-t"><a href="{{ url('driving_school_student_chat') }}">Chat</a></li>
				<li class="stu-chat-t"><a href="{{ url('driving_school_student_schoolsocialconnect') }}">Connect School</a></li>
				<li class="header_notification stu-notification-t">{{ render(controller('DrivingSchoolStudentBundle:Notification:getNotificationIcon')) }}</li>
			</ul>
		</div>
{% endblock %}