{% javascripts
  '@DrivingSchoolStudentBundle/Resources/public/js/jquery.min.js'
  '@DrivingSchoolStudentBundle/Resources/public/js/jquery.validate.min.js'
  '@DrivingSchoolStudentBundle/Resources/public/js/student.js'
  '@DrivingSchoolStudentBundle/Resources/public/js/planning.js'
  '@DrivingSchoolStudentBundle/Resources/public/js/library/*'
%}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ absolute_url(asset_url) }}"></script>
{% endjavascripts %}
