
{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
   <div class="login-wrapper">
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
