{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="error-msg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <h1>Sign in</h1>
    <div class="form-row-wrapper clearfix">
        <div class="form-row">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
        <div class="form-row">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>
        <div class="form-row">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <span for="remember_me">{{ 'security.login.remember_me'|trans }}</span>
        </div>
        <div class="form-row form-row-submit"> 
             <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </div>
</form>
