{% extends 'school_base_no_sidebar.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="notification">
    <h2>Your Notifications</h2>
    <div id="all_rows"></div>
    <input type="hidden" id="row_no" value="0">
    <div id="loader"></div>
</div>

<script type="text/javascript">
    $(window).scroll(function ()
    {
        if(document.getElementById("row_no").value != "full"  ) {
            if($(document).height() <= $(window).scrollTop() + $(window).height())
            {
                $("#loader").html('<img src="{{absolute_url(asset('bundles/drivingschoolschool/images/loader.gif'))}}" height="200" width="200">');
                loadmore();
            }
        }
    });

    $(window).on("load", function() {
        $("#row_no").val(0);
        loadmore();
    });

    function loadmore()
    {
        var val = document.getElementById("row_no").value;
        $.ajax({
            type: 'post',
            url: "{{ absolute_url(path('driving_school_school_notification_ajaxLoad')) }}",
            data: {
                getresult:val
            },
            cache: false,
            success: function (response) {
                // alert(response);
                $("#loader").html("");
                var content = document.getElementById("all_rows");
                if(response.trim() == "") {
                    document.getElementById("row_no").value = "full";    
                    return true;
                }

                content.innerHTML = content.innerHTML+response;
                // We increase the value by 10 because we limit the results by 10
                document.getElementById("row_no").value = Number(val)+10;
            }
        });
    }
</script>
{% endblock %}