<!-- <a id="notification-click" href="javascript:void(0);"> -->
<a id="notification-click" href="{{ path('driving_school_school_updateReadStatus') }}">
 	<img src="{{absolute_url(asset('bundles/drivingschoolschool/images/bell.svg'))}}" height="40" width="40">
 	
 	{% if count != '0' %}
 		<span style="padding:5px;background-color: red;color: white;border-radius: 20px;">{{ count }}</span>
 	{% endif %}
</a>
<!-- <script>
	$(document).ready(function() {
		$("body").on("click", "#notification-click", function () {
	        var url_path = Routing.generate('driving_school_school_notification');
	        $.ajax({
	            method: "POST",
	            url: url_path,
	            dataType: "json",
	            success: function (result) {
	                alert(result);
	            }
	        });
	    });
	});
</script> -->