{% for notification in notificationdata %}
    <div>
        <div class="notification_media">
            {% if notification.image != '' %}
                <img src="{{ notification.image }}" height="50" width="50">
            {% else %}
                <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/nouser.jpg'))}}" height="50" width="50">
            {% endif %}
            <div class="notify-detail">
                <span>
                    <b>{{ notification.name }}</b> has {{ notification.action }} 
                    <b>{{ notification.package_name }} - {{ notification.training_session_name }}</b> on <b>{{ notification.event_startdate|date('d,M Y H:i') }} - {{ notification.event_enddate|date('H:i') }}</b>
                </span>
                <p>Created Date: {{ notification.creation|date('d,M Y H:i') }}</p>
            </div>
        </div>
    </div>
{% endfor %}