<a href="{{ path('driving_school_student_updateReadStatus') }}">
 	<img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/bell.svg'))}}" height="40" width="40">
 	
 	{% if count != '0' %}
 		<span style="padding:5px;background-color: red;color: white;border-radius: 20px;">{{ count }}</span>
 	{% endif %}
</a>