@font-face {
  font-family: 'FontAwesome';
  src: url('../../../bundles/drivingschoolschool/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../../../bundles/drivingschoolschool/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../../../bundles/drivingschoolschool/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../../../bundles/drivingschoolschool/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../../../bundles/drivingschoolschool/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../../../bundles/drivingschoolschool/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans-Bold';
  src: url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),  
    url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Bold.woff') format('woff'), 
    url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Bold.ttf')  format('truetype'), 
    url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Bold.svg#EncodeSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncodeSans-Regular';
  src: url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Regular.eot?#iefix') format('embedded-opentype'),  
    url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Regular.woff') format('woff'), 
    url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Regular.ttf')  format('truetype'), 
    url('../../../bundles/drivingschoolschool/fonts/EncodeSans-Regular.svg#EncodeSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
    height: 100%;
}
body {
    font-family: 'EncodeSans-Regular' !important;
    background: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    min-height: 100%;
    position: relative;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clr:before,
.clr:after,
.container:before,
.container:after,
.row:before,
.row:after {
    display: table;
    content: " "
}

.clr:after,
.clr:after,
.row:after,
.clear {
    clear: both
}

img,
object,
embed {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: top;
}

/* COMMON RADIO AND CHECKBOX STYLES  */

input[type="radio"], input[type="checkbox"] {
    visibility: visible;
    position: absolute;
    opacity: 0;
    margin: 7px 0 0 0 !important;
}
input[type=radio] + label,
input[type=checkbox] + label{
  cursor:pointer;
}
input[type=radio] + label:before,
input[type=checkbox] + label:before{
  height:16px;
  margin-right: 12px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #ddd;
  border-radius:10px;
  box-shadow: none;
  transition: 0.3s;
}
input[type=radio] + label:before{
  border-radius:50%;
  width:16px;
}
input[type=checkbox] + label:before{
  border-radius: 2px;
    width: 16px;
    height: 16px;
    line-height: 15px;
    text-align: center;
    color: #1161bc;
    vertical-align: middle;
}
/* CHECKED */
input[type=radio]:checked + label:before{
      background: #1161bc;
    border-color: #1161bc;
}
input[type=checkbox]:checked + label:before{
    font-family: 'FontAwesome';
    content: "\f00c";
}

.register_pg_new {
    background: -moz-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1161BC), color-stop(100%, #4487C7));
    background: -webkit-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: -o-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: -ms-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: linear-gradient(180deg, #1161BC 0%, #4487C7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1161BC', endColorstr='#4487C7',GradientType=0 );
    font-family: arial;
    color: #fff;
    padding: 20px 0 0 0;
    text-align: center;
}
.register_pg_new .tbl {
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;
}
.register_pg_new .tbl-cell {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    margin: 0 0 0 0;
}
.register_pg_new .container.right-middle-section.clearfix {
    padding: 0;
    max-width: 480px;
    margin: 0 auto;
    vertical-align: middle;
    /* display: table-cell; */
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
.register_pg_new form {
    float: left;
    width: 100%;
    background: #e4e4e4;
    margin: 15px 0 0 0;
    border-radius: 4px;
    padding: 15px 10px;
}
.register_pg_new .tbl {
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}
.register_pg_new .tbl-cell {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
}
.register_pg_new .right-middle-section a img {
    width: 150px;
}
.register_pg_new .right-middle-section a {
    margin: 0 0 15px 0;
    display: block;
}

.register_pg_new form .form-row label {
    display: none;
}
.register_pg_new form .form-row {
    float: left;
    width: 100%;
    min-height: 0;
}
.register_pg_new form .form-row input {
    border: 1px solid #ccc;
    padding: 0 10px 0 10px;
    font-size: 14px;
    line-height: 18px;
    height: 46px;
    box-sizing: border-box;
    color: #535353;
}
.register_pg_new form .form-row input:focus {
    box-shadow: 0px 0px 2px #0774c5;
    border-color: #0078d1;
}
.register_pg_new form .form-row.submit-row button {
    width: 100%;
    cursor: pointer;
padding: 13px 23px;
font-weight: bold;
    font-family: arial;
         background: -moz-linear-gradient(270deg, #4487C7 0%, #1161BC 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4487C7), color-stop(100%, #1161BC)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #4487C7 0%, #1161BC 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #4487C7 0%, #1161BC 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #4487C7 0%, #1161BC 100%); /* ie10+ */
    background: linear-gradient(180deg, #4487C7 0%, #1161BC 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4487C7', endColorstr='#1161BC',GradientType=0 ); /* ie6-9 */ 
}
.register_pg_new form .form-row.submit-row button:hover {
    background: -moz-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1161BC), color-stop(100%, #4487C7));
    background: -webkit-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: -o-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: -ms-linear-gradient(270deg, #1161BC 0%, #4487C7 100%);
    background: linear-gradient(180deg, #1161BC 0%, #4487C7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1161BC', endColorstr='#4487C7',GradientType=0 );
}
.register_pg_new > a > img {
    width: 130px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog > div {
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 100%;
}

#student-section {
    float: left;
    width: 100%;
}
#menu-items {
    float: left;
    /*background: #1161bc;*/
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-image: -webkit-linear-gradient(to right, #4487c7, #1e1e1e);
    background-image: -o-linear-gradient(to right, #4487c7, #1e1e1e);
    background-image: linear-gradient(to right, #4487c7, #1e1e1e);
    box-shadow: 0px 1px 20px -5px #000;
}
#menu-items ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
}
#menu-items ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
}
#menu-items ul li.active {
    border-bottom: 2px solid #fff;
}
#menu-items ul li a {
    color: #ffffff;
    text-decoration: none;
}
#student_logo_upload {
    visibility: hidden;
}
.new_portal_layout {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}
.notify-portal_new {
    padding: 0 !important;
}
.portal_new_layout input {
    position: absolute;
}
.portal_new > div span {
    display: block;
}
.portal_new_layout {
    float: left;
    width: 85px;
    margin: 0 20px 0px 0;
}
.portal_new {
    max-width: 580px;
    background: #ffffff;
    /*padding: 15px;*/
    margin: 0 auto;
    /* min-height: 102px; */
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}
.portal_new > div {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.portal_new > div > p {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: right;
    margin-right: 10px;
}
.portal_school b {
    font-weight: normal;
    font-family: 'EncodeSans-Bold';
    font-size: 14px;
}
.portal_school {
    font-family: 'EncodeSans-Regular';
    font-size: 13px;
    color: #000;
}
.new_profile {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}
.new_profile_block {
    max-width: 580px;
    margin: 0 auto 30px auto;
}
.new_profile_block span {
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    font-family: 'EncodeSans-Bold';
    color: #000000;
    margin: 0 0 5px 0;
}
.new_profile_block a {
    padding: 15px;
    display: block;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    margin: 0px 0 0 0;
    font-family: 'EncodeSans-Regular';
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s ease-in 0s all;
    -webkit-transition: 0.2s ease-in 0s all;
    -o-transition: 0.2s ease-in 0s all;
    -moz-transition: 0.2s ease-in 0s all;
    color: #000000;
}
.new_profile_block a i {
    margin: 0 6px 0 0;
    background: #1161bc;
    padding: 6px 10px;
    border-radius: 4px;
    color: #ffffff;
}
.new_profile_block:last-child {
    text-align: center;
    margin-top: 50px;
}
.new_profile_block a:hover {
    background: #ccc;
    background: #f3f3f3;
    transition: 0.2s ease-in 0s all;
    -webkit-transition: 0.2s ease-in 0s all;
    -o-transition: 0.2s ease-in 0s all;
    -moz-transition: 0.2s ease-in 0s all;
}
.drive_block {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}
.drive_image, 
.drive_address {
    max-width: 580px;
    margin: 0 auto 50px auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.drive_address .drive_loop {
    font-size: 13px;
    line-height: 23px;
    margin: 0px 0 0 0;
    border-bottom: 1px solid #e3e3e3;
    font-family: 'EncodeSans-Regular';
    padding: 10px 15px 10px 15px;
}
.drive_image img {
    width: 100%;
    border-radius: 4px;
}
.drive_address .drive_loop label {
     font-family: 'EncodeSans-Bold';
}
.chnage_pass h3 {
    max-width: 580px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-family: 'EncodeSans-Bold';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
}
.chnage_pass {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}
.new_form_pass {
    max-width: 580px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.new_form_pass form label {
    font-family: 'EncodeSans-Bold';
    font-size: 13px;
    text-transform: capitalize;
}
.new_form_pass form input {
    width: 100%;
    border: 1px solid #dedede;
    height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 40px;
}
.new_form_pass form > div {
    margin: 0 0 15px 0;
}
.new_form_pass form input[type="submit"] {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'EncodeSans-Bold';
    background: #1161bc;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.new_form_pass form label.error {
    color: #ff0000;
    font-family: 'EncodeSans-Regular';
}
#student-section .breadcrumb {
    float: right;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0 15px;
    text-align: right;
}
.breadcrumb>li+li:before {
    display: none;
}
#student-section .breadcrumb li {
    margin: 0 0 0 5px;
    display: inline-block;
    position: relative;
    padding: 0 0 0 10px;
}
#student-section .breadcrumb li a {
    color: #1161bc;
    text-decoration: none;
}
#student-section .breadcrumb li a, 
#student-section .breadcrumb li span {
    font-size: 13px;
}
.breadcrumb li::after {
    /* content: ; */
    content: "/";
    position: absolute;
    right: -8px;
    top: 0;
    color: #000;
    width: 1px;
    height: auto;
}
.breadcrumb li:last-child::after {
    content: none;
}
.header_notification {
    position: relative;
    display: inline-block;
    padding-right: 40px;
}
.header_notification a {
    display: inline-block;
    padding: 10px;
}
.header_notification a img {
    max-width: 25px;
    width: 100%;
    height: 25px;
}
.header_notification a span {
    position: absolute;
    top: 8px;
    left: 24px;
    height: 20px;
    width: 22px;
    padding: 0px 5px !important;;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.notification {
    display: inline-block;
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
}
.notification h2 {
    margin: 0 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
}
.notification .notification_media {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0px 5px 8px -6px #000 ;
    -moz-box-shadow: 0px 5px 8px -6px #000 ;
    -ms-box-shadow: 0px 5px 8px -6px #000 ;
    -o-box-shadow: 0px 5px 8px -6px #000 ;
    box-shadow: 0px 5px 8px -6px #000 ;
}
.notification .notification_media img {
    max-width: 50px;
    height: 50px;
    width: 100%;
    border-radius: 50%;
}
.notification .notify-detail {
    display: inline-block;
    margin-left: 10px;
}
.notification .notify-detail span {
    font-size: 14px;
}
.notification .notify-detail span b {
    color: #345a7f;
}
.notification .notify-detail p {
    margin: 0;
    color: #797979;
    font-size: 12px;
}

#student-section ul li a {
   display: inline-block;
   vertical-align: middle;
}
#student-section ul li a img {
    max-width: 24px;
}
.form-row-main.milege_form .block_title_new {
    margin: 0 0 8px 0;
}
.block_title_new {
    background: #f2f2f2;
    padding: 10px 15px;
    color: #000;
}

.portal_new .grid-3 {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    -webkit-width: calc(33.33% - 15px);
    -moz-width: calc(33.33% - 15px);
    -ms-width: calc(33.33% - 15px);
    -o-width: calc(33.33% - 15px);
    width: calc(33.33% - 15px);
}
.portal_new .grid-3 span,
.portal_new .date-item .full-date,
.portal_new .grid-4 span {
    font-size: 13px;
}
.portal_new .date-item .start-date {
    float: left;
}
.portal_new .date-item .end-date,
.portal_new .date-item .start-date {
    display: inline-block;
    font-size: 13px;
}
.portal_new .grid-3:last-child,
.portal_new .grid-4:last-child {
    float: right;
    width: auto;
    margin: 10px 0;
    padding: 2px 8px !important;
}
.portal_new.portal_detail_new span {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background: -webkit-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background: -o-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background: linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.portal_new.portal_detail_new span:hover {
    opacity: .9;
}
.portal_new.portal_report_new > a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
}
.portal_new.portal_report_new .progression-module-name span {
    font-weight: normal;
    color: #a2a2a2;
}
.portal_new.portal_report_new .progression-module-name {
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 5px; 
}
.portal_new.portal_report_new .progress {
    margin-bottom: 0;
}
.portal_new .grid-3:last-child, .portal_new .grid-4:last-child {
    float: right;
    width: auto;
    margin: 10px 0;
    padding: 2px 8px !important;
    font-size: 13px;
}
.portal_new .row {
    margin-bottom: 6px;
    padding: 10px 15px 6px;
    border-bottom: 1px solid #ddd;
}
.portal_new .lesson-item {
    border-radius: 5px;
    color: #fff;
}
.statusreservation {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
}
.statusreservation label {
    font-size: 14px;
}
.statusreservation .input-field {
    display: inline-block;
    float: right;
}
.statusreservation input[type="submit"] {
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 19px;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    padding: 4px 15px 7px 15px;
    font-size: 12px;
    font-family: 'EncodeSans-Regular';
    text-decoration: none;
    margin: 0 10px 0 0;
    text-transform: capitalize;
    background: -webkit-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background: -o-linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
    background: linear-gradient(to bottom, #3c71a4 0%, #202428 100%);
}
.portal_new .auto-mail {
    padding: 6px 15px;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #ddd;
    font-size: 13px;
    font-style: italic;
    color: #ababab;
}
#loader {
    text-align: center;
}
#lessons-content {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: 120px auto 40px;
    background-color: #fbfbfb;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border-radius: 4px;
}
#lessons-content > div {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}
#lessons-content > div:last-child {
    border-bottom: none;
}
.lesson-inner-content {
    display: inline-block;
    width: 100%;
}
.lesson-inner-content .user-img {
    float: left;
    display: inline-block;
    width: auto;
    margin: 8px 0;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
}
.lesson-inner-content .user-img img {
    margin-right: 5px;
}
.lesson-inner-content .inner-right-content {
    float: right;
    display: inline-block;
    font-size: 13px;
    color: #333;
}
.lesson-inner-content .inner-right-content span:last-child {
    display: block;
    text-align: right;
    color: #aaa;
}
#lessons-content > a {
    display: inline-block;
    width: 100%;
    padding: 10px 15px 5px;
    /*background-color: #f5f5f5;*/
    border-bottom: 1px solid #ddd;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#lessons-content > a:hover {
    background-color: #f5f5f5;    
}

@media (max-height: 480px){
    .notification .notification_media {
        text-align: center;
    }
    .notification .notify-detail {
        text-align: left;
        margin-right: 0;
        margin-top: 15px;
    }
}