{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/bootstrap-datepicker.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_holidays') }}"><i class="fa fa-tree"></i>&nbsp;Holidays</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix">
    <!-- <div class="ml-one for_mobile"> 
        <span>{{ title }}</span>
    </div> -->
    {{ form_start(form) }}
    <div class="form-row-main">
    	<div class="form-row">
            {{ form_label(form.name) }}
            <span class="error_red">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-row">
            {{ form_widget(form.status) }}
            {{ form_label(form.status) }}
        </div>
        <div class="form-row">
            {{ form_row(form.date) }}
        </div>
        <div class="form-row">
            {{ form_row(form.until) }}
        </div>
        <div class="form-row instructor_list">
            {{ form_row(form.instructor) }}
        </div>
        <div class="form-row submit-row">
            <button type="submit">{{ btn_title }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
<script>
    $('#holiday_form_date').datepicker({
        minDate: '0',
        format: 'dd-mm-yyyy',
    });
    $('#holiday_form_until').datepicker({
        minDate: '0',
        format: 'dd-mm-yyyy',
    });
</script>
{% endblock %}