{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Holidays</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
                </li>
                <li>
                    <span><i class="fa fa-tree"></i>&nbsp;Holidays</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix holiday-tour">
   <!--  <div class="ml-one for_mobile"> 
        <span>Holidays</span>
    </div> -->
    <div class="create-btn">
        <a href="{{ path('driving_school_school_holidays_create') }}" title="" class="holidays-new-t"> Create Holiday</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 

    <table class="inst new_tab_design" width="100%" border="">
        <tr>
            <th>Name</th>
            <th>Period</th>
            <th>Instructor</th>
            <th class="holidays-action-t">Action</th>
        </tr>
        {% for holiday in holidays %}
                <tr>
                    <td>{{ holiday.holidayName }}</td>
                    <td>{{ holiday.holidaydate | date("d-m-Y") }} until {{ holiday.holidayuntildate | date("d-m-Y") }}</td>
                    <td>{{ holiday.instructorName }}</td>
                    <td><a href="{{ path('driving_school_school_holidays_edit', { 'id' : holiday.holidayId }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('driving_school_school_holidays_delete', { 'id' : holiday.holidayId }) }}" class="action-btn"  onclick="return confirm('Are you sure you want to delete this item?');" title="Delete"><i class="fa fa-trash"></i></a></td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
