{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
		<span>Courses</span>
		<div class="breadcrumb-content">
			<ol class="breadcrumb">
		        <li>
		            <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		        </li>
		        <li>
		            <a href="{{ path('driving_school_school_list_priceandpackages') }}"><i class="fa fa-gift"></i>&nbsp;Price&Packages</a>
		        </li>
		        <li>
		            <span><i class="fa fa-graduation-cap"></i>&nbsp;Courses</span>
		        </li>
		    </ol>
	    </div>
	</div>
</div>
<div class="container right-middle-section clearfix course-tour">
	<!-- <div class="ml-one for_mobile"> 
		 <span>Courses</span>
	</div> -->
	<a href="{{ path('driving_school_school_edit_priceandpackages', {'id' : pricepackageid}) }}" class="updatepackage package-update-t">Change name / icon </a> 
	{% for message in app.session.flashbag.get('success_message') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 

	<div id="trainingtab">
		<ul>
			<li class="{% for lesson in app.session.flashbag.get('lesson_parameter') %} {% if lesson == 'driving_lesson' %} ui-tabs-active ui-state-active {% endif %}{% endfor %}" ><a href="#drivinglessons">driving lessons</a></li>
			<li class="{% for exam in app.session.flashbag.get('exam_parameter') %} {% if exam == 'examination' %} ui-tabs-active ui-state-active {% endif %}{% endfor %}"><a href="#examinations">Examinations and tests</a></li>
			<li class="{% for other in app.session.flashbag.get('other_parameter') %} {% if other == 'other' %} ui-tabs-active ui-state-active {% endif %}{% endfor %}"><a href="#other">Other</a></li>
			<li class="{% for packages in app.session.flashbag.get('packages_parameter') %} {% if packages == 'packages' %} ui-tabs-active ui-state-active {% endif %}{% endfor %}"><a href="#packages">Packages</a></li>
	    </ul>

	    <div id="drivinglessons" class="tabcontent">
		    <h3>
		    	<a href="{{ path('driving_school_school_trainingSessions_drivinglessons_create', { 'pricepackageid' : pricepackageid }) }}" class="course-new-t">
		    	Create Driving Lessons</a>
	    	</h3>
		    <table width="100%" border="" class="new_tab_design">
		        <tr>
		            <th>Name</th>
		            <th>price</th>
		            <th class="cources-action-t">Action</th>
		        </tr>
		        {% for drivinglesson in drivinglessons %}
		                <tr>
		                    <td>{{ drivinglesson.name }}</td>
		                    <td>€ {{ drivinglesson.vatCalc }} / {{ drivinglesson.qty }} {{ drivinglesson.unit }}</td>
		                    <td><a href="{{ path('driving_school_school_trainingSessions_drivinglessons_edit', { 'pricepackageid' : drivinglesson.pricepackageid, 'id' : drivinglesson.id }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
		                    </td>
		                </tr>
		        {% endfor %}
	    	</table>
		</div>

		<div id="examinations" class="tabcontent">
		    <h3>
		    	<a href="{{ path('driving_school_school_trainingSessions_examination_create', { 'pricepackageid' : pricepackageid }) }}">
		    	Create Examination & Tests</a>
	    	</h3>
		    <table width="100%" border="" class="new_tab_design">
		        <tr>
		            <th>Name</th>
		            <th>price</th>
		            <th>Action</th>
		        </tr>
		        {% for examination in examinations %}
	                <tr>
	                    <td>{{ examination.name }}</td>
	                    <td>€ {{ examination.vatCalc }} / {{ examination.qty }} {{ examination.unit }}</td>
	                    <td><a href="{{ path('driving_school_school_trainingSessions_examination_edit', { 'pricepackageid' : examination.pricepackageid, 'id' : examination.id }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
	                    </td>
	                </tr>
		        {% endfor %}
	    	</table>
		</div>

		<div id="other" class="tabcontent">
		    <h3>
		    	<a href="{{ path('driving_school_school_trainingSessions_other_create', { 'pricepackageid' : pricepackageid }) }}">
		    	Create Other</a>
	    	</h3>
		    <table width="100%" border="" class="new_tab_design">
		        <tr>
		            <th>Name</th>
		            <th>price</th>
		            <th>Action</th>
		        </tr>
		        {% for other in others %}
	                <tr>
	                    <td>{{ other.name }}</td>
	                    <td>€ {{ other.vatCalc }} / {{ other.qty }} {{ other.unit }}</td>
	                    <td><a href="{{ path('driving_school_school_trainingSessions_other_edit', { 'pricepackageid' : other.pricepackageid, 'id' : other.id }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
	                    </td>
	                </tr>
		        {% endfor %}
	    	</table>
		</div>

		<div id="packages" class="tabcontent">
		    <h3>
		    	<a href="{{ path('driving_school_school_trainingSessions_package_create', { 'pricepackageid' : pricepackageid }) }}">
		    	Create Packages</a>
	    	</h3>
		    <table width="100%" border="" class="new_tab_design">
		        <tr>
		            <th>Name</th>
		            <th>price</th>
		            <th>Action</th>
		        </tr>
		        {% for package in packages %}
	                <tr>
	                    <td>{{ package.name }}</td>
	                    <td>€ {{ package.packageCalc }}</td>
	                    <td><a href="{{ path('driving_school_school_trainingSessions_package_edit', { 'pricepackageid' : package.pricepackageid, 'id' : package.id }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
	                    </td>
	                </tr>
		        {% endfor %}
	    	</table>
		</div>
	</div>
</div>
{% endblock %}