{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_priceandpackages') }}"><i class="fa fa-gift"></i>&nbsp;Price&Packages</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_trainingSessions', {'id' : pricepackageid }) }}"><i class="fa fa-graduation-cap"></i>&nbsp;Courses</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix training-session-content">
    <!-- <div class="ml-one for_mobile"> 
         <span>{{ title }}</span>
    </div> -->
    {{ form_start(form) }}
    <div class="form-row-main new_design_add">
    	<div class="form-row">
            {{ form_label(form.name) }}
            <span class="error_red">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-row new_pricing_row">
            <span class="error_red">{{ form_errors(form.price) }}</span>
            <div class="top-label-section">
                <div class="label-content price-content">
                    <label>Price</label>
                    <p>Appointments with other lengths are calculated automatically</p>
                </div>
                {{ form_widget(form.price, { 'attr': {'onkeypress': 'return isNumberKeydot(event)', 'onpaste':'return false;'} }) }}
                
                {{ form_widget(form.includedVat) }}
                {{ form_label(form.includedVat) }}
                {{ form_widget(form.vat) }}
                <label class="label2">Per</label>
                {{ form_widget(form.qty, { 'attr': {'onkeypress': 'return isNumberKey(event)', 'onpaste':'return false;'} }) }}
                {{ form_widget(form.unit) }}
            </div>
            <span class="qtyerr_red">{{ form_errors(form.qty) }}</span>
        </div>
       
        <div class="advanced"> 
            <div class="form-row drivinglessons-grid">
                {{ form_row(form.schedule) }}
                {{ form_row(form.exam) }}
            </div> 
            <div class="form-row drivinglessons-grid">
                {{ form_row(form.accountingCode) }}
                {{ form_row(form.category) }}
            </div> 
            <div class="form-row drivinglessons-grid">
                {{ form_row(form.codeCbr) }}
                <div class="linked-section">
                    <label>Linked To</label>
                    <select name="linkedTo">
                        <option value="0">Not linked</option>
                        <optgroup label="Driving Lesson">
                            {% for trainigsession in trainigsessions %}
                                {% if trainigsession.type == 0 %}
                                    <option value="{{ trainigsession.id }}" {% if trainigsession.id|trim == linkedTo|trim %} selected="selected" {% endif %} >{{ trainigsession.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Examination And Tests">
                             {% for trainigsession in trainigsessions %}
                                {% if trainigsession.type == 1 %}
                                    <option value="{{ trainigsession.id }}" {% if trainigsession.id|trim == linkedTo|trim %} selected="selected" {% endif %}>{{ trainigsession.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Other">
                             {% for trainigsession in trainigsessions %}
                                {% if trainigsession.type == 2 %}
                                    <option value="{{ trainigsession.id }}" {% if trainigsession.id|trim == linkedTo|trim %} selected="selected" {% endif %}>{{ trainigsession.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <span>If the above is added as credit is also added. Not the other way around!</span>
                </div>
            </div>
            <div class="form-row drivinglessons-grid">
                {{ form_widget(form.status) }}
                {{ form_label(form.status) }}
            </div>
        </div>
        <!-- <div class="advancedclick_div">
            <a class="advancedclick" id="advancedclick"><i class="fa fa-cog" aria-hidden="true"></i> Advanced</a>
        </div> -->
        <div class="form-row submit-row">
            <button type="submit">{{ btn_title }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
