{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_priceandpackages') }}"><i class="fa fa-gift"></i>&nbsp;Price&Packages</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_trainingSessions', {'id' : pricepackageid }) }}"><i class="fa fa-graduation-cap"></i>&nbsp;Courses</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix">
    <!-- <div class="ml-one for_mobile"> 
         <span>{{ title }}</span>
    </div> -->
    {{ form_start(form) }}
        <div class="form-row-main new_design_edit1 pack_create">
            <div class="form-row">
              <div class="newinput_wrap">
                  {{ form_label(form.name) }}
                  <span class="error_red">{{ form_errors(form.name) }}</span>
                  {{ form_widget(form.name) }}
              </div>
              <input type="hidden" name="pricepackageid" id="pricepackageid" value="{{ pricepackageid }}">
                
                <div class="form-row full">
                  <div id="packagesdisplay">
                      {% for trainingsessions in trainingsessiondetails %}
                          <div class=''>
                                <input type='text' name='data[{{ loop.index }}][attribute]' id='qty_{{ loop.index }}' required class='attribute' value="{{ trainingsessions.attribute }}"><select name='data[{{ loop.index }}][linkedto]' id='linkedto' required>
                                    <option value=''>Select</option>
                                    <optgroup label="Driving Lesson">
                                        {% for trainigsession in trainigsessiondata %}
                                            {% if trainigsession.type == 0 %}
                                                <option value="{{ trainigsession.id }}" {% if trainigsession.id|trim == trainingsessions.linkedto|trim %} selected="selected" {% endif %} >{{ trainigsession.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Examination And Tests">
                                         {% for trainigsession in trainigsessiondata %}
                                            {% if trainigsession.type == 1 %}
                                                <option value="{{ trainigsession.id }}" {% if trainigsession.id|trim == trainingsessions.linkedto|trim %} selected="selected" {% endif %}>{{ trainigsession.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Other">
                                         {% for trainigsession in trainigsessiondata %}
                                            {% if trainigsession.type == 2 %}
                                                <option value="{{ trainigsession.id }}" {% if trainigsession.id|trim == trainingsessions.linkedto|trim %} selected="selected" {% endif %}>{{ trainigsession.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select><input type='text' name='data[{{ loop.index }}][price]' id='price_{{ loop.index }}' required class='price'  value="{{ trainingsessions.price }}"><div class='rdbutton'>
                                    <input type='checkbox' name='data[{{ loop.index }}][incl_vat]' id='inclvat_{{ loop.index }}' class='inclvat' value='1' {% if trainingsessions.incl_vat|trim == 1 %} checked="checked" {% endif %}><label>incl. vat</label>
                                </div><select name='data[{{ loop.index }}][vat]' class='vattax'>
                                    <option value='21' {% if trainingsessions.vat|trim == 21 %} selected="selected" {% endif %}>21% VAT</option>
                                    <option value='19' {% if trainingsessions.vat|trim == 19 %} selected="selected" {% endif %}>19% VAT</option>
                                    <option value='6' {% if trainingsessions.vat|trim == 6 %} selected="selected" {% endif %}>6% VAT</option>
                                    <option value='0' {% if trainingsessions.vat|trim == 0 %} selected="selected" {% endif %}>No Tax</option>
                                </select><input class='btn btn-danger removeNext' type='button' id='removeNext' value='' /><i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        
                        {% endfor %}
                  </div>
                  <input class="btn btn-success" type="button" id="addmore" value="+ Add" />
                </div>
            </div>

            <div class="form-row submit-row">
                <button type="submit">{{ btn_title }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}