{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
	<span>Financial</span>
		<div class="breadcrumb-content">
			<ol class="breadcrumb">
				<li>
					<a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
			    </li>
				<li>
					<span><i class="fa fa-money"></i>&nbsp;Financial</span>
				</li>
			</ol>
		</div>
    </div>
</div>
<div class="container right-middle-section clearfix">
	<div class="ml-one for_mobile"> 
		 <span>Financial</span>
	</div>
    {% for message in app.flashes('success') %}
	    <div class="flash-success">
	        {{ message }}
	    </div>
	{% endfor %}
	{{ form_start(form) }}
	<div class="form-row-main">
    	<div class="first-part clearfix">
			<div class="form-row">
				{{ form_row(form.window_on_envelope) }}
			</div>
			<div class="form-row">
				{{ form_widget(form.logo, { 'attr': {'style': 'visibility:hidden;'} }) }}
				{{ render(controller('DrivingSchoolSchoolBundle:School:getUserImage')) }}
			</div>
			<div class="form-row">
				{{ form_row(form.payment_term) }}
			</div>
    		<div class="form-row">
    			{{ form_label(form.footer_for_invoice) }}
				{{ form_widget(form.footer_for_invoice) }}
			</div>
			<div class="form-row">
				{{ form_row(form.footer_with_direct_debit) }}
			</div>
			<div class="form-row">
				{{ form_row(form.footer_1st_reminder) }}
			</div>
			<div class="form-row">
				{{ form_row(form.footer_2nd_memory) }}
			</div>
			<div class="form-row">
				{{ form_row(form.footer_with_credit_invoice) }}
			</div>
		</div>
		<div class="form-row submit-row">
			<button type="submit">Update</button>
		</div>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}