 {% block stylesheets %}
    {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:css.html.twig' %}
{% endblock %}

{% block content %}
<body>
<div class="login_img"  style="background-image: url('{{ asset('bundles/drivingschoolschool/images/tuk-tuk-336690_1920.jpg')}}');">

</div>
	<div class="register_pg_new">
	    
	    <div class="tbl">
		    <div class="tbl-cell first_tb">
		    	<div class="left_text">
		    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		    	</div>
		    </div>
	        <div class="tbl-cell">
				<div class="container right-middle-section clearfix">
					<a href="{{ path('driving_school_front_homepage') }}">
	                    {#<img src="{{absolute_url(asset('bundles/drivingschoolfront/images/Rijlesprikker-logo-v12-white.svg'))}}" alt="">#}
						<img src="{{ asset('bundles/drivingschoolfront/images/Rijlesprikker-logo-v12-white.svg') }}" alt="">
	                </a>

					<div class="messages">
					{% for flashMessage in app.session.flashbag.get('success') %}
					    {{ flashMessage }}
					{% endfor %}

					{% if error %}
					    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					
					</div>
					<h3>Welcome {{ school_name }}</h3>
					{{ form_start(form, {'action': path('driving_school_school_login_post',{ 'subdomain': app.request.get('subdomain') })}) }}
					{{ form_errors(form) }}
					

					<div class="form-row-main">
			        	<div class="first-part clearfix">
			        		<div class="form-row">
								{{ form_row(form.username) }}
							</div>
							<div class="form-row">
								{{ form_row(form.password) }}
							</div>
						</div>
						<div class="form-row submit-row">
							<button type="submit">Login</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}