{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %}
{% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
		<span>Profile</span>
		<div class="breadcrumb-content">
		    <ol class="breadcrumb">
		        <li>
		            <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		        </li>
		        <li>
		            <span><i class="fa fa-user-circle"></i>&nbsp;Profile</span>
		        </li>
		    </ol>
	    </div>
	</div>
</div>
<div class="container right-middle-section clearfix profile-section">
	<!-- <div class="ml-one for_mobile"> 
		<span>Profile</span>
	</div> -->
    {% for message in app.flashes('success') %}
	    <div class="flash-success">
	        {{ message }}
	    </div>
	{% endfor %}
	{{ form_start(form) }}
	<div class="form-row-main">
    	<div class="first-part clearfix">
    		<h3>Driving School Info</h3>
    		<div class="form-row">
				{{ form_label(form.schoolName) }}
				{{ form_widget(form.schoolName) }}
				<span class="error_red">{{ form_errors(form.schoolName) }}</span>
			</div>
			<div class="form-row">
				{{ form_label(form.schoolAddress) }}
				{{ form_widget(form.schoolAddress) }}
				<span class="error_red">{{ form_errors(form.schoolAddress) }}</span>
			</div>
		</div>
		<div class="first-part clearfix contact_detail">
    		<h3>Contact details</h3>
			<div class="form-row">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
				<span class="error_red">{{ form_errors(form.email) }}</span>
			</div>
			<div class="form-row">
				{{ form_label(form.schoolPhone) }}
				<span class="error_red">{{ form_errors(form.schoolPhone) }}</span>
				{{ form_widget(form.schoolPhone, { 'attr': {'onkeypress': 'return isNumberKeyTextNot(event)', 'onpaste':'return false;'} }) }}
			</div>
			<div class="form-row">
				{{ form_row(form.schoolWebsite) }}
			</div>
		</div>
		<div class="first-part clearfix">
    		<h3>Company details</h3>
    		<div class="form-row">
				{{ form_row(form.schoolCCNNumber) }}
			</div>
			<div class="form-row">
				{{ form_row(form.schoolVatNumber) }}
			</div>
			<div class="form-row">
				{{ form_row(form.schoolBankActNumber) }}
			</div>
		</div>
		<div class="first-part clearfix social_detail">
    		<h3>Social Network</h3>
			<div class="form-row">
				{{ form_label(form.facebookUrl) }}
				{{ form_widget(form.facebookUrl) }}
				<span class="error_red">{{ form_errors(form.facebookUrl) }}</span>
			</div>
			<div class="form-row">
				{{ form_label(form.instagramUrl) }}
				{{ form_widget(form.instagramUrl) }}
				<span class="error_red">{{ form_errors(form.instagramUrl) }}</span>
			</div>
			<div class="form-row">
				{{ form_label(form.linkedinUrl) }}
				{{ form_widget(form.linkedinUrl) }}
				<span class="error_red">{{ form_errors(form.linkedinUrl) }}</span>
			</div>
			<div class="form-row">
				{{ form_label(form.twitterUrl) }}
				{{ form_widget(form.twitterUrl) }}
				<span class="error_red">{{ form_errors(form.twitterUrl) }}</span>
			</div>
		</div>
		<div class="form-row submit-row">
			<button type="submit">Update</button>
		</div>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}