{% if imagepath != '' %}
<a class="click-change" href="javascript:void(0);">
    <img src="{{ imagepath }}"/>
</a>
{% else %}
<a class="click-change" href="javascript:void(0);">
	<img src="{{absolute_url(asset('bundles/drivingschoolschool/images/nouser.jpg'))}}">
</a>
{% endif %}