{% extends 'student_base.html.twig' %}{% block title %}Change Password{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
    </li>
    <li>
    	<a href="{{ path('driving_school_student_profile') }}"><i class="fa fa-user-circle"></i>&nbsp;Profile</a>
    </li>
    <li>
    	<span><i class="fa fa-key"></i>&nbsp;Change Password</span>
    </li>
</ol>
<div class="chnage_pass">
	<h3>Change Password</h3>
	{% for message in app.flashes('errcurrentpass') %}
	    <div class="flash-notice error">
	        {{ message }}
	    </div>
	{% endfor %}
	{% for message in app.flashes('successpass') %}
	    <div class="flash-notice">
	        {{ message }}
	    </div>
	{% endfor %}
	<div class="new_form_pass">
		<form method="Post" action="{{ path('driving_school_student_changepassword') }}" name="validatedForm" id="validatedForm">
			<div>
				<label>Current Password</label>
				<input type="password" name="current_password" id="current_password" required>
			</div>
			<div>
				<label>New Password</label>
				<input type="password" name="new_password" id="new_password" required>
			</div>
			<div>
				<label>Confirm New Password</label>
				<input type="password" name="confirm_password" id="confirm_password">
			</div>
			<div>
				<input type="submit" name="submit" value="Change Password">
			</div>
		</form>
	</div> 
</div>
<script type="text/javascript">
$(document).ready(function (){
	var validator = $("#validatedForm").validate({
	    rules: {
	        current_password: {
	            required: true,
	        },
	        new_password: {
	            required: true,
	        },
	        confirm_password: {
	            required: true,
	            equalTo: "#new_password"
	        }
	    },
	    messages: {
            current_password: {
            	required: "Please Enter Current Password",
            	minlength: "Enter at least {0} characters",
            },
            new_password: {
            	required: "Please Enter New Password",
            	minlength: "Enter at least {0} characters",
            },
            confirm_password: {
            	required: "Please Enter Confirm Password",
            	minlength: "Enter at least {0} characters",
            	equalTo: "Enter Confirm Password Same as New Password",
            },
        },
	});
	$("#validatedForm input").focusout(function () {
	    validator.element(this);
	});	
});
</script>
{% endblock %}