{% extends 'student_base.html.twig' %}{% block title %}Dashboard{% endblock %}
{% block content %}
	<ol class="breadcrumb">
        <li>
            <span><i class="fa fa-home"></i>&nbsp;Dashboard</span>
        </li>
    </ol>
	<div class="new_portal_layout">
		<div class="portal_new">
			<div class="portal_new_layout">
				<input id="student_logo_upload" name="studentimg" type="file">
				{% if imagepath == null %}
					<a class="click-change-img" href="javascript:void(0);">
						<img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/nouser.jpg'))}}">
					</a>
				{% else %}
					<a class="click-change-img" href="javascript:void(0);">
						<img src="{{ imagepath }}">
					</a>
				{% endif %}
			</div>
			<div class="portal_school">
				<b>{{ student.studentname }}</b>
				<span>{{ student.schoolName }}</span>
			</div>
		</div>
	</div>
	<div class="new_portal_layout stu-outstanding-reservations-t">
		<div class="portal_new notify-portal_new">
			<div class="block_title_new"><span class="sub-heading">Outstanding reservations</span></div>
			{% if reservations is not empty %}
			<form method="post" action="{{ url('driving_school_student_dashboard_reservation') }}" onsubmit="return validate_form();">
                        {% for reservation in reservations %}
                        <div class="row">
                            <input type="checkbox" name="reservationchk[]" value="{{ reservation.id }}" class="reservationcheck"><label></label>
                            <div class="studentname-item grid-3">
                                <span><b>{{ reservation.studentname }}</b></span>
                                <span>{{ reservation.instructor_name }}</span>
                                <span>{{ reservation.license_plate }}</span>
                            </div>
                            <div class="date-item grid-3">
                                <div class="full-date">{{ reservation.start_date|date('l d F') }}</div>
                                <div class="start-date">{{ reservation.start_date|date('H:i') }}</div>
                                <span class="time_dash">-</span>
                                <div class="end-date">{{ reservation.end_date|date('H:i') }}</div>
                            </div>
                            <span class="lesson-item grid-3" style="background-color: {{ reservation.coursecolor }}">
                                <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/blank_icon/' ~ reservation.icon_path))}}" height="30" width="30" />
                                {{ reservation.coursesname }}
                            </span>
                        </div>
                        {% endfor %}
                        <div class="statusreservation">
                            <label>Selected reservations:</label>
                            <div class="input-field">
                                <input type="submit" name="submitaccept" value="Accept">
                                <input type="submit" name="submitreject" value="Reject">
                            </div>
                        </div>
                    </form>
                    <span class="auto-mail">Students will automatically receive an email here.</span>
                {% else %}
                <span>There are no outstanding reservations at this time.</span>
                {% endif %}
            </div>
		</div>
	</div>
	<script>
		function validate_form()
		{
		    valid = true;

		    if($('input[type=checkbox]:checked').length == 0)
		    {
		        alert ( "Please select at least one checkbox" );
		        valid = false;
		    }

		    return valid;
		}
	</script>
{% endblock %}