{% extends 'student_base.html.twig' %}{% block title %}Profile{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
    </li>
    <li>
    	<span><i class="fa fa-copy"></i>&nbsp;Invoices</span>
    </li>
</ol>
<div id="menu-content" class="">
	<h1>You choose to view Invoices</h1>
</div>
{% endblock %}