{% extends 'student_base.html.twig' %}{% block title %}Report{% endblock %}
{% block content %}
{% stylesheets
    '@DrivingSchoolStudentBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
	<ol class="breadcrumb">
        <li>
	        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
	    </li>
	    <li>
	        <a href="{{ path('driving_school_student_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
	    </li>
	    <li>
	    	<a href="{{ path('driving_school_student_lesson_detail', { 'planningid' : planningid }) }}">&nbsp;Lesson Detail</a>
	    </li>
	    <li>
	    	<span>&nbsp;Report</span>
	    </li>
    </ol>
    <div class="new_portal_layout">
		{% for lessonModule in lessonsModules %}
			<div class="portal_new portal_report_new">
				<a href="{{ path('driving_school_student_lesson_report_roles', {'planningid' : planningid, 'moduleid' : lessonModule.id }) }}">
					<div class="progression-module-name">
						{{ lessonModule.moduleName }}
					</div>
					<div class="module-rating-bar">
						<div class="progress" style="height: 10px;">
	                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ lessonModule.percentage }}%"></div>
	                    </div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}