{% extends 'student_base.html.twig' %}{% block title %}{{ lessonDetail.trainingname }}{% endblock %}
{% block content %}
	<ol class="breadcrumb">
        <li>
	        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
	    </li>
	    <li>
	        <a href="{{ path('driving_school_student_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
	    </li>
	    <li>
	    	<span>&nbsp;Lesson Detail</span>
	    </li>
    </ol>
	<div class="new_portal_layout">
		<div class="portal_new">
			<div>
				<p><b>Date </b></p>{{ lessonDetail.start_date|date('l, F jS, Y') }}
			</div>
			<div>
				<p><b>Time of day </b></p>{{ lessonDetail.start_date|date('h:i A') }} to {{ lessonDetail.end_date|date('h:i A') }}
			</div>
			<div>
				<p><b>Instructor </b></p>{{ lessonDetail.instructorname }}
			</div>
		</div>
	</div>
	{% if lessonDetail.trainingtype == '0' %}
	<a href="{{ path('driving_school_student_lesson_report', {'planningid' : lessonDetail.id }) }}">
		<div class="new_portal_layout">
			<div class="portal_new portal_detail_new">
				<span>View progress of {{ lessonDetail.trainingname }}</span>
			</div>
		</div>
	</a>
	{% endif %}
{% endblock %}