{% extends 'student_base.html.twig' %}{% block title %}Lessons{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
    </li>
    <li>
    	<span><i class="fa fa-check"></i>&nbsp;Lessons</span>
    </li>
</ol>
<div class="">
	<div id="lessons-content">
        {% for lesson in lessons %}
            <a href="{{ path('driving_school_student_lesson_detail', {'planningid' : lesson.id}) }}">
                <div class="lesson-inner-content">
                    <span class="user-img"><img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ lesson.icon_path))}}" height="30" width="30" /> {{ lesson.start_date|date('l, F jS, Y') }}</span>
                    <div class="inner-right-content">
                        <span>{{ lesson.start_date|date('h:i A') }}</span>
                        <span>{{ lesson.end_date|date('l, F jS, Y') }}</span>
                        <span>{{ lesson.end_date|date('h:i A') }}</span>
                        <span>{{ lesson.trainingname }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
	</div>
</div>
{% endblock %}