{% extends 'student_base.html.twig' %}{% block title %}{{lessonModuleName}}{% endblock %}
{% block content %}
{% stylesheets
    '@DrivingSchoolStudentBundle/Resources/public/css/bootstrap.min.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
	<ol class="breadcrumb">
        <li>
	        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
	    </li>
	    <li>
	        <a href="{{ path('driving_school_student_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
	    </li>
	    <li>
	    	<a href="{{ path('driving_school_student_lesson_detail', { 'planningid' : planningid }) }}">&nbsp;Lesson Detail</a>
	    </li>
	    <li>
	    	<a href="{{ path('driving_school_student_lesson_report', { 'planningid' : planningid }) }}">&nbsp;Report</a>
	    </li>
	    <li>
	    	<span>Roles</span>
	    </li>
    </ol>
    <div class="new_portal_layout">
		{% for scorecard in scorecards %}
			<div class="portal_new portal_report_new">		
				<div class="clickRoles" data-id="{{ scorecard.lessonRolesId }}">	
					<div class="progression-module-name">
						<b>{{ scorecard.lessonRolesName }}</b>
						<span id="progress-lebel{{ scorecard.lessonRolesId }}">
							{% for assessment in assessments %}
								{% if scorecard.progressbarValue == loop.index - 1 %}
									{{ assessment.name }}
								{% endif %}
							{% endfor %}
						</span>
					</div>
					{% set widthcount = scorecard.progressbarValue*100/assessment_count %}
					<div class="module-rating-bar" id="hideprogressbar_{{ scorecard.lessonRolesId }}">
						<div class="progress" style="height: 10px;">
	                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ widthcount }}%"></div>
	                    </div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}