 {% block stylesheets %}
    {% include 'DrivingSchoolSchoolBundle:Rijlesprikker:css.html.twig' %}
{% endblock %}

{% block content %}
<body>
	<div class="register_pg_new">
	    <div class="tbl">
	        <div class="tbl-cell">
				<div class="container right-middle-section clearfix">
					<a href="{{ path('driving_school_front_homepage') }}">
	                    <img src="http://devyg.websiteserverhost.com/drivingschoolplatform/html/images/Rijlesprikker-logo-v12.svg" alt="">
	                </a>

					<div class="messages">
					{% for flashMessage in app.session.flashbag.get('success') %}
					    {{ flashMessage }}
					{% endfor %}

					{% if error %}
					    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					
					</div>
					{{ form_start(form, {'action': path('driving_school_student_login_post')}) }}
					{{ form_errors(form) }}
					

					<div class="form-row-main">
			        	<div class="first-part clearfix">
			        		<div class="form-row">
								{{ form_row(form.username) }}
							</div>
							<div class="form-row">
								{{ form_row(form.password) }}
							</div>
						</div>
						<div class="form-row submit-row">
							<button type="submit">Login</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}