{% extends 'student_base.html.twig' %}{% block title %}Profile{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
    </li>
    <li>
    	<span><i class="fa fa-user-circle"></i>&nbsp;Profile</span>
    </li>
</ol>
<div class="new_profile stu-profile-tour">
	<div class="new_profile_block">
		<span>INFORMATION</span>
		<a href="{{ url('driving_school_student_drivingschool') }}" class="stu-information-t"><i class="fa fa-info" aria-hidden="true"></i> Force Driving</a>
	</div>
	<div class="new_profile_block">
		<span>ACCOUNT</span>
		<a href="{{ url('driving_school_student_changepassword') }}" class="stu-changepass-t"><i class="fa fa-lock" aria-hidden="true"></i> Change your password</a>
	</div>
	<div class="new_profile_block">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	        <a href="{{ path('driving_school_student_logout', {'subdomain': app.user.getUserName() }) }}">
	            <!-- <i class="fa fa-unlock-alt" aria-hidden="true"></i>  -->
	            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	        </a>
	    {% else %}
	        <a href="{{ path('driving_school_student_login', {'subdomain': 'newuser' })}}">
	            <!-- <i class="fa fa-unlock-alt" aria-hidden="true"></i>  -->
	            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
	        </a>
	    {% endif %}
	</div>
</div>
{% endblock %}