{% extends 'student_base.html.twig' %}{% block title %}Profile{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
    </li>
    <li>
    	<a href="{{ path('driving_school_student_profile') }}"><i class="fa fa-user-circle"></i>&nbsp;Profile</a>
    </li>
    <li>
    	<span>Force Driving</span>
    </li>
</ol>
<div class="drive_block">
	<div class="drive_image">
		{% if imagepath != '' %}
			<img src="{{ imagepath }}">
		{% else %}
			<img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/nouser.jpg'))}}">
		{% endif %}
	</div>
	<div class="drive_address">
		<div class="drive_loop">
			<label>Telephone</label>
			<span>{{ schoolprofile.schoolphone }}</span>
		</div>
		<div class="drive_loop">
			<label>Email</label>
			<span>{{ schoolprofile.schoolemail }}</span>
		</div>
		<div class="drive_loop">
			<label>Address</label>
			<span>{{ schoolprofile.schoolAddress }}</span>
		</div>
	</div>
</div>
{% endblock %}