{% extends 'student_base.html.twig' %}{% block title %}Planning{% endblock %}
{% block content %}
    <span>Event Planning</span>
    {{ form_start(form, {'action': path('driving_school_student_appointmentsave') }) }}
    	{{ form_errors(form) }}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endfor %}
        <div class="package-item">
            <div class="row1">
            {{ form_row(form.pricePackage) }}
            </div>
            <div  class="row2">
                {{ form_row(form.trainingSession) }}
            </div>
        </div>
        <div class="popup-view start-date-view date-view">
            {{ form_row(form.startdate) }}
        </div>
        <div class="popup-view end-date-view date-view">
            {{ form_row(form.enddate) }}
            <select id="duration-selector" class="duration-selector">
                <option value="30">0:30</option> 
                <option value="45">0:45 hours</option> 
                <option value="50">0:50 hours</option> 
                <option value="55">0:55 hours</option> 
                <option value="60">1:00</option> 
                <option value="75">1:15 o'clock</option> 
                <option value="90">1:30</option> 
                <option value="100">1:40 hours</option> 
                <option value="105">1:45 am</option> 
                <option value="120">2:00</option> 
                <option value="150">2:30 am</option> 
                <option value="180">3:00</option> 
                <option value="200">3:20</option> 
                <option value="360">6:00</option> 
                <option value="420">7:00</option> 
                <option value="450">7:30</option> 
                <option value="480">8:00</option> 
                <option value="custom_duration">Different...</option>
            </select>
        </div>
        <div class="popup-view vehicle-view">
            {{ form_row(form.vehicle) }}
        </div>
        <div class="popup-view instructor-view">
            {{ form_row(form.instructor) }}
        </div>
        <div class="popup-view description-view">
            {{ form_widget(form.description) }}
        </div>
        <div class="popup-view location-view">
            {{ form_widget(form.location) }}
        </div>
        <div class="popup-buttons">
            <input type="submit" name="submit" value="Save" class="planningsubmit">
        </div>
    {{ form_end(form) }}
{% endblock %}