{% extends 'student_base.html.twig' %}{% block title %}Planning{% endblock %}
{% block content %}

<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Appointment Details</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-check"></i>&nbsp;Appointment Details</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix lesson-middle-section">
    <div class="create-btn">
        <a href="{{ path('driving_school_student_appointmentlist') }}" class="fancybox">Go Back</a>
    </div>
    
    <div class="package-box-wrapper">
        <table class="new_tab_design for_btns" width="100%" border="">
            <tbody>
                <tr>
                    <td>Id</td> 
                    <td>{{ appointmentdetail.id }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ appointmentdetail.description }}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{ appointmentdetail.location }}</td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>{{ appointmentdetail.startdate |date('d,M Y H:i') }}</td>
                </tr>
                <tr>
                    <td>End</td>
                    <td>{{ appointmentdetail.enddate |date('d,M Y H:i') }}</td>
                </tr>
                <tr>
                    <td>School</td>
                    <td>{{ appointmentdetail.school.schoolName }}</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>{{ appointmentdetail.student.firstName ~ " " ~  appointmentdetail.student.lastName }}</td>
                </tr>
                <tr>
                    <td>Vehicle</td>
                    <td>{{ appointmentdetail.vehicle.licensePlate}}</td>
                </tr>
                <tr>
                    <td>Instructor</td>
                    <td>{{ appointmentdetail.instructor.instructorName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}