{% extends 'student_base.html.twig' %}{% block title %}Planning{% endblock %}
{% block content %}

<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Appointments</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-check"></i>&nbsp;Appointments</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix lesson-middle-section">
    <div class="create-btn">
        <a href="{{ path('driving_school_student_appointment') }}" class="fancybox">New Appointment</a>
    </div>
    
    <div class="package-box-wrapper">
        <table class="new_tab_design for_btns" width="100%" border="">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>School</th>
                    <th>Student</th>
                    <th>Vehicle</th>
                    <th>Instructor</th>
                    <th></th>
                </tr>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.id }}</td>
                        <td>{{ appointment.description }}</td>
                        <td>{{ appointment.location }}</td>
                        <td>{{ appointment.startdate |date('d,M Y H:i') }}</td>
                        <td>{{ appointment.enddate |date('d,M Y H:i') }}</td>
                        <td>{{ appointment.school.schoolName }}</td>
                        <td>{{ appointment.student.firstName ~ " " ~  appointment.student.lastName }}</td>
                        <td>{{ appointment.vehicle.licensePlate}}</td>
                        <td>{{ appointment.instructor.instructorName}}</td>
                        <td class="to_center"><a href="{{ path('driving_school_student_appointmentdetail',{ 'appointmentid': appointment.id }) }}"><button>Details</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}