{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_vehicle') }}"><i class="fa fa-car"></i>&nbsp;Vehicles</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix vehicles-create-section">
    <!-- <div class="ml-one for_mobile"> 
         <span>{{ title }}</span>
    </div> -->
    {% for message in app.flashes('error') %}
        <div class="flash-danger">
            {{ message| raw }}
        </div>
    {% endfor %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-row-main">
    	<div class="form-row">
            {{ form_label(form.licensePlate) }}
            <span class="error_red">{{ form_errors(form.licensePlate) }}</span>
            {{ form_widget(form.licensePlate) }}
        </div>
        <div class="form-row">
            {{ form_label(form.cbrCode) }}
            <span class="error_red">{{ form_errors(form.cbrCode) }}</span>
            {{ form_widget(form.cbrCode) }}
        </div>
        <div class="form-row">
            {{ form_label(form.brand) }}
            {{ form_widget(form.brand) }}
            <span class="error_red">{{ form_errors(form.brand) }}</span>
        </div>
        <div class="form-row">
            {{ form_label(form.FashionModel) }}
            <span class="error_red">{{ form_errors(form.FashionModel) }}</span>
            {{ form_widget(form.FashionModel) }}
        </div>
        <div class="form-row">
            {{ form_row(form.construction_year) }}
        </div>
        <div class="form-row full_row check-list">
            {{ form_row(form.suitable_training_courses) }}
        </div>
        <div class="form-row">
            {{ form_widget(form.status) }}
            {{ form_label(form.status) }}
        </div>
        <div class="form-row submit-row">
            <button type="submit">{{ btn_title }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}