{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Vehicles</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-car"></i>&nbsp;Vehicles</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix vehicle-tour">
   <!--  <div class="ml-one for_mobile"> 
         <span>Vehicles</span>
    </div> -->
    <div class="create-btn">
        <a href="create" title="" class="vehicle-new-t"> Create Vehicle </a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 

    <table width="100%" border="" class="new_tab_design">
        <tr>
            <th>Licence Plate</th>
            {#<th>Mileage</th>#}
            <th>Education</th>
            <th class="vehicle-action-t">Action</th>
        </tr>
        {% for vehicle in vehicles %}

        <tr>
            <td>{{ vehicle.license_plate }}</td>
            {#<td>{{ vehicle.max_mileage }}<br/> {{ vehicle.time }}</td>#}
            {% set vehiclePaths = vehicle.icon_path | split(",") %}
            <td>
            {% for vehiclePath in vehiclePaths %}
                <img src ="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ vehiclePath))}}" width="40" />
            {% endfor %}
            </td>
            <td>
                <a href="{{ vehicle.id }}/edit" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="{{ vehicle.id }}/delete" class="action-btn" onclick="return confirm('Are you sure you want to delete this item?');" title="Delete"><i class="fa fa-trash"></i></a>
                <a href="{{ vehicle.id }}/mileage" class="action-btn" title="Mileage"><i class="fa fa-tachometer"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
