{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Mileage</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_vehicle') }}"><i class="fa fa-home"></i>&nbsp;Vehicles</a>
                </li>
                <li>
                    <span>Mileage</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix mileage-content">
    <!-- <div class="ml-one">
        <span>Vehicles / {{ licenseplate }} / modes</span>
    </div> -->
   <!--  <div class="ml-one for_mobile"> 
         <span>Mileage</span>
    </div> -->
    {% for message in app.flashes('notice') %}
        <div class="flash-notice flash-danger">
            {{ message }}
        </div>
    {% endfor %} 
    {% for message in app.flashes('success') %}
        <div class="flash-notice flash-success">
            {{ message }}
        </div>
    {% endfor %}  
    <form method="post" action="{{ path('driving_school_school_vehicle_mileage', {'id' : id }) }}" name="mileagefrm" id="mileagefrm">
        <table width="100%" border="" class="new_tab_design new_imput2">
            <tr>
                <th>Mileage</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
            <tr>
                <td><input type="text" name="mileage" id="mileage" onkeypress="return isNumberKeydot(event)" onpaste="return false;"></td>
                <td><input type="text" name="date" value="{{ 'now'|date('d-m-Y') }}" onkeypress="return isNumberKeyDesh(event)" onpaste="return false;"></td>
                <td><input type="text" name="time" value="{{ 'now'|date('H:i:s') }}" onkeypress="return isNumberKeyDesh(event)" onpaste="return false;"></td>
                <td><input type="submit" name="submit" value="+ Add"></td>
            </tr>
            {% for vehiclekm in vehiclekms %}
            <tr>
                <td>{{ vehiclekm.mileage }}</td>
                <td>{{ vehiclekm.date | date("d-m-Y") }}</td>
                <td>{{ vehiclekm.time }}</td>
                <td>
                    <a href="{{ path('driving_school_school_vehicle_mileagedelete', {'vehicleid' : id, 'id' : vehiclekm.vkmid }) }}" class="action-btn"  onclick="return confirm('Are you sure you want to delete this item?');" title="Delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function (){
    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.indexOf(" ") < 0 && value != ""; 
    }, "No space please and don't leave it empty");

    var validator = $("#mileagefrm").validate({
        rules: {
            mileage: {
                required: true,
                noSpace: true,
                number: true,
            },
            date: {
                required: true,
                noSpace: true,
            },
            time: {
                required: true,
                noSpace: true,
            },
        },
        messages: {
            mileage: {
                required: "This value should not be blank.",
            },
            date: {
                required: "This value should not be blank.",
            },
            time: {
                required: "This value should not be blank.",
            },
        },
    });
    $("#mileagefrm input").focusout(function () {
        validator.element(this);
    }); 
});
</script>
{% endblock %}
