{% for number in numbers %}
	<span>
		<a href="https://api.whatsapp.com/send?phone={{ number.phone|replace({'+': "", '(': "", ')':"", ' ':"", '-':"" }) }}" target="_blank"><h1>{{ number.phone }}</h1></a>
	</span>
	<span>
		<a href="https://api.whatsapp.com/send?phone={{ number.phone|replace({'+': "", '(': "", ')':"", ' ':"", '-':"" }) }}" target="_blank">click here to start with Whatsapping</a>
	</span>
{% endfor %}