{% extends 'school_base.html.twig' %}
{% block title %}Rijlesprikker Homepage{% endblock %}
{% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
	    <span>Appointment labels</span>
	    <div class="breadcrumb-content">
		    <ol class="breadcrumb">
		        <li>
		            <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		        </li>
		        <li>
		            <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
		        </li>
		        <li>
		            <span>Appointment labels</span>
		        </li>
		    </ol>
	    </div>
	</div>
</div>
<div class="container right-middle-section clearfix">
	<div class="ml-one for_mobile"> 
        <span>Appointment labels</span>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 
	<form class="new_schedule" method="post" action="{{ path('driving_school_school_updatecolor') }}">
		{% for name, newlabel in newLabels %}	
			<div class="new_1_lay">		
			<div class="new_schedule_title">
				<img src ="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ newlabel.icon_path))}}" width="40" />
				{{ name }}	
			</div>
			{% for key, label in newlabel %}
				{% if key|trim != 'icon_path' %}
						<div class="form-row-main new_design_add">
							<div class="form-row">
								<label>{{ label.trainingname }}</label>
								<input type="hidden" name="id_{{ label.trainingid }}[id]" value="{{ label.trainingid }}">
								<input id="appointmentlabel{{ label.trainingid }}" name="id_{{ label.trainingid }}[color]" type="hidden" value="{{ label.appointment_label }}">

								<div class="new_colors_pos for_app">
						            <div id="getcolorlabel{{ label.trainingid }}" style="background-color:{{ label.appointment_label }};" class="colorclick clicklebel colorpicker" data-id="{{ label.trainingid }}"></div>
						            <div class="new_colors hidebodyclickbox" id="colordisplaylabel{{ label.trainingid }}">
						            {% for color in colors %}
						                <div class="color-box labelcolorbox colorpicker" id="{{ color.colorCode }}" data-id="{{ label.trainingid }}" style="background-color:{{ color.colorCode }};"></div>
						            {% endfor %}
						            </div>
						        </div>
					        </div>
						</div>
				{% endif %}
		{% endfor %}
		</div>
		{% endfor %}
		<div class="form-row submit-row">
	        <button type="submit">Update</button>
	    </div>
    </form>
</div>
{% endblock %}