{% extends 'school_base.html.twig' %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Schedule</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-calendar"></i>&nbsp;Schedule</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix schedule-content schedule-tour">
    <!-- <div class="ml-one for_mobile"> 
         <span>Schedule</span>
    </div> -->
    
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 
    <div class="package-box-wrapper">
        <a href="{{ path('driving_school_school_reservations') }}" class="package-box schedule-reservation-t">
            <div class="package-box-bg">
                <h4>Reservations</h4>
                <div class="package-box-img">
                    <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/calander.png'))}}">
                </div>
            </div>
        </a>
        <a href="{{ path('driving_school_school_appointmentlabel') }}" class="package-box schedule-appointment-t">
            <div class="package-box-bg">
                <h4>Appointment Labels</h4>
                <div class="package-box-img">
                    <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/drop.png'))}}">
                </div>
            </div>
        </a>
        <a href="{{ path('driving_school_school_instructorgroups') }}" class="package-box schedule-group-t">
            <div class="package-box-bg">
                <h4>Instructor Groups</h4>
                <div class="package-box-img">
                    <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/user_group.png'))}}">
                </div>
            </div>
        </a>
        <a href="{{ path('driving_school_school_holidays') }}" class="package-box schedule-holiday-t">
            <div class="package-box-bg">
                <h4>Holidays</h4>
                <div class="package-box-img">
                    <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/tree.png'))}}">
                </div>
            </div>
        </a>
        <div class="package-box-btn"><div class="package-box-btn-inner"></div></div>
    </div>
</div>

{% endblock %}
