{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
	    <span>Reservation</span>
	    <div class="breadcrumb-content">
		    <ol class="breadcrumb">
		        <li>
		            <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		        </li>
		        <li>
		            <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
		        </li>
		        <li>
		            <span>Reservation</span>
		        </li>
		    </ol>
	    </div>
	</div>
</div>
<div class="container right-middle-section clearfix schedule-reservation">
	{{ form_start(form) }}
	<div class="form-row-main">
    	<div class="first-part clearfix">
    		<div class="ml-one for_mobile"> 
		        <span>Reservation</span>
		    </div>
    		<div class="reservation_pg">
    			<div class="form-row">
					{{ form_widget(form.notificationOff) }}
					{{ form_label(form.notificationOff) }}
					<span>Notifications are standard after scheduling. You can still turn on notifications per appointment.</span>
				</div>
				<div class="form-row">
					{{ form_widget(form.toReserve) }}
					{{ form_label(form.toReserve) }}
					<span>Students are allowed to schedule on reservation blocks.</span>
				</div>
				<div class="form-row">
					{{ form_widget(form.confirmationRequired) }}
					{{ form_label(form.confirmationRequired) }}
					<span>Reservations must first be confirmed by the driving school.</span>
				</div>
				<div class="form-row">
					{{ form_widget(form.unknownInstructor) }}
					{{ form_label(form.unknownInstructor) }}
					<span>If students plan, they may not choose the instructor themselves.</span>
				</div>
				<div class="form-row reservation-possible">
					{{ form_row(form.reservationPossibleFrom, { 'attr': {'onkeypress': 'return isNumberKey(event)', 'onpaste':'return false;'} }) }}
					<span>days before the lesson date</span>
				</div>
				<div class="form-row reservation-possible">
					{{ form_row(form.reservationPossibleUntil, { 'attr': {'onkeypress': 'return isNumberKey(event)', 'onpaste':'return false;'} }) }}
					<span>days before the lesson date</span>
				</div>
    		</div>
		</div>
		<div class="form-row submit-row">
			<button type="submit">Update</button>
		</div>
	</div>
	{{ form_end(form) }}
</div>
<script type="text/javascript">
$(document).ready(function (){
    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.indexOf(" ") < 0 && value != ""; 
    }, "No space please and don't leave it empty");

    var validator = $("form[name='reservation_form']").validate({
        rules: {
            "reservation_form[reservationPossibleFrom]": {
                required: true,
                noSpace: true,
                number: true,
            },
            "reservation_form[reservationPossibleUntil]": {
                required: true,
                noSpace: true,
                number: true,
            },
        },
        messages: {
            "reservation_form[reservationPossibleFrom]": {
                required: "This value should not be blank.",
            },
            "reservation_form[reservationPossibleUntil]": {
                required: "This value should not be blank.",
            },
        },
    });
    $("form[name='reservation_form'] input").focusout(function () {
        validator.element(this);
    }); 
});
</script>
{% endblock %}