{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.blogImage != null %}
            {% thumbnail object.blogImage, 'small' %}
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}