{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_assessmentmethod') }}">&nbsp;Assessment Method</a>
                </li>
               <!--  <li>
                    <span>Create</span>
                </li> -->
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix vehicles-create-section">
    {{ form_start(form) }}
    <div class="form-row-main">
        <div class="form-row full_row">
            {{ form_label(form.name) }}
            <span class="error_red">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-row submit-row">
            <button type="submit">{{ btn_title }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}