{% extends 'school_base.html.twig' %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Assessment Method</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
                </li>
                <li>
                    <span>Assessment Method</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix lesson-middle-section">
    <div class="create-btn">
        <a href="{{ path('driving_school_school_add_assessmentmethod') }}" title="">Create Assessment Method</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 

    <table width="100%" border="" class="new_tab_design">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for Assessment in Assessments %}

        <tr>
            <td>{{ Assessment.name }}</td>
            <td>
                <a href="{{ path('driving_school_school_edit_assessmentmethod', {'id' : Assessment.id }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="{{ path('driving_school_school_delete_assessmentmethod', {'id' : Assessment.id }) }}" class="action-btn" title="Delete" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
