{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %}{% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Lessons</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <span><i class="fa fa-check"></i>&nbsp;Lessons</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix lesson-middle-section">
    <a href="{{ path('driving_school_school_list_assessmentmethod') }}" class="mofify-btn"><i class="fa fa-pencil" aria-hidden="true"></i>Modify assessment method</a>
    
    <div class="package-box-wrapper">
        {% for Lesson in Lessons %}
        <a href="{{ Lesson.id }}/moduleList" class="package-box">
            <div class="package-box-bg">
                <h4>Lesson Card {{ Lesson.name }}</h4>
                <div class="package-box-img">
                    {% for geticon in icons %}
                            {% if geticon.id|trim == Lesson.icon|trim %} <img src="{{absolute_url(asset('bundles/drivingschoolschool/images/icons/' ~ geticon.iconPath))}}" /> {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
