{% extends 'school_base.html.twig' %}
{% block title %}Rijlesprikker Homepage{% endblock %}
{% block content %}
<div class="mobilebreadcrumb">
	<div class="ml-one for_desktop"> 
		<span>Modules</span>
		<div class="breadcrumb-content">
			<ol class="breadcrumb">
		        <li>
		            <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
		        </li>
		        <li>
		            <a href="{{ path('driving_school_school_list_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
		        </li>
		        <li>
		            <span>Modules</span>
		        </li>
		    </ol>
	    </div>
	</div>
</div>
<div class="container right-middle-section clearfix lessonsModule-tour">
	<!-- <div class="ml-one for_mobile"> 
		 <span>Modules</span>
	</div> -->
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %} 
	{% for modulearr in modules %}
		{% set i = i + 1 %}
		{% for module in modulearr %}
			{% for key, roles in module %}
				<div class="ml-one new_design">
					<div class="block_title_new">
						<span>Module {{i}}: {{ key }}</span>
						<a href="{{ modulearr.module_id }}/moduleedit" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					</div>
					<div class="block_data_new">
					{% for role in roles %}
					<div>
						{{ role.name }}
					</div>
					{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	{% endfor %}
	
	<div class="ml-one-btn">
        <a href="moduleCreate" class="module-new-t"> 		
            <i class="fa fa-plus"></i> Add	
        </a>
    </div>
</div>

{% endblock %}