{% extends 'school_base.html.twig' %}
{% block title %}Rijlesprikker Homepage{% endblock %}
{% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_list_lessons') }}"><i class="fa fa-check"></i>&nbsp;Lessons</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_modulelist_lessons', {'id' : lessionid}) }}"><i class="fa fa-check"></i>&nbsp;Modules</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix lession-module-section">
    <!-- <div class="ml-one">
        <span>Lessons / Lesson card {{lessonName}} / Create Module</span>
    </div> -->
    <div class="ml-one for_mobile"> 
        <span>{{ title }}</span>
    </div>
    
    {{ form_start(form, { 'attr': {'id': 'modulefrm'} }) }}
        <div class="form-row-main new_design_edit1">
            <div class="form-row full new_design_edit">
                <div class="newinput_wrap">
                    <span class="error_red">{{ form_errors(form.moduleName) }}</span>
                    {{ form_widget(form.moduleName, { 'attr': {'class': 'form-control','placeholder': 'Module Name'} }) }}
                </div>
                
                <div class="form-row full new_design_center new_2">
                  <div id="rolesdisplay">
                      {% for role in roles %}
                          <div class='role_input'><input type='text' name='role[{{ role.id }}]' id='role_{{ loop.index }}' value="{{ role.name }}"  class='rolesvalid' required="">
                          <input class='btn btn-danger removeNext' type='button' id='removeNext' value='' /><i class="fa fa-times" aria-hidden="true"></i></div>
                     {% endfor %}
                  </div>
                  <input class="btn btn-success" type="button" id="showNext" value="+ Add" />
                </div>
            </div>

            <div class="form-row submit-row">
                <button type="submit">{{ btn_title }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
<script type="text/javascript">
$(document).ready(function (){
    jQuery.validator.addMethod("noSpace", function(value, element) { 
        return value.trim() != ""; 
    }, "No space please and don't leave it empty");

    var validator = $("#modulefrm").validate({
        rules: {
            'lessons_form[moduleName]': {
                required: true,
                noSpace: true,
            },
        },
        messages: {
            'lessons_form[moduleName]': {
                required: "This value should not be blank.",
            },
        },
    });
    
    $("#modulefrm input").focusout(function () {
        validator.element(this);
    });
});
</script>
{% endblock %}