{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop xl-one md-one"> 
        <span>{{ title }}</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_instructorgroups') }}"><i class="fa fa-users"></i>&nbsp;Instructor Group</a>
                </li>
                <li>
                    <span>{{ title }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix instructor-content">
   <!--  <div class="ml-one for_mobile"> 
        <span>{{ title }}</span>
    </div> -->
    {{ form_start(form) }}
    <div class="form-row-main">
    	<div class="form-row">
            {{ form_label(form.name) }}
            <span class="error_red">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-row">
            {{ form_widget(form.status) }}
            {{ form_label(form.status) }}
        </div>
        <div class="form-row full_row">
            {{ form_row(form.instructor) }}
        </div>
        <div class="form-row submit-row">
            <button type="submit">{{ btn_title }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}