{% extends 'school_base.html.twig' %} {% block title %}Rijlesprikker Homepage{% endblock %} {% block content %}
<div class="mobilebreadcrumb">
    <div class="ml-one for_desktop"> 
        <span>Instructor Group</span>
        <div class="breadcrumb-content">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('driving_school_school_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('driving_school_school_schedule') }}"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
                </li>
                <li>
                    <span><i class="fa fa-users"></i>&nbsp;Instructor Group</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="container right-middle-section clearfix instgroup-tour">
    <div class="ml-one for_mobile"> 
        <span>Instructor Group</span>
    </div>
    <div class="create-btn">
        <a href="{{ path('driving_school_school_instructorgroup_create') }}" title="" class="instructor-group-new-t"> Create Instructor Group</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="inst new_tab_design" width="100%" border="">
        <tr>
            <th>Name</th>
            <th>Instructor</th>
            <th class="instructor-group-action-t">Action</th>
        </tr>
        {% for group in groups %}
                <tr>
                    <td>{{ group.instructorGroupName }}</td>
                    <td>{{ group.instructorName }}</td>
                    <td><a href="{{ path('driving_school_school_instructorgroup_edit', { 'id' : group.instructorGroupId }) }}" class="action-btn" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('driving_school_school_instructorgroup_delete', { 'id' : group.instructorGroupId }) }}" class="action-btn"  onclick="return confirm('Are you sure you want to delete this item?');" title="Delete"><i class="fa fa-trash"></i></a></td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
