{% stylesheets
    '@DrivingSchoolSchoolBundle/Resources/public/css/fullcalendar/fullcalendar.min.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/fullcalendar/scheduler.min.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/library/*' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/school.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/fullcalendar/planning.css' filter='cssrewrite'
    '@DrivingSchoolSchoolBundle/Resources/public/css/jquery-ui.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
<link rel="stylesheet" href="{{ asset('bundles/drivingschoolschool/css/fullcalendar/fullcalendar.print.min.css') }}" rel="stylesheet" media="print" />
{% endstylesheets %}
