 <span>Event Planning</span>
 {{ form_start(form, {'action': path('driving_school_school_planning_geteditform'), 'class':'ajaxForm' }) }}
	{{ form_errors(form) }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endfor %}
    <button data-fancybox-close="" class="fancybox-close-small" title="Close"><svg viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22"></path></svg></button>
    <input type="hidden" name="event_id" value="{{ event_id }}">
    <div class="package-item">
        <div class="row1">
        {{ form_row(form.pricePackage) }}
        </div>
        <div class="row2">
            {{ form_row(form.trainingSession) }}
        </div>
    </div>
    {#<div class="popup-view package-view">
        {{ form_row(form.title) }}
    </div>#}
    <div class="popup-view start-date-view date-view">
        {{ form_row(form.startdate) }}
    </div>
    <div class="popup-view end-date-view date-view">
        {{ form_row(form.enddate) }}
        <select id="duration-selector" class="duration-selector">
            <option value="30">0:30</option> 
            <option value="45">0:45 hours</option> 
            <option value="50">0:50 hours</option> 
            <option value="55">0:55 hours</option> 
            <option value="60">1:00</option> 
            <option value="75">1:15 o'clock</option> 
            <option value="90">1:30</option> 
            <option value="100">1:40 hours</option> 
            <option value="105">1:45 am</option> 
            <option value="120">2:00</option> 
            <option value="150">2:30 am</option> 
            <option value="180">3:00</option> 
            <option value="200">3:20</option> 
            <option value="360">6:00</option> 
            <option value="420">7:00</option> 
            <option value="450">7:30</option> 
            <option value="480">8:00</option> 
            <option value="custom_duration">Different...</option>
        </select>
    </div>
    <div class="popup-view reservation-view">
        {{ form_widget(form.isReservation) }}
        {{ form_label(form.isReservation) }}
    </div>
    {#<div class="popup-view school-view">
        {{ form_row(form.school) }}
    </div>#}
    <div class="popup-view student-view">
        {{ form_row(form.student) }}
    </div>
    <div class="popup-view vehicle-view">
        {{ form_row(form.vehicle) }}
    </div>
    <div class="popup-view instructor-view">
        {{ form_row(form.instructor) }}
    </div>
    <div class="popup-view description-view">
        {{ form_widget(form.description) }}
    </div>
    <div class="popup-view location-view">
        {{ form_widget(form.location) }}
    </div>

    <div class="popup-buttons">
        <input type="submit" name="submit" value="Save" class="planningsubmit">
        {% if is_granted('ROLE_INSTRUCTOR') %}
            {% if permissions is not empty %}
                {% if permissions.deleterole == 1 %}
                    <input type="button" name="delete" value="Delete" class="planningdelete">
                {% endif %}
            {% endif %}
        {% elseif is_granted('ROLE_SCHOOL') %}
            <input type="button" name="delete" value="Delete" class="planningdelete">
        {% endif %}
    </div>
    <a data-fancybox-close="" title="Close" class="popup-cancel">Cancel</a>
{{ form_end(form) }}