{% extends 'planning_base.html.twig' %} {% block title %}Rijlesprikker Planning{% endblock %} {% block content %}
	<div class="js-user-type" data-role-type="{{ is_granted('ROLE_SCHOOL') ? 'SCHOOL' : 'INSTRUCTOR' }}">
	    <!-- ... -->
	</div>
	{% if is_granted('ROLE_INSTRUCTOR') %}
		{% if permissions is not empty %}
			<input type="hidden" value="{{ permissions.addrole }}" id="instructoraddrole">
			<input type="hidden" value="{{ permissions.updaterole }}" id="instructorupdaterole">
		{% endif %}
	{% endif %}
	<div class="fc-toolbar fc-header-toolbar planning-tour">
		<div class="fc-center show-xl xl-view"><h2 id="calander_title"></h2></div>
		<div class="fc-left">
			<button type="button" id="instructor-selector-btn" class="fc-instructorSelecter-button fc-button fc-state-default fc-corner-left fc-corner-right instructor-selector-t">Instructors</button>
			<select style="display: none;" id="instructor-selector" multiple="true">
				{% for instructor in instructors %}
					<option value="{{ instructor.id }}">{{ instructor.instructorName }}</option>
				{% endfor %}
			</select>
			<div class="fc-button-group">
				<button type="button" id="fc-prev-button" class="fc-prev-button fc-button fc-state-default fc-corner-left planningprev-t" aria-label="prev"><span class="fc-icon fc-icon-left-single-arrow"></span></button>
				<button type="button" id="fc-next-button" class="fc-next-button fc-button fc-state-default fc-corner-right planningnext-t" aria-label="next"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
			</div>
			<button id="fc-today-button" type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right planningtoday-t">today</button>
		</div>

		<div class="fc-right">
			<div class="fc-button-group">
				<button id="fc-agendaDay-button" type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-left fc-state-active planningday-t">day</button>
				<button id="fc-agendaTwoDay-button" type="button" class="fc-agendaTwoDay-button fc-button fc-state-default">2 days</button>
				<button id="fc-agendaWeek-button" type="button" class="fc-agendaWeek-button fc-button fc-state-default planningweek-t">week</button>
				<button id="fc-month-button" type="button" class="fc-month-button fc-button fc-state-default fc-corner-right planningmonth-t">month</button>
			</div>
		</div>

		<div class="fc-center hide-xl"><h2 id="calander_title"></h2></div>
		<div class="fc-clear"></div>
	</div>


	<div id='calendar' class="planningcalender-t"></div>
{% endblock %}
{% block footer %}
	{{ parent() }}
	<a style="display:none" href="#edit-event" class="fancybox" title="Render Form"><i class="fa fa-envelope" aria-hidden="true"></i></a>
	<div id="edit-event" style="display: none">

	</div>
{% endblock %}