{% extends 'student_base.html.twig' %}{% block title %}School Connect{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('driving_school_student_dashboard') }}"><i class="fa fa-home"></i>&nbsp;Dashboard</a>
    </li>
    <li>
    	<span><i class="fa fa-check"></i>&nbsp;School Connect</span>
    </li>
</ol>
<div class="">
	<div id="schoolsocialconnect-content">
        {% if school.facebookUrl is not empty %}
            <div class="lesson-inner-content">
                <a target="_blank" href="{{ school.facebookUrl }}">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/facebook.png'))}}" />
                    </span>
                </a>
                <a href="mailto:?body=You will be able to connect to my school using this url. {{ school.facebookUrl }}&subject=Referral :: Connect with my school" id="share-facebook">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/share.png'))}}" />
                    </span>
                </a>
            </div>
        {% endif %}

        {% if school.instagramUrl is not empty %}
            <div class="lesson-inner-content">
                <a target="_blank" href="{{ school.instagramUrl }}">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/instagram.png'))}}" />
                    </span>
                </a>
                <a href="mailto:?body=You will be able to connect to my school using this url. {{ school.instagramUrl }}&subject=Referral :: Connect with my school" id="share-instagram">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/share.png'))}}" />
                    </span>
                </a>
            </div>
        {% endif %}

        {% if school.linkedinUrl is not empty %}
            <div class="lesson-inner-content">
                <a target="_blank" href="{{ school.linkedinUrl }}">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/linkedin.png'))}}" />
                    </span>
                </a>
                <a href="mailto:?body=You will be able to connect to my school using this url. {{ school.linkedinUrl }}&subject=Referral :: Connect with my school" id="share-linkedin">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/share.png'))}}" />
                    </span>
                </a>
            </div>
        {% endif %}

        {% if school.twitterUrl is not empty %}
            <div class="lesson-inner-content">
                <a target="_blank" href="{{ school.twitterUrl }}">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/twitter.png'))}}" />
                    </span>
                </a>
                <a href="mailto:?body=You will be able to connect to my school using this url. {{ school.twitterUrl }}&subject=Referral :: Connect with my school" id="share-twitter">
                    <span class="social-img">
                        <img src="{{absolute_url(asset('bundles/drivingschoolstudent/images/share.png'))}}" />
                    </span>
                </a>
            </div>
        {% endif %}
	</div>
</div>
{# <div class="fancybox-social" id="fancybox-social" style="display:none;">
    <form action="{{ path('driving_school_student_schoolsocialshare') }}" id="social-share-form" method="post">
        <div class="share-box">
            <label for="name">Enter comma seperated Email Address</label>
            <input type="text" name="shareemails" />
            <input type="hidden" name="socialtype" />
            <button type="submit">Share</button>
        </div>
    </form>
</div> #}
{% endblock %}
