{% stylesheets
    '@DrivingSchoolFrontBundle/Resources/public/css/style.css' filter='cssrewrite'
    '@DrivingSchoolFrontBundle/Resources/public/css/responsive.css' filter='cssrewrite'
    '@DrivingSchoolFrontBundle/Resources/public/css/animate.css' filter='cssrewrite'
    '@DrivingSchoolFrontBundle/Resources/public/css/owl.carousel.css' filter='cssrewrite'
    '@DrivingSchoolFrontBundle/Resources/public/css/jquery.mmenu.all.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
{% endstylesheets %}
