<footer>
	<div class="container">
		<div class="ft_logo">
			<a href="" title="">
				<img src="{{absolute_url(asset('bundles/drivingschoolfront/images/Rijlesprikker-logo-v12-white.svg'))}}" alt="" />
			</a>
		</div>
		<div class="ft_column">
			<div class="column column-1">
				<ul>
					<li>
						<a href="{{ path('driving_school_front_cms_page', {'route' : 'planning' }) }}" title="Planning">Planning</a>
					</li>
					<li>
						<a href="{{ path('driving_school_front_cms_page', {'route' : 'accountancy' }) }}" title="Accountancy">Accountancy</a>
					</li>
					<li>
						<a href="{{ path('driving_school_front_cms_page', {'route' : 'contact' }) }}" title="Communicate">Communicate</a>
					</li>
					<li>
						<a href="{{ path('driving_school_front_cms_page', {'route' : 'help-desk' }) }}" title="Help Desk">Help Desk</a>
					</li>
				</uL>
			</div>
			<div class="column column-2">
				<ul>
					<li>
						<a href="{{ path('driving_school_front_register') }}" title="Online registration">Online registration</a>
					</li>
					<li>
						<a href="{{ path('driving_school_front_cms_page', {'route' : 'make-an-appointment' }) }}" title="Appointment in the Apprentice App">Appointment in the Apprentice App</a>
					</li>
					<li>
						<a href="{{ path('driving_school_front_cms_page', {'route' : 'planning' }) }}" title="Driving Lesson Planning">Driving Lesson Planning</a>
					</li>
				</uL>
			</div>
			<div class="column column-3">
				<p><strong>Help Desk</strong><span>06 - 82 70 80 70</span></p>
				<p><strong>Whatsapp</strong><span>06 - 82 70 80 70</span></p>
			</div>
			<div class="column column-4">
				<p><strong>E-mail</strong><a title="support@rijlesprikker.nl" href="mailto:support@rijlesprikker.nl">support@rijlesprikker.nl</a></p>
				
			</div>
		</div>
	</div>
</footer>
</div>
<div class="copyright">
	<div class="container">
		<div class="copy_text">
			<p>© 2018 Rijlesprikker. All rights reserved.</p>
		</div>
	</div>
</div>