<header>
    <div class="container">
        <div class="head_section">
            <div class="hd_logo">
                <a href="#" title="Rijlesprikker"><img src="{{absolute_url(asset('bundles/drivingschoolfront/images/Rijlesprikker-logo-v12-white.svg'))}}" alt="Rijlesprikker" /></a>
            </div>
            <div class="hd_right-btns">
                <a class="login_btn" href="{{ path('driving_school_student_login') }}" title="Login">Login <i class="fa fa-chevron-right"></i></a>
                <a class="create_acc" href="{{ path('driving_school_front_register') }}" title="Create a Free Account">Create a Free Account</a>
            </div>
            <nav class="hd_naviagtion">
                <ul>
                    <li><a href="{{ path('driving_school_front_cms_page', {'route' : 'about-product' }) }}" title="About Product">About Product</a></li>
                    <li><a href="{{ path('driving_school_front_cms_page', {'route' : 'price-and-package' }) }}" title="Price & Packages">Price & Packages</a></li>
                    <li><a href="{{ path('driving_school_front_cms_page', {'route' : 'blog' }) }}" title="Blog">Blog</a></li>
                    <li><a href="{{ path('driving_school_front_cms_page', {'route' : 'inquiry' }) }}" title="Inquiry ">Inquiry</a></li>
                    <li><a href="{{ path('driving_school_front_cms_page', {'route' : 'contact' }) }}" title="Contact ">Contact</a></li>
                </ul>
            </nav>
            <div class="menu">
                <a class="menu-bt sb-toggle-right" id="nav-icon1" href="#menu">
                    <div class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>