{% javascripts
  '@DrivingSchoolFrontBundle/Resources/public/js/jquery.min.js'
  '@DrivingSchoolFrontBundle/Resources/public/js/viewportchecker.js'
  '@DrivingSchoolFrontBundle/Resources/public/js/owl.carousel.js'
  '@DrivingSchoolFrontBundle/Resources/public/js/jquery.mmenu.min.js'
  '@DrivingSchoolFrontBundle/Resources/public/js/rijlesprikker.js'
%}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ absolute_url(asset_url) }}"></script>
{% endjavascripts %}
