{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
	<!-- Menu-Mobile Start -->
	<nav class="sb-slidebar" id="menu" style="display:none;">
	    <ul class="clearfix">
			<li><a href="#" title="About Product">About Product</a></li>
			<li><a href="#" title="Price & Packages">Price & Packages</a></li>
			<li><a href="#" title="Blog">Blog</a></li>
			<li><a href="#" title="Inquiry ">Inquiry</a></li>
			<li><a href="#" title="Contact ">Contact</a></li>
		</ul>
	</nav>
	<!-- Menu-Mobile End -->
	{{ page.content | raw }}
{% endblock %}